<h3>Outils pour sécuriser votre vie privée </h3>
<ul>
    <li>
        <a href="{{ path('view_page_privacy', {page:'signal'}) }}">Signal</a>
    </li>
    <li>
        <a href="{{ path('view_page_privacy', {page:'telegram'}) }}">Telegram</a>
    </li>
    <li>
        <a href="https://openclassrooms.com/fr/courses/1112771-la-cryptographie-facile-avec-pgp">
        open PGP pour chiffrer ses emails
        </a>
    </li>
    {#<li>#}
        {#<a href="{{ path('view_page_privacy', {page:'wire'}) }}">Wire</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('view_page_privacy', {page:'riot-matrix'}) }}"#}
        {#>Riot / Matrix</a>#}
    {#</li>#}
</ul>