{% extends 'base.html.twig' %}

{% block masterhead %}
    <h1>Wire</h1>
{% endblock masterhead %}

{% block bigBody %}
<article>
    <p class="description">

    </p>
    <p class="features">

    </p>
    <p class="a-propos">

    </p>
    <p class="installation">
    <h2>Installation</h2>
        <div class="desktop">
            <span class="platform-linux"></span>
            <span class="platform-windows"></span>
            <span class="platform-apple"></span>
        </div>
        <div class="mobile">
            <span class="platform-fdroid"></span>
            <span class="platform-android"></span>
            <span class="platform-appstore"></span>
        </div>
    </p>
    <p class="original-website">
        <a href="https://wire.com" class="btn btn-primary">wire.com</a>
    </p>
</article>
    {% include 'Pages/privacy/listing.html.twig' %}
{% endblock %}

