{% extends "base.html.twig" %}
{% block main %}
    {% if "now"|date('m') >= 2 %}
        {% set eventBD = "23" %}
    {% else %}
        {% set eventBD = "24" %}
    {% endif %}
    <h1>{{ eventBD }}/n heures de la bande dessinée</h1>
    <div class="pull-right">
        Mesurez l'avancement de vos projets BD. <br/>
        {% include('part/share.html.twig') %}
        <div class="alert-info alert">
            Il reste <span id="reste"></span> pages à faire.
        </div>
    </div>
    <div id="24hbd">
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <label for="avancement">
                        <strong> Votre avancement:</strong>
                    </label>
                    <progress id="avancement" value="0" max="100"></progress>
                </p>
                <p>
                    <label for="duree_barre">
                        Avancement de l'épreuve:
                    </label>
                    <progress id="duree_barre" value="0" max="100"></progress>
                </p>

                <span class="alert-success alert pull-left">
                    <label for="pages_finies">
                        Pages finies:
                    </label>
                    <input type="number" min="0" name="pages_finies" id="pages_finies" value="0" autofocus/> <br/>

                </span>
                <label for="start">Début:</label>

                <input type="text" name="start" id="start" value="{{ "now"|date('Y-m-d') }} 12:0:0"/> <br/>
                <label for="jours"> jours de projet:</label>
                <input type="number" name="jours" id="jours" min="0" value="0"/> <br/>
                <label for="heures">heures de projet:</label>
                <input type="number" name="heures" id="heures" min="0" value="{{ eventBD }}"/> <br/>
                <label for="end">Fin:</label>
                <input type="text" name="end" id="end" value="{{ "now+1"|date('Y-m-d') }} 11:0:0"/> <br/>
                <label for="pages">Pages à faire en tout:</label>
                <input type="number" name="pages" id="pages" value="{{ eventBD }}"/> <br/>


                <br/>
                <button class="btn btn-primary" id="launch">
                    sauvegarder votre progression
                </button>
                <button class="btn btn-danger" id="reset">
                    réinitialiser
                </button>
                <hr/>
                <div class="alert alert-info">
                    <label for="pph">
                        Pages par heure:
                    </label>
                    <span id="pph">    </span>
                    <br/>
                    <label for="ppj">
                        pages par jour:
                    </label>
                    <span id="ppj"> </span>
                </div>

            </div>
            <div class="col-lg-4">
                <h2>
                    Feuille de route:</h2>

                <div id="route">

                </div>
            </div>
            <div class="well col-lg-4">
                <div id="retard" class="hidden alert alert-warning">
                    Hololo! vous êtes en retard sur le planning. Courage! Yes you can!
                </div>
                <div id="loose" class="hidden alert alert-danger">
                    Bouh, perduuuuu!
                </div>
                <div id="ok" class="hidden alert alert-info">
                    Vous êtes dans les temps. Continuez comme ça, moussaillon!
                </div>
                <div id="finished" class="hidden alert alert-success">
                    GG vous avez fini avant l'heure! Que de puissance! Allez n'oubliez pas de foutre tout ça en ligne!
                    *0*
                </div>
                <div id="outTime" class="hidden alert alert-info">
                    Vous êtes en dehors de la période de temps entré.
                </div>
                <h2>
                    à l'occasion des {% if eventBD == "23" %}
                        <a href="http://www.23hbd.com/"> 23h de la bande dessinée</a>
                    {% else %}
                        <a href="http://www.24hdelabandedessinee.com/"> 24h de la bande dessinée</a>
                    {% endif %}
                </h2>
                voici de quoi savoir si vous êtes dans les temps pour remplir votre objectif.<br/>
                Donnez le nombre de pages finies ci dessous pour savoir si vous avez de l'avance.<br/>
                Si vous êtes inscrit au site officiel, n'oubliez pas de garder au moins une heure pour scanner et
                envoyer
                vos dessins.

            </div>
        </div>

    </div>
    <hr/>
    {% include('part/links-interactive.html.twig') %}
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/24hbd.js') }}"></script>
    {% endblock %}
    <style>
        label {
            width: 50%;
            display: inline-block;
        }
    </style>

{% endblock %}
