{% extends "base.html.twig" %}
            {% block main %}
<h1 class="rubberBand animated text-center">animate</h1>
                {% include('part/links-interactive.html.twig') %}

            {% endblock %}
