{% extends "base.html.twig" %}

{% block preMain %}
    <div class="container bni">
        <section class="row-fluid">
            <span class="cv centred col-lg-8">
                <h1>
                    Chronomètre BNI
                </h1>
            </span>
        </section>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row-fluid">
            <div class="col-xs-12">

                <div id="chartContainer" style="height: 600px; width: 100%;"></div>
                <button onclick="start()">
                    run timer
                </button>
                <button onclick="clearStuff()">
                    stop
                </button>
                <div id="timeLeft"></div>
                <p>

                    <a href="https://www.cipherbliss.com">Baptiste Lemoine - www.cipherbliss.com</a>
                </p>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        var secondsToDiscount = 60;
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array
                "#2F4F4F",
                "#008080",
                "#2E8B57",
                "#3CB371",
                "#90EE90"
            ]);
        CanvasJS.addColorSet("redShades",
            [//colorSet Array
                "#CC0000",
                "#220000",
            ]);
        var datapoints = [
            {y: secondsToDiscount, label: "reste " + secondsToDiscount + " s"},
            {y: 0, label: "fait"},
        ];

        var chart = null;
        var interval = null;

        renderChart = function () {

            chart = new CanvasJS.Chart("chartContainer", {
                colorSet: datapoints[0].y < 10 ? "redShades" : "greenShades",
                animationEnabled: false,
                title: {
                    text: "BNI Palaiseau",
                    horizontalAlign: "left"
                },
                label: false,
                data: [{
                    type: "doughnut",
                    startAngle: -90,
                    //innerRadius: 60,
                    indexLabelFontSize: 17,
                    // indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: datapoints
                }]
            });
            chart.render();
        };
        var update = function () {
            if (!datapoints[0].y) {
                clearStuff();
                return;
            }
            datapoints[0].y--;
            datapoints[1].y++;
            datapoints[0].label = datapoints[0].y + " s"
            datapoints[1].label = "fait"

            if (datapoints[0].y < 10) {
                datapoints[1].label = "demande spécifique"
            }

            renderChart();
            document.getElementById('timeLeft').innerhtml = ('reste ' + datapoints[0].y)
            return datapoints;
        }

        start = function () {
            interval = setInterval(update, 1000);
        }

        clearStuff = function () {
            clearInterval(interval);
            datapoints = [
                {y: secondsToDiscount, label: secondsToDiscount + " s"},
                {y: 0, label: "au suivant"},
            ];
            renderChart();
        }

        clearStuff();

    </script>
{% endblock %}
