
{% extends "base.html.twig" %}
{% block main %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="">{% trans %}Contactez-moi{% endtrans %}</h1>
        </div>
        <div class="row">
            <div class="canevasplace text-center">
                <svg></svg>
            </div>
            {% include 'TykaynPortfolioBundle:Pages:canevas.html.twig' %}
        </div>
        <div class="col-lg-6">

            {% trans %}par mail sur{% endtrans %}
            <div class="well">
                <em class="badge badge-info">
                contact <i class="fa fa-gear fa-spin fa-2x"></i> cipherbliss.com
            </em>
                Empreinte RSA:
                <br>
                548acf17d1e7a5d4d7572b95d4f4356a2bd69c47
            </div>

            <br/>
            Tel: +33 6 27130837<br/>
            N° SIRET : 79942416300019<br/>
            {% trans %}Développeur front-end sur Paris.{% endtrans %}

        </div>
        <div class="col-lg-6">

            {% include 'part/gmap.html.twig' %}

        </div>
    </div>


{% endblock %}
