
{% extends "base.html.twig" %}

{% block preMain %}
    <div class="container cv">
        <section class="row-fluid">
            <span class="cv centred col-lg-8">
                <h1>
                    Skills and Experiences
                </h1>
                <p>

                web dev, specialised in front-end since 2008, freelance since 2012.
                {#<a class="btn btn-primary span6"  href="{{ asset('b-lemoine-cv-2015.doc') }}" target="_blank">#}
                    {#<i class="fa fa-download"></i>#}
                    {#Download my CV in .doc#}
                {#</a>#}
                </p>
            </span>
            <div class="col-lg-2">
                <h3>Language</h3>
                <ul class="unstyled listing span12">
                    <li>
                        <img src={{ asset('img/portfolio/deco/fr.png') }}> French. (mother tongue)
                    </li>
                    <li>
                        <img src="{{ asset('img/portfolio/deco/en.png') }}"> English (fluent)
                    </li>
                   {# <li>
                        <img src="{{ asset('img/portfolio/deco/japon.png') }}"> Japonais (LV2 moyen)
                    </li>#}
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Leisure and sports</h3>
                <ul>
                    <li>la boustifaille</li>
                    <li>playtime in familly</li>
                    <li>electric rinding
                        <a href="https://tykayn.fr/category/tesla-model-s/">
                            my Tesla
                        </a>
                        </li>
                    <li>electric biking</li>
                    <li>electric reading</li>
                    <li>electric travel</li>
                    <li>electric Badminton (well ok, just badminton)</li>
                </ul>
            </div>
        </section>
        <h2 class="col-lg-12 cv" >
            <i class="fa fa-check-square">

            </i>{% trans %}Skills{% endtrans %}
        </h2>
            <div class="row">
                <div class="col-lg-3">
                    <h3>{% trans %}Dev{% endtrans %}</h3>

                    <ul class="unstyled listing span12">
                        <li>Html</li>
                        <li>JavaScript</li>
                        <li>SCSS</li>
                        <li>PHP</li>
                        <li>mySQL</li>
                    </ul>
                </div>


                <div class="col-lg-3">
                    <h3>Versionning</h3>
                    <ul class="unstyled listing span12">
                        <li>Git</li>
                    </ul>
                </div>


                <div class="col-lg-3">
                    <h3>Meta languages</h3>
                    <ul class="unstyled listing span12">
                        <li>SASS</li>
                        <li>twig</li>
                        <li>typescript</li>
                        <li>coffeescript</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3>Server</h3>
                    <ul class="unstyled listing span12">
                        <li>bash</li>
                        <li>apache2</li>
                        <li>htaccess</li>
                    </ul>
                </div>
            </div><div class="row">
                <div class="col-lg-3">
                    <h3>Frameworks</h3>
                    <ul class="unstyled listing span12">
                        <li>Symfony 4</li>
                        <li>Bootstrap</li>
                        <li>Angular</li>
                        <li>Ember</li>
                    </ul>
                </div>


                <div class="col-lg-3">
                    <h3>O.S.</h3>
                    <ul class="unstyled listing span12">
                        <li>Ubuntu</li>
                        <li>Raspbian</li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h3>Methodology</h3>
                    <ul class="unstyled listing span12">
                        <li><i>Extreme programming</i></li>
                        <li><i>Agile SCRUM</i></li>
                        <li><i>Test Driven Developement</i></li>
                    </ul>
                </div>
            </div>
    </div>
contact me:
    <a class="btn btn-primary" href="mailto:contact@cipherbliss.com">contact@cipherbliss.com</a>
    <hr/>
    <div class="text-center">
        {% include 'part/timeline.html.twig' %}
    </div>
{% endblock %}

{% block main %}
{% endblock %}
