{% extends "base.html.twig" %}
{% block main %}

  <div class="row-fluid">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      Hello {{ app.user.username }}


      Logout

    {% else %}
      {{ render(url('hwi_oauth_connect')) }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
      {% if msg is defined %}
        <span class="alert">
				{{ msg }}
				</span>
      {% endif %}
      <h1>Admin dashboard <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a></h1>

      {% if app.user.facebookId is defined and app.user.facebookId != null %}
        {{ app.user.facebookId }}
      {% else %}
        <a href="" class="btn btn-primary">
          faceboook login
          <i class="fa fa-facebook"></i>
        </a>

        {#<pre>#}
        {#app.user :#}
        {#{{ dump(app.user) }}#}
        {#</pre>#}
      {% endif %}


      <div class="span6">
        <h2>{{ users|length }} Users</h2>

        <div>
          {% for u in users %}
            {{ u.username }}
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-xs-6">
            <h2>Médias <a href="{{ path('addapp') }}" class="btn btn-info">add app</a></h2>
            {% for obj in apps %}
	            <div class="well">
		            <h3>{{ obj.id }} ) {{ obj.name }}</h3>
		            <a href="{{ path('editmedia' , { id : obj.id }) }}" class="btn btn-info">edit</a>
		            <a href="{{ path('removemedia' , { id : obj.id }) }}" class="btn btn-info">remove</a>
		            {{ obj.info | nl2br }}
		            {{ obj.link }}

	            </div>

            {% endfor %}
          </div>
          <div class="col-xs-6">
            <h2>News <a href="{{ path('addnews') }}" class="btn btn-info">add news</a></h2>
            {% for obj in news %}
	            <div class="well">
		            <h3>{{ obj.id }} ) {{ obj.date | date('Y/m/d') }}</h3>
		            {{ obj.content }}
		            {% for t in obj.tags %}
			            <span class="tag">
                    {{ t }}
              </span>

		            {% endfor %}

		            <a href="{{ path('editnews' , {newsid : obj.id }) }}" class="btn btn-info">edit</a>
		            <a href="{{ path('removenews' , {newsid : obj.id }) }}" class="btn btn-info">remove</a>
	            </div>

            {% endfor %}
          </div>
        </div>

      </div>


    {% else %}
      hou tu sors!
    {% endif %}

  </div>


{% endblock %}
