{% extends "base.html.twig" %}
            {% block main %}
                <div class="well">
                    <h1>Dettes</h1>

                    <h2>
                        Notez ici qui doit combien à qui.
                    </h2>
                    La page se charge de comptabiliser les dettes de chacune des personnes en équilibrant les sens des
                    dettes.
                </div>

                {% verbatim %}
                <div ng-app='tk'>
                    <div ng-controller='dettesCtrl' ng-init="init()">
                        <div class="row-fluid">
                            <fieldset class="span6">
                                <button class="btn btn-large btn-warning pull-right" ng-click='ajust()'
                                        ng-init='upDette();ajust()'>ajust
                                </button>
                                <h2>
                                    Résumé
                                </h2>

                                <div ng-repeat="gens in dette_table " ng-show="gens.dettes.length > 0 ">
                                    <div class="well" ng-show="gens.dettes.length > 0 ">
                                        <strong>{{ $index }} ) {{ liste_gens[ gens.qui ].nom }}</strong>
                        <span ng-repeat="d in gens.dettes ">
                            <span class="label label-info" ng-show="d > 0 ">
                                doit {{ resume( d , liste_gens[ $index ].nom) }} ( {{ $index }} ) 
                            </span>
                        </span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="span6">
                                <h2>Liste de gens:</h2>

                                <div class="well">
                                    <input type="text" ng-model='plus'/>
                                    <button class="btn btn-primary" ng-click='addGens()'>Ajouter une personne</button>
                                </div>
                                <div ng-repeat='dude in liste_gens'>
                                    <input type="text" ng-model="dude.nom"/>
                                    <button class="btn btn-large btn-warning" ng-click='removeGens( dude.id )'>x
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row-fluid">

                            <fieldset class="span6">


                                <div class="well">
                                    <select
                                            name="gens"
                                            id="gens"
                                            ng-model="plus_q"
                                            ng-options="item.id as item.nom for item in liste_gens"
                                            placeholder="qui"
                                            required>

                                    </select>
                                    doit
                                    <input type="currency" ng-model="plus_c" maxlength="5" size="5"/> € à
                                    <select
                                            required
                                            name="gens" id="gens"
                                            ng-model="plus_p"
                                            ng-options="item.id as item.nom for item in liste_gens">

                                    </select>

                                    <hr/>
                                    <button class="btn btn-large btn-primary" ng-click='addDette()'>Ajouter</button>

                                    <button class="btn btn-large btn-inverse" ng-click="invertPeople()">Inverser
                                    </button>
                                    <button class="btn btn-large btn-warning" ng-click='eraseAll()'>Effacer toutes les
                                        dettes
                                    </button>
                                    <hr/>
                                    ou bien <em ng-bind="findName(plus_q)"></em> à
                                    <button data-toggle="tooltip"
                                            title="le montant sera divisé en autant de personnes qu'il y en a de listées, et les dettes envers le payeur réparties équitablement. Tout ceci en prenant en compte la partie du payeur.."
                                            class="btn btn-large btn-primary" ng-click='addPaidForAll()'>
                                        Payé <em ng-bind="plus_c"></em> € pour tout le monde
                                    </button>
                                    .
                                </div>


                                <div ng-repeat='dette in dettes'>

                                    <span>{{ findName(dette.qui) }}</span>
                                    Doit
                                    <span>{{ dette.combien }}</span>
                                    € à
                                    <span> {{ findName(dette.pour_qui) }} </span>

                                    <button class="btn btn-large btn-warning" ng-click='removeDette( $index )'>x
                                    </button>
                                </div>

                            </fieldset>


                            <fieldset class="span6">
                                <h2>
                                    Tableau de dettes
                                </h2>
                                <table class="table-stripped table">
                                    <tr>
                                        <td>dettes en €</td>
                                        <td ng-repeat="g in liste_gens">
                                            {{ g.nom }}
                                        </td>
                                    </tr>
                                    <tr ng-repeat="d in dettes">
                                        <td>
                                            {{ $index }} ,
                                            {{ liste_gens[d.qui].nom }}</td>
                                        <td ng-repeat="g in liste_gens">
                                            <!-- si qui et pour_qui concordent avec ligne et colonne, afficher combien -->

                                            {{ showDette( dettes, $parent.$index , $index ) }}
                                        </td>
                                    </tr>
                                </table>
                                <hr/>

                            </fieldset>
                            <fieldset>
                                Angular debug info:
                                <button class="btn btn-info" ng-click="show_info = !show_info">
                                    montrer
                                </button>

                                <div ng-show="show_info" ng-init="show_info = 0">
                                    dettes:
                                    {{ dettes }}
                                    <hr/>
                                    dette_table:
                                    {{ dette_table }}
                                    <hr/>
                                    liste_gens:
                                    {{ liste_gens }}
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
                {% include('part/share.html.twig') %}
                <script type="text/javascript"
                        src="{{ asset('bundles/tykaynportfolio/js/angular/lib/angular/angular.js') }}"></script>
                <script>
                    angular.module("tk", ['tk.controllers']);
                    angular.module("tk.controllers", []).controller('dettesCtrl', ['$scope', function ($scope) {
                        $scope.test = 20;
                        $scope.dette_table = {}

                        $scope.liste_gens = [
                            {id: 0, nom: 'tykayn'},
                            {id: 1, nom: 'wulfila'},
                            {id: 2, nom: 'regulus'}
                        ];
                        $scope.dettes = [
                            {qui: 0, combien: 5, pour_qui: 1},
                            {qui: 1, combien: 5, pour_qui: 2},
                            {qui: 0, combien: 3, pour_qui: 0},
                            {qui: 2, combien: 10, pour_qui: 1},
                            {qui: 2, combien: 100, pour_qui: 2},
                            {qui: 1, combien: 5, pour_qui: 0}

//                {qui: 2, combien: 100, pour_qui: 2}

                        ];
                        $scope.plus = 'beber';

                        $scope.eraseAll = function () {
                            $scope.dettes = [];
                            $scope.dette_table = [];
                        }
                        $scope.showDette = function (dettes, ligne, col) {
                            if (dettes[ligne] !== undefined && dettes[ligne].pour_qui == col) {
                                return dettes[ligne].combien;
                            }
                            else {
                                return 0;
                            }
                        }
                        $scope.resume = function (combien, nom) {
                            if (combien > 0) {
                                return combien + ' € à ' + nom;
                            }
                            return
                        }
                        $scope.addGens = function () {
                            var new_dude = {};
                            new_dude.nom = $scope.plus;
                            new_dude.id = $scope.liste_gens.length;
                            $scope.liste_gens.push(new_dude)
                        }
                        $scope.removeGens = function (id) {
                            $scope.liste_gens.splice(id, 1)
                            $scope.dette_table = {};
                            $scope.upDette();
                        }
                        $scope.removeDette = function (id) {
                            console.log(id);
                            $scope.dettes.splice(id, 1)
                            $scope.dette_table = {};
                            $scope.upDette();

                        }
                        $scope.invertPeople = function () {
                            var from = $scope.plus_q;
                            var to = $scope.plus_p;
                            $scope.plus_q = to;
                            $scope.plus_p = from;

                        }

                        /**
                         * équilibrer les dettes
                         * @returns {undefined}
                         */
                        $scope.ajust = function () {
                            console.log(' ajustement ');


                            console.log(' dette0: ');
                            console.log($scope.dette_table);


                            for (i = 0; i <= $scope.liste_gens.length; i++) {
                                var qui;
                                if ($scope.dette_table[i] !== undefined) {
                                    qui = $scope.dette_table[i].qui;
                                    console.log('///////////   dette_table[i].qui vaut' + qui)
                                }
                                else {
                                    console.log('continue ')
                                    continue;
                                }

                                var arr = 0;
                                if ($scope.dette_table[i] !== undefined && $scope.dette_table[i] !== null) {
                                    var arr = $scope.liste_gens.length;
                                }

                                console.log('arr = ')
                                console.log(arr)
                                console.log('$scope.dette_table[qui] ')
                                console.log($scope.dette_table[qui])
                                console.log('ajust() for i = ' + i)

                                /**
                                 * à chaque personne,
                                 * vérifier si la cible de la dette a aussi une dette envers l'émetteur.
                                 */
                                for (j = 0; j < arr; j++) {
                                    var pour_qui = j;
                                    if ($scope.dette_table[qui] !== undefined) {
                                        console.log(' detteEEEEEEEEEEEEE : ');
                                        console.log($scope.dette_table[qui]);
                                        if ($scope.dette_table[pour_qui] !== undefined && $scope.dette_table[pour_qui].dettes !== undefined) {
                                            console.log(' dette récirpoque entre ' + qui + ' et ' + pour_qui);

                                            var a = $scope.dette_table[qui].dettes[pour_qui];
                                            var b = $scope.dette_table[pour_qui].dettes[qui];
                                            if (a == b) {
                                                console.log(' a == b');
                                                $scope.dette_table[qui].dettes[pour_qui] = 0;
                                                $scope.dette_table[pour_qui].dettes[qui] = 0;
                                            }
                                            else if (a > b) {
                                                console.log(' a > b');
                                                $scope.dette_table[qui].dettes[pour_qui] = a - b;
                                                $scope.dette_table[pour_qui].dettes[qui] = 0;
                                            }
                                            else if (b > a) {
                                                console.log(' b > a');
                                                $scope.dette_table[pour_qui].dettes[qui] = b - a;
                                                $scope.dette_table[qui].dettes[pour_qui] = 0;
                                            }
                                            else {
                                                console.log(' WTF !!!');
                                            }
                                        }


                                    }
                                    else {
//                            console.log(' $scope.dette_table : ');
//                            console.log($scope.dette_table);
                                        console.log(' pas d\'équilibrage entre ' + qui + ' et ' + pour_qui);
                                    }
                                }
                            }
                        }

                        /**
                         * calcul du tableau de dette. $scope.dette_table[qui].pour_qui = combien
                         * @returns mise a jour de $scope.dette_table[qui] = obj;
                         */
                        $scope.upDette = function () {
                            $scope.dette_table = []; // réinitialiser le tableau de dettes
                            console.log(' ');
                            console.log('upDette ');

                            /**
                             * pour chaque personne, créer un tableau pour additionner ses dettes envers les autres
                             * [personne 1 : {
                 *      qui: n°id,
                 *      dettes: {
                 *      numéro_pour_qui1 : combien,
                 *      numéro_pour_qui2 : combien
                 *      }
                 *      
                 *  },
                             *  personne 2 : {
                 *      ...
                 *  }
                             *  ]
                             */
                            for (i = 0; i < $scope.dettes.length; i++) {
                                var qui = undefined;
                                var id = undefined;
                                var pour_qui = undefined;
                                var combien = undefined;
                                var nowDette = $scope.dettes[i];
//                    console.log(' ');
//                    console.log('examen de dette numero ' + i);
                                /*
                                 * récupérer les infos sur la dette en cours de calcul
                                 */

                                // TODO : compte après addDette incorrect. nouveau i indéfini
                                if (nowDette !== undefined) {
                                    qui = nowDette.qui;
                                    id = nowDette.pour_qui
                                    combien = nowDette.combien;
//                        console.log('nouvelle dette de : ' + combien + ' €. par ' + qui + ' et pour : ' + id);
                                }
                                else {
//                        console.log('XXXXXXXXXX NON défini pour scope.dettes[i] ' + i);
//                        console.log($scope.dettes);
                                }

                                obj = {};
                                obj.dettes = [];
                                // nouvelle dette
                                if ($scope.dette_table[id] === undefined) {
                                    $scope.dette_table[id] = new Array();
                                    var ajout;
                                    /* s'il y a déjà une entrée de dette pour la personne et sa cible,
                                     * ajouter le montant
                                     */

                                    obj.dettes[id] = combien;


                                }
                                //ajout a une ancienne
                                else {

                                    obj = $scope.dette_table[qui];
                                    var avant = 0;
//                        console.log(' $scope.dette_table[qui]')
//                        console.log($scope.dette_table[qui])
                                    if (obj === undefined) {
                                        $scope.dette_table[qui] = {dettes: []};
                                        obj = $scope.dette_table[qui];
                                    }
                                    else if (obj.dettes !== undefined) {

                                        avant = parseInt(obj.dettes[id]);
                                    }
                                    else {
                                        $scope.dette_table[qui].dettes = [];
                                    }
//                        console.log('+++++++++++y\'a déjà ' + avant);
//                        console.log(' gens n° ' + qui + ' devait' + avant + ' € au gens n° ' + id);
//                        console.log(' il en doit ' + ajout + ' de plus ce qui fait en tout ' + (ajout + avant));

                                    obj.dettes[id] = combien + avant;

                                }
                                obj.qui = qui;
                                // obj.ajout = ajout;

                                $scope.dette_table[qui] = obj;
                            }
                            $scope.ajust();
                        };


                        $scope.addDette = function (id) {

                            var new_dette = {};
                            new_dette.qui = parseInt($scope.plus_q);
                            new_dette.combien = parseInt($scope.plus_c);
                            new_dette.pour_qui = parseInt($scope.plus_p);
//                console.log(' ajout de dette:  ');
//                console.log(new_dette);
                            $scope.dettes.push(new_dette);
                            $scope.upDette();

                        };


                        /**
                         *
                         * @param {type} qui
                         * @param {type} combien
                         * @param {type} pour_qui
                         * @returns {undefined}
                         */
                        $scope.addDetteDynamic = function (qui, combien, pour_qui) {

                            var new_dette = {};
                            new_dette.qui = qui;
                            new_dette.combien = combien;
                            new_dette.pour_qui = pour_qui;
                            $scope.dettes.push(new_dette);
                            console.log('+ 1 dette')

                        };
                        /**
                         * réparti également les dettes entre tous les gens
                         * @param {type} id
                         * @returns {undefined}
                         */
                        $scope.addPaidForAll = function () {

                            // compter les gens
                            var nb_gens = $scope.liste_gens.length;
                            // calcul de répartition
                            var cout = parseFloat($scope.plus_c / nb_gens).toFixed(2);
                            //boucler sur tout le monde et ajouter les dettes.
                            console.log('nb_gens' + nb_gens)
                            for (i = 0; i < nb_gens; i++) {
                                if (i == $scope.plus_q) {
                                    continue;
                                }
                                $scope.addDetteDynamic(i, cout, $scope.plus_q);
                            }
                            $scope.upDette();
                        };
                        /**
                         * set select defaults
                         * @returns {undefined}
                         */
                        $scope.init = function () {
                            console.log(' ');
                            console.log('init');
                            console.log(' ');

                            $scope.plus_q = 0;
                            $scope.plus_c = 1;
                            $scope.plus_p = 1;
                        }
                        $scope.mockAdd = function () {
                            console.log(' ');
                            console.log('mockAdd');
                            console.log(' ');

                            $scope.plus_q = 0;
                            $scope.plus_c = 4;
                            $scope.plus_p = 2;
                            $scope.addDette();
                        }

                        $scope.findName = function (id) {
                            if ($scope.liste_gens[id] === undefined) {
                                return 'quelqu\'un qui n\'existe pas (' + id + ' )';
                            }
                            else {
                                return $scope.liste_gens[id].nom;
                            }

                        };

                    }])
                </script>


            {% endblock %}
