{% extends "base.html.twig" %}
{% block main %}
  <div class="container">
    <h1>Chance - Jeu du devin et des deux boites.</h1>


    <div class="row">
      <div class="col-lg-8">
        <section>

          <img class="img-responsive" src="http://i.imgur.com/Wxt9RfL.png" alt="squalala" />
          S'juste pour essayer la lib 
          <a href="http://chancejs.com/">chance.js</a>
          <h2>Règles du jeu du devin</h2>

          <blockquote>
            <ul>
              <li>un joueur a le choix entre prendre le contenu de la boite B seulement ou de la boite A et de la
                boite B en même temps.
              </li>
              <li>le prédicateur a prédit correctement ce que le joueur allait faire 75% du temps. Le joueur n'arrive
                donc à le déjouer que 25% du temps.
              </li>
              <li>le prédicateur peut faire seulement deux prédictions.</li>
              <li>quand il a deviné qu'on prendrait les deux boites on ne gagne rien.</li>
              <li>quand il a deviné qu'on ne prendrait que B on gagne 1 million de points.</li>
              <li>quand on prend les deux boites et qu'il ne l'a pas prévu on gagne 1000 points seulement.</li>
              <li>ces règles sont résumées par ce tableau des possibles.
                <table class="table-striped table table-bordered table-responsive">
                  <tr class="head">
                    <td>points</td>
                    <td>prédicateur prévoit A+B</td>
                    <td>prédicateur prévoit B</td>
                  </tr>
                  <tr>
                    <td>joueur joue A+B</td>
                    <td>0</td>
                    <td>1 000</td>
                  </tr>
                  <tr>
                    <td>joueur joue B</td>
                    <td>0</td>
                    <td>1 000 000</td>
                  </tr>
                </table>
              </li>
            </ul>
          </blockquote>


        </section>
      </div>
      <div class="col-lg-4">
        <section>

          <div class="jumbotron">
            <h2>Trouverez vous la meilleure stratégie pour gagner de l'argent en masse?</h2>

          </div>

          Je prends la stratégie:
          <div id="AplusB" class="btn btn-primary">Boite A + B</div>
          <div id="justB" class="btn btn-primary">Boite B</div>
          <div id="commentaire"></div>
          <br/>
          <div class="alert-info alert">
            <h2>Points:</h2>
            <div id="points">0</div>
          </div>

          <div>
            <h2>
              Statistiques:
            </h2>

            <div class="" id="stats"></div>
          </div>

          <img src="http://i.ytimg.com/vi/r4mCzrIy0-k/0.jpg" alt="" />
          <div class="well">
            Cette page permet de pouvoir lancer 100 000 fois le processus et voir quelle stratégie est celle qui fait gagner
            le plus de points.
            C'était un exercice de une heure en JS, et c'était fort fun.
            <br />
            <a href="http://cipherbliss.com/web" class="btn btn-block btn-primary">
              voir mes autres travaux
            </a>

          </div>
        </section>
      </div>
    </div>
  </div>
  {% include('part/share.html.twig') %}
{% endblock %}

{% block jsMore %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chance/0.5.6/chance.min.js"></script>
  <script type="text/javascript">
    /**
     * Created by tykayn on 09/02/15.
     * inits
     */

// Use Chance
    console.log("chance: " + chance);
// two choices to take the boxes.
    choice = chance.natural({min: 1, max: 2});
// correspondance with the box taking
    var taking = ['both boxes', 'juste the box B'];
    var turns = 100;
    var devinChoice = '';
    var devinRightness = 75; // in percent
    var playerChoice = '';
    var playerPoints = '';
    var stats = {
      'AplusB': {
        right: 0,
        wrong: 0,
      },
      'justB': {
        right: 0,
        wrong: 0,
      }
    };

    runPrediction = function () {
      for (var i = 0; i < turns; i++) {
        // the guesser guesses
        // and he is often right
        setDevinBox();
        // then, we compare with the player's choice
        playerPoints += compare();
      }
      upView();
    };
    /**
     * compares ands gives points to player
     */
    compare = function () {
      //console.log("playerChoice and other one" , playerChoice, devinChoice);
      var points = 0;
      if (playerChoice == 'both boxes') {
        if (devinChoice == 'both boxes') {
          points = 0;
          stats.AplusB.right++;
        }
        else if (devinChoice == 'juste the box B') {
          points = 1000;
          stats.AplusB.wrong++;
        }
      }
      else if (playerChoice == 'juste the box B') {
        if (devinChoice == 'both boxes') {
          points = 0;
          stats.justB.right++;
        }
        else if (devinChoice == 'juste the box B') {
          points = 1000000;
          stats.justB.wrong++;
        }
      }
      return points;
    };
    /**
     *
     * @param id
     * @returns {string}
     */
    setDevinBox = function (id) {
      // the guesser is 75% right
      var rightness = chance.bool({likelihood: devinRightness});
      if (rightness) {
        devinChoice = playerChoice;
      }
      else {
        // case where the guesser has a different choice than the player
        if (playerChoice === 'both boxes') {
          devinChoice = 'juste the box B';
        }
        else {
          devinChoice = 'both boxes';
        }
      }
      //devinChoice = taking[id];
      return devinChoice;
    };
    /**
     *
     * @param id
     * @returns {string}
     */
    setBox = function (id) {
      playerChoice = taking[id];
      return playerChoice;
    };

    upView = function () {


      //animate the points increase
      obj = {
        points: 0
      };
      objDestination = {
        points: playerPoints

      };
      animationConfig = {
        duration: 1000,
        step: function (currentPoints) {
          //console.log(currentPoints)
          $('#points').html(parseInt(currentPoints));
        },
        complete: function () {
          $('#points').html(playerPoints);
          var html = '<br/> AplusB.right : ' + stats.AplusB.right;
          html += '<br/> AplusB.wrong : ' + stats.AplusB.wrong;
          html += '<br/> justB.right : ' + stats.justB.right;
          html += '<br/> justB.wrong : ' + stats.justB.wrong;
          $('#stats').html(html);
        }
      }
      $(obj).animate(objDestination, animationConfig);



    };

    /**
     * clicks actions
     */
    $('#AplusB').on('click', function () {
      playerPoints = 0;
      stats = {
        'AplusB': {
          right: 0,
          wrong: 0,
        },
        'justB': {
          right: 0,
          wrong: 0,
        }
      };
      setBox(0);
      runPrediction();
      $('#commentaire')
              .removeClass('alert-danger')
              .addClass('alert alert-danger')
              .html('harrrr! cette stratégie est la MOINS payante. Bouuuuh! Allez réviser votre théorie des jeux.');
    });
    $('#justB').on('click', function () {
      playerPoints = 0;
      stats = {
        'AplusB': {
          right: 0,
          wrong: 0,
        },
        'justB': {
          right: 0,
          wrong: 0,
        }
      };
      setBox(1);
      runPrediction();
      $('#commentaire')
              .removeClass('alert-danger')
              .addClass('alert alert-success')
              .html("GG! cette stratégie est la plus payante sur une grande quantité d'essais. vous pouvez maintenant vous la péter un max")
    });

    console.log("ok devin");
  </script>
{% endblock %}
