{% extends "base.html.twig" %}
{% block main %}
    <h1>Entreprise</h1>
    Comment choisir sa structure d'entreprise individuelle?
    selon les données du site
    <a href="http://www.entrepriseindividuelle.info/">www.entrepriseindividuelle.info</a>
    le 16 oct 2015.
    <hr>
    <div >
        <table class="table table-striped">
            <thead>
            <tr>
                <td> Statut</td>
                <td>Portage Salarial
                </td>
                <td>Autoentrepreneur
                </td>
                <td>EI (micro)
                </td>
                <td>EI (réel)
                </td>
                <td>EURL (IS)
                </td>
                <td>SASU
                </td>
            </tr>
            </thead>
            <tbody class="taille-fixe">
            <tr>
                <td>
                    Séparation juridique avec l'exploitant


                </td>
                <td class="oui"> Oui
                </td>
                <td class="non"> Non
                </td>
                <td class="non"> Non
                </td>
                <td class="non"> Non
                </td>
                <td class="oui"> Oui - entitée morale séparée légalement</td>
                <td class="oui"> Oui - entitée morale séparée légalement</td>
            </tr>
            <tr>
                <td> Seuil (CA max)</td>
                <td class="aucun"> aucun
                </td>
                <td> 33,3K€ (83,2K€ BIC)
                </td>
                <td> 33,3K€ (83,2K€ BIC)
                </td>
                <td class="aucun"> aucun
                </td>
                <td class="aucun"> aucun
                </td>
                <td class="aucun"> aucun</td>
            </tr>
            <tr>
                <td> Versement de Dividendes</td>
                <td class="non"> Non
                </td>
                <td class="non"> Non
                </td>
                <td class="non"> Non
                </td>
                <td class="non"> Non
                </td>
                <td> Possible
                </td>
                <td> Possible</td>
            </tr>
            <tr>
                <td> Base de calcul

                    <p>des charges sociales
                </td>
                <td> Salaire brut
                </td>
                <td> Chiffre d'Affaire
                </td>
                <td> Chiffre d'Affaire après abattement (BNC 34% -BIC 71% - BIC Services 50%)
                </td>
                <td> Résultat (charges déduites)
                </td>
                <td> Rémunération versée au gérant, après abattement de 10%
                </td>
                <td> Le président a un statut de salarié. Pas de salaire = pas de charges.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Mode de calcul des charges et cotisations sociales</td>
                <td> comme un salarié
                </td>
                <td> % global direct sur CA
                </td>
                <td> % pour chaque charge
                </td>
                <td> % pour chaque charge
                </td>
                <td> % pour chaque charge
                </td>
                <td> Salarié</td>
            </tr>
            <tr>
                <td> Déductibilité des frais</td>
                <td class="oui"> Oui</td>
                <td class="non"> Non</td>
                <td class="non"> Non</td>
                <td class="oui"> Oui</td>
                <td class="oui"> Oui</td>
                <td class="oui"> Oui</td>
            </tr>
            <tr>
                <td> Base de calcul

                    <p>de l'impot
                </td>
                <td> salaire
                </td>
                <td> % global direct sur CA
                </td>
                <td> Chiffre d'Affaire après abattement (BNC 34% - BIC 71% - BIC Services 50%)
                </td>
                <td> Résultat (charges déduites)
                </td>
                <td> IS sur le résultat de l'EURL<br> IR pour le gérant<br> rémunération abattue de 10%
                </td>
                <td> IS sur le résultat de la SASU<br> IR pour le président<br> rémunération abattue de 10%
                </td>
            </tr>
            <tr>
                <td> Calcul de l'impot</td>
                <td> IR (salaire)
                </td>
                <td> au choix microsocial (% sur le CA), ou IR sur CA après abattement micro
                </td>
                <td> IR, le CA après abattemment micro est ajouté aux autres revenus
                </td>
                <td> IR, le résultat est ajouté aux autres revenus
                </td>
                <td> IR, la rémunération du gérant (moins frais professionnels) est ajoutée à ses autres revenus
                </td>
                <td> IR, le président est salarié</td>
            </tr>
            <tr>
                <td> Soumis à TVA/

                    <p>Récupération de TVA
                </td>
                <td> transparent
                </td>
                <td class="non"> Non
                </td>
                <td class="non"> Non
                </td>
                <td class="oui"> Oui<br> obligatoire au dessus de 32K€ (80K€ BIC)<br> optionnel au dessous
                </td>
                <td class="oui"> Oui
                </td>
                <td class="oui"> Oui</td>
            </tr>
            <tr>
                <td> SIRET/Kbis</td>
                <td class="non"> Non
                </td>
                <td> SIREN/SIRET
                </td>
                <td> SIREN/SIRET
                </td>
                <td> SIREN/SIRET
                </td>
                <td> SIREN/SIRET + Kbis
                </td>
                <td> SIREN/SIRET + Kbis</td>
            </tr>
            <tr>
                <td> Coût de création</td>
                <td class="aucun"> aucun
                </td>
                <td> très faible
                </td>
                <td> très faible
                </td>
                <td> faible
                </td>
                <td> faible300-1000€
                </td>
                <td> faible300-1000€</td>
            </tr>
            <tr>
                <td> Formalités de création</td>
                <td class="aucun"> aucunes
                </td>
                <td> hyper simples
                </td>
                <td> très simples
                </td>
                <td> très simples
                </td>
                <td> pas très compliquées
                </td>
                <td> pas très compliquées</td>
            </tr>
            <tr>
                <td> Durée des formalités de création</td>
                <td> NA
                </td>
                <td> 10 minutes
                </td>
                <td> 10 minutes
                </td>
                <td> 10 minutes
                </td>
                <td> 1 jour théorique, mais compter réalistiquement une semaine
                </td>
                <td> 1 jour théorique, mais compter réalistiquement une semaine</td>
            </tr>
            <tr>
                <td> Coûts de fonctionnement</td>
                <td> frais de portage
                </td>
                <td> très faibles(mais ne pas oublier la taxe pro)
                </td>
                <td> très faibles(mais ne pas oublier la taxe pro)
                </td>
                <td> faibles(mais ne pas oublier la taxe pro)
                </td>
                <td> faibles(mais ne pas oublier la taxe pro)
                </td>
                <td> faibles(mais ne pas oublier la taxe pro)</td>
            </tr>
            <tr>
                <td> Comptabilité</td>
                <td class="non"> Non (prise en charge par le porteur)
                </td>
                <td> registre des ventes
                </td>
                <td> registre des ventes
                </td>
                <td> tenue de comptabilité
                </td>
                <td> tenue de comptabilité
                </td>
                <td> tenue de comptabilité</td>
            </tr>
            <tr>
                <td> Gestion administrative</td>
                <td> notes de frais, feuille de présence
                </td>
                <td> déclarations mensuelles
                </td>
                <td> déclarations annuelles
                </td>
                <td> déclarations annuelles, TVA (mensuel ou trimestriel)
                </td>
                <td> déclarations annuelles, TVA (mensuel ou trimestriel), acompte IS
                </td>
                <td> déclarations annuelles, TVA (mensuel ou trimestriel), acompte IS</td>
            </tr>
            <tr>
                <td> Charges sociales minimales(pour CA=0)</td>
                <td> NA
                </td>
                <td> 0€
                </td>
                <td> environ 1300€
                </td>
                <td> environ 1300€
                </td>
                <td> environ 1300€
                </td>
                <td> 0€</td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="4">
                    Attention : les faibles revenus entrainent des charges faibles, et par conséquent ne permettent pas
                    forcément de valider tous les trimestres de retraite
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    Attention, les appels de cotisations prévisionelles forfaitaires de 1ère et 2ème année sont bien
                    supérieurs (environ 3500€ et 5000-5500€) et donnent lieu éventuellement à des remboursements en
                    années N+1 et N+2
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .taille-fixe {
            height: 600px;
            overflow: auto;
        }

        .oui{
            color: green;
            background: lightgoldenrodyellow !important;
        }
        .non, .aucun{
            color: darkred;
            background: #ffccc5 !important;
        }
        tbody tr > td:first-of-type, thead {
            font-weight: 800;
        }
    </style>
{% endblock %}