
{% extends "base.html.twig" %}
            {% block main %}
Tadam page de {{ page }}
<span class="12">
    <div>{% trans %}gallerie érotique pouvant choquer.{% endtrans %}<br/>
{% trans %}Si c\'est le cas allumez un cierge.{% endtrans %}<br/></div>
</span>


            {% endblock %}
