            {% block main %}

{% if retour is defined %}
l'objet n° {{ retour }} a été ajouté
    {{ retour }}

{% endif %}

<div class="well">
    <h2>{{ intro | trans}}</h2>
    <form method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
            {% endblock %}
