
{% extends "base.html.twig" %}
            {% block main %}
<h1>Téléchargements libres</h1>
<div class="downloadable">
    <div class="alert alert-info pull-right span6">
        Tous les contenus à télécharger de cette page sont utilisables librement sans but commercial. Vous pouvez me contacter pour davantage d'informations. <br/>
    </div>
    <div class="row-fluid">
        <div class="span6">

            <h2>Outils print</h2>
            <ul class="unstyled">
                <li>
                    <a href="https://drive.google.com/file/d/0B9QD8iY9DuISZUxnd3dxQ1MxYzA">
                        Fanzine A5 : Gabarit d'illustration en PNG
                    </a>, 
                    <a href="https://docs.google.com/file/d/0B9QD8iY9DuISTzF3d3BhcmI1OWs">
                       Gabarit d'illustration en PSD
                    </a>
                </li>
                <li>
                    <a href="{{ asset('img/portfolio/medias/ressources/REPERES.png') }}">
                        <img src="{{ asset('img/portfolio/medias/ressources/REPERES_.png') }}" alt="pack de textures" />
                        Feuille de repères pour BD.
                    </a>
                </li>
                <li>
                    <a href="{{ asset('img/portfolio/medias/ressources/test-print-feuille.png') }}">
                        <img src="{{ asset('img/portfolio/medias/ressources/test-print-feuille.jpg') }}" alt="pack de textures" />
                        Feuille de test d'impression couleur.
                    </a>
                </li>
            </ul>


            <h2>Mémos</h2>
            <ul class="unstyled">
                <li>
                    <a href="{{ asset('img/portfolio/medias/ressources/typo_speciaux_tykayn.pdf') }}">
                        <img src="{{ asset('img/portfolio/medias/ressources/typo_speciaux_tykayn_preview.jpg') }}" alt="pack de textures" />
                        Typo et caractères spéciaux.<br/>
                        Testez la robustesse de vos font avec ces caractères: 
                        <div class="alert alert-info">
                            ÀÁÂÃÄÅàáâãäåÒÓÔÕÖØòóôõöøÈÉÊËèéêëÇçÌÍÎÏìíîïÙÚÛÜùúûüÿÑñ<br/>
                            ☺☻♥♦♣♠•◘○◙♂♀♪♫☼►◄↕‼¶
                            Œœ©ÀÆÇÈÉÊæÔ
                        </div>
                    </a>
                </li>
            </ul>


        </div>
        <div class="span6">
            <h2>Textures</h2>
            Fichiers .zip
            <ul class="unstyled">
                <li>
                    <h3>
                        Papier
                    </h3>
                    <ul class="unstyled">
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/murs_papiers_peints_mere_grand.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/mere_grand_land.jpg') }}" alt="pack de textures" />
                                Papier peint de chez mère grand.
                            </a>
                        </li>
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/papiers.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/papiers_tex.jpg') }}" alt="pack de textures" />
                                Papiers à grain.
                            </a>
                        </li>
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/papiers3_tex.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/papiers3_tex.jpg') }}" alt="pack de textures" />
                                Papier aquarelle et colorés.
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Bois</h3>
                    <ul class="unstyled">
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/bois.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/bois_tex.jpg') }}" alt="pack de textures" />
                                Papier peint de chez mère grand.
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Pierre</h3>
                    <ul class="unstyled">
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/pierres_varengeville.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/pierres_varengeville.jpg') }}" alt="pack de textures" />
                               Pierres de Varengeville.
                            </a>
                        </li>
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/pierres_chine.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/pierres_chine_tex.jpg') }}" alt="pack de textures" />
                               Pierres de Varengeville.
                            </a>
                        </li>
                    </ul>
                    
                    
                   
                </li>
                <li>
                    <h3>Murs</h3>
                    <ul class="unstyled">
                        <li>
                            <a href="{{ asset('img/portfolio/medias/textures/surfaces_interieur_maison.zip') }}">
                                <img src="{{ asset('img/portfolio/medias/textures/surfaces_interieur_maison_tex.jpg') }}" alt="pack de textures" />
                               Murs d'intérieur.
                            </a>
                        </li>
                    </ul>
                    
                </li>
            </ul>
        </div>
    </div>



</div>
<div class="well">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.fr"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Ce(tte) œuvre de <a xmlns:cc="http://creativecommons.org/ns#" href="http://cipherbliss.com" property="cc:attributionName" rel="cc:attributionURL">http://cipherbliss.com</a> est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.fr">licence Creative Commons Attribution - Pas d’Utilisation Commerciale 4.0 International</a>.<br />Fondé(e) sur une œuvre à <a xmlns:dct="http://purl.org/dc/terms/" href="http://cipherbliss.com/free_DL" rel="dct:source">http://cipherbliss.com/free_DL</a>.<br />Les autorisations au-delà du champ de cette licence peuvent être obtenues à <a xmlns:cc="http://creativecommons.org/ns#" href="http://cipherbliss.com/contact" rel="cc:morePermissions">http://cipherbliss.com/contact</a>.
</div>


            {% endblock %}
