{% extends 'base.html.twig' %}
            {% block main %}

                <h2>
                    Projets
                </h2>
                <a class="btn btn-success" href="http://github.com/tykayn1">Github</a>
                <a class="btn btn-success" href="http://www.cipherbliss.com/generator-angular-jeej">Générateur yeoman
                    angular jeej
                </a>







                <div class="col-xs-6 pull-left">
                    <h3>Tutoriels</h3>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        BD
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body text-left">
                                    <a href="http://tykayn.fr/?post/2008/09/20/%5Btuto%5D-Organisation-BD">Tuto:
                                        Organisation BD
                                    </a>
                                    <a href="http://tykayn.fr/?post/2007/05/10/Tuto-dune-page-de-BD">Tuto d’une page de
                                        BD
                                    </a>
                                    <a href="http://tykayn.fr/?post/2006/12/19/Kelkes-trucs-de-bede">Kelkes trucs de
                                        bédé
                                    </a>
                                    <a href="http://tykayn.fr/?post/2009/08/21/%5Btuto%5D-Comment-%C3%A9crire-un-bon-sc%C3%A9nario">
                                        Tuto Comment écrire un bon scénario
                                    </a>
                                    <a href="http://tykayn.fr/?post/2009/08/21/Pr%C3%A9senter-un-projet-BD-de-fa%C3%A7on-pro-%C3%A0-un-%C3%A9diteur">
                                        Présenter un projet BD de façon pro à un éditeur
                                    </a>

                                    <a href="http://tykayn.fr/?post/2008/12/07/%5Bpas-a-pas%5D-laire-de-repos-apres-lamour">
                                        [pas à pas illu] (l'aire de) repos après l\'amour
                                    </a>
                                    <a href="http://tykayn.fr/?post/2006/09/25/By-the-wall-intersubkey">[pas à pas illu]
                                        By the wall, intersubkey
                                    </a>
                                    <a href="http://tykayn.fr/?post/2008/04/09/%5Btuto%5D-Cours-dAntomie">[tuto] Cours
                                        d\'Anatomie
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Fanzine
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body text-left">
                                    <a href="http://tykayn.fr/?post/2013/07/22/Faire-un-fanzine-avec-indesign">Faire un
                                        fanzine avec indesign
                                    </a>
                                    <a href="http://tykayn.fr/?post/2013/06/26/Comment-faire-un-fanzine-en-groupe">Faire
                                        un fanzine à plusieurs
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Perspective
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body text-left">
                                    <a href="http://tykayn.fr/?post/2008/04/19/Perspective%3A-introduction-et-vocabulaire">
                                        Perspective: introduction et vocabulaire
                                    </a>
                                    <a href="http://tykayn.fr/?post/2009/11/21/%5Btuto%5D-Perspective-par-mesure">Tuto
                                        Perspective par mesure
                                    </a>
                                    <a href="http://tykayn.fr/?post/2009/10/09/%5Btuto%5D-comment-dessiner-un-espace-reflet%C3%A9">
                                        Tuto Comment dessiner un espace refleté?
                                    </a>
                                    <a href="http://tykayn.fr/?post/2008/10/22/Tuto%3A-Comment-trouver-un-point-de-fuite">
                                        Tuto: Comment trouver un point de fuite?
                                    </a>
                                    <a href="http://tykayn.fr/?post/2008/06/03/Tuto-Perspective-un-point-de-fuite-et-decroissance-des-intervalles">
                                        Tuto Perspective - un point de fuite et décroissance des intervalles
                                    </a>
                                    <a href="http://tykayn.fr/?post/2008/12/28/%5Btuto%5D-Perspective-version-Demerdez-vous">
                                        Tuto: Perspective - version Démerdez-vous.
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        Autre
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body text-left">
                                    <a href="http://tykayn.fr/?post/2011/05/23/hacking-de-PC-portable%2C-tutoriel-pour-placer-un-SSD">
                                        hacking de PC portable, tutoriel pour placer un SSD
                                    </a>
                                    <a href="http://tykayn.fr/?post/2007/08/11/Tuto%3A-suivre-les-news-avec-Mozilla-Thunderbird">
                                        Tuto: suivre les news avec Mozilla Thunderbird
                                    </a>
                                    <a href="http://tykayn.fr/?post/2007/05/30/Bien-dormir-pour-les-exams">Bien dormir
                                        pour les exams
                                    </a>


                                    <a href="http://tykayn.fr/?post/2011/07/25/Tuto-pour-bloguer-avec-flemme">Tuto pour
                                        bloguer avec flemme
                                    </a>
                                    <a href="http://tykayn.fr/?post/2011/03/25/Tuto-photo-st%C3%A9r%C3%A9o-3D-avec-appareil-num%C3%A9rique-simple">
                                        Tuto photo stéréo 3D avec appareil numérique simple
                                    </a>
                                    <a href="http://tykayn.fr/?post/2010/08/31/Trucs-de-classeur-excel-%2C-Open-Office">
                                        Trucs de classeur excel , Open Office
                                    </a>


                                    <a href="http://tykayn.fr/?post/2008/02/24/%5Btuto%5D-colo-et-mise-en-forme-de-strips-de-blog">
                                        [tuto] - colo et mise en forme de strips de blog
                                    </a>
                                    <a href="http://tykayn.fr/?post/2009/05/28/Tuto%3A-les-scripts-toshop-c-est-facile">
                                        Tuto: scripts toshop, facile et bon pour les flemmards
                                    </a>

                                    <a href="http://tykayn.fr/?post/2007/10/24/Tuto-serviette-de-bain">Tuto - serviette
                                        de bain
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-xs-6 generateurs">
                    <h3>Générateurs</h3>

                    <div class="text-left">
                        <a href="http://tykayn.fr/?post/2011/10/25/g%C3%A9n%C3%A9rateur-de-personnages">Générateur de
                            description de personnages censés faire des cochonsetés.
                        </a>
                        <a href="http://tykayn.fr/?post/2011/01/22/24h-BD-widget-TK">Organisateur de temps pour dessiner
                            durant les 24h de la BD.
                        </a>
                        <a href="http://www.cipherbliss.com/phrase">pickup lines : inspiration aléatoire pour phrases de
                            drague
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h1>
                            <a href="http://qzine.fr/sondages/annivs/annivs.php">Annivs</a>
                        </h1>
                        <iframe height="auto" src="http://qzine.fr/sondages/annivs/insert-anniv.php"></iframe>
                    </div>
                </div>

                <span class="liens row text-center">

    <div class="col-xs-6 pull-right">

        <h1>Blogs:</h1>
        <a
                href="http://tykayn.fr">
            <img class="img-rounded" style="width: 100px !important"
                    src="http://www.tykayn.fr/wp-content/uploads/i/2013/07juillet/tykayn-fr.jpg">
            <span class="tooltip"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-original-title="illustrations, Mes actus et strips BD">
                Tykayn.fr blog Tesla et illustration
            </span>
        </a>
        <a
                href="http://www.cipherbliss.com">
            <img class="img-rounded" src="http://www.tykayn.fr/wp-content/uploads/informageek_fav.png">
            <span class="tooltip"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-original-title="nouvelles technologiques, langages de programmation, web et autres intérêts geekesques.">
                Cipher Bliss, blog technique
            </span>
        </a>
        <div class="span5">
            <h3>Communautés</h3>
            <a class="span4 thumbnail" href="https://twitter.com/tykayn">
                <img src="https://pbs.twimg.com/profile_images/2035305237/tk_avatar.jpg" alt="Tykayn sur twitter"
                        title="Tykayn sur twitter, suivez moi!"/> twitter
                <a href="https://twitter.com/tykayn">@TyKayn</a>
            </a>
            <a class="span4 thumbnail" href="http://tykayn.deviantart.com">
                <img src="{{ asset('img/portfolio/deco/deviantart-logo.jpg') }}" alt="Tykayn galerie Deviantart"
                        title="Tykayn galerie Deviantart"/> <img src="{{ asset('img/portfolio/deco/tykayn.gif') }}"
                        alt="icone animée de Tykayn sur Deviantart" title="icone animée de Tykayn sur Deviantart"/> ma
                galerie deviantart
            </a>

            <a class="span4 thumbnail" href="http://qzine.fr">
                <img src="http://qzine.fr/favicon.png" alt="forum de !Q le fanzine culturel"
                        title="!QLe Forum Culturel"/> !Q Le fanzine Culturel.
            </a>
        </div>
    </div>


    <hr/>
                    <h1>Téléchargements</h1>
                    {% include 'part/ressources.html.twig' %}
                    {#</a>#}
                    {% include('part/share.html.twig') %}
</span>
            {% endblock %}
