
{% extends "base.html.twig" %}
            {% block main %}

<div class="row-fluid">

        <div class="span8 offset3">
            <h1 class="">Logout</h1>
            zou, tu sors!
        </div>
</div>

            {% endblock %}
