{% extends "base.html.twig" %}
{% block main %}
  <div class="well" id="jeu">
    <h1>Résoudre des équations</h1>
    Avec leur étapes. Nickel si vous avez un devoir maison de math à faire et que vous n'y comprenez rien. Le résolveur d'équation vous permet de faire des miracles sur votre bulletin de notes, un métier très bien rémunéré à la clé, et le retour de l'être aimé. Le tout en Javascript avec AngularJS.
    <h2>

    </h2>

  </div>

  {% verbatim %}
    <div ng-app='tk'>
      <div  ng-controller='mathCtrl' ng-init="init()">
        <div class="row-fluid">
          <h2>Exemples</h2>
          Cliquez sur ces boutons pour voir leur solution

          <button ng-repeat="e in equations" class="btn btn-info" ng-click="setInput(e)">{{ e}}</button> 


          <!--            <button class="btn btn-info" ng-click="setInput(2)">b</button>
                      <button class="btn btn-info" ng-click="setInput(3)">c</button>-->
          <h2>entrez votre propre équation à résoudre:</h2>
          <div class="btn-group">
            <button class=" btn btn-primary btn-lg" ng-click="resoudre()">Résoudre</button><input class="input-prepend input-lg" type="text" ng-model="equation" placeholder="par exemple 3x+12=5x/2" />
            
          </div>

          <div class="col-lg-5">
            <div class="alert alert-info">
               <h3>Les étapes générales pour résoudre une équation:</h3>
            <ol>
              <li>Repérer les priorités d'opérateurs.</li>
              <li>Simplifier les multiples.</li>
              <li>Isoler les inconnues.(ce n'est pas du racisme)</li>
              <li>Ranger les inconnues par exposant</li>
              <li>Repérer les identités remarquables.</li>
              <li>Factoriser.</li>
              <li>résolution des inconnues.</li>
            </ol>
            </div>
           
          </div>
          <div class="col-lg-6 well" ng-show="demo == 1" >
            <h2>Résoudre <strong>3x=3</strong></h2>
            <ul>
              <li>3*x=3</li>
              <li>x = 3/3</li>
              <li>x = 1</li>
              <li>
                <div class=" alert alert-success">
                  Résultat:<br/>
                  x = 1<br/>
                </div>
              </li>
              <li>et voilà!</li>
              <li class="alert alert-info">
                <img src="http://static3.wikia.nocookie.net/__cb20130801110808/dragonball/images/6/6a/You-dont-say.jpg" alt="you don't say" />
                <br />
                C'était simplissime,il faudrait essayer avec quelque chose de plus fort.</li>
            </ul>
          </div>

          <div class=" col-lg-6 well" ng-show="demo==2">
            <h2>Résoudre <strong>−2x^2=2x</strong></h2>
            <ul>
              <li>−2*x² = 2*x</li>
              <li>−2x² -2x = 0</li>
              <li> x * (−2x -2) = 0</li>
              <li>Deux résultats sont possibles</li>
              <li>
                <div class="alert alert-success">
                  Résultat 1:<br/>
                  x = 0<br/>

                </div>
                <div class="alert alert-success">
                  Résultat 2:<br/>
                  -2x -2 = 0<br/>
                  2x +2 = 0<br/>
                  x +1 = 0<br/>
                  x = -1<br/>
                </div>
              </li>
              <li>et voilà!</li>
            </ul>
          </div>

          <div class=" well-large well bquote col-lg-6" ng-show="demo==3">
            <h2>Résoudre <strong>8x^2/5-2=6-3x</strong></h2>
            <ul>
              <li>8x^2/5 -2 = 6 -3x</li>
              <li>(8x²/5) +3x = 6 +2</li>
              <li>(8x²/5) +3x = 8</li>
              <li>5*(8x²/5 +3x) = 5*(8)</li>
              <li>8x² +15x = 40</li>
              <li>équation de la forme <em> ax² + bx = c </em></li>
              <li>Deux résultats sont possibles</li>
              <li>
                <div class="alert alert-success">
                  Résultat 1:<br/>
                  x = (−15+√(15²−4*8*-40)) / (2*8)<br/>
                  x = (−15+√(1505)) / 16
                </div>
                <div class="alert alert-success">
                  Résultat 2:<br/>
                  x = (−15−√(15²−4*8*-40)) / (2*8)<br/>
                  x = (−15−√(1505)) / 16
                </div>
              </li>
              <li>et voilà!</li>
            </ul>
          </div>
          <div class=" col-lg-6 panel panel-warning" ng-show="demo==5">
            Hou y'a une erreur!
            Nous vous conseillons la sobriété pendant un exercice de math, ça aide.
          </div>
          <div class=" col-lg-6" ng-show="demo==4">
             <h2>Résoudre <strong>{{equation}}</strong></h2>
             <img src="http://www.nioutaik.fr/images/heros/heros5.jpg" alt="go home alphabet, you are drunk" />
            <ul>
              <li>Ouvrir son bouquin de maths au chapitre sur les équations</li>
              <li>Tout lire.</li>
              <li>Réfléchir à ce que vous voulez faire de votre vie.</li>
              <li>Prendre un crayon sur du papier de brouillon.</li>
              <li>Résoudre le tout.</li>
              <li>Revérifier le résultat en remplaçant les inconnues par leur solution.</li>
              <li>Amen.</li>
              <li><img width=100% src="http://www.metee.com/t/2012/04/09/13/rKMAU_1333997137.png" alt="problem?" /></li>
              <li>
                <hr />
                Bon sinon, y'a bien des moyens de trouver de quoi résoudre des équations en ligne pas à pas sans dépenser un rond.

                équations en provenance du site 
                <a href="http://www.marblesoftwaresolutions.com/AlgebraSolver/">www.marblesoftwaresolutions.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endverbatim %}
  {% include('part/share.html.twig') %}
  <script type="text/javascript" src="{{ asset('bundles/tykaynportfolio/js/angular/lib/angular/angular.js') }}"></script>
  <script>
    /**
     */
    angular.module("tk", ['tk.controllers']);
    angular.module("tk.controllers", []).controller('mathCtrl', ['$scope', function ($scope) {
        $scope.test = 20;
        $scope.demo = 0;
        $scope.equations = ['3x=3', '-2x^2=2x', '8x^2/5-2=6-3x'];
        $scope.init = function () {
          $scope.setInput($scope.equations[0]);
        }
        $scope.setInput = function (e) {
          $scope.equation = e;
        };
        /**
         * test de l'input,
         * s'il n'est pas égal aux expressions d'exemple,
         * montrer le texte de troll.
         */
        $scope.resoudre = function () {
          var e = $scope.equation;
          $scope.demo = $scope.equations.indexOf(e) + 1;
          if ($scope.demo === -1) {
            $scope.demo = 5;
          }
          console.log('demo ' + $scope.demo);
          var indexEquation = $scope.equations.indexOf(e);
          console.log('l equation demandée ' + $scope.equation + ' correspond a l\'index n°' + indexEquation);
          if (indexEquation == -1) {
            //vérfier que l'équation a résoudre n'est pas vide.
            // qu'elle a un signe égal.
            if ($scope.equation !== undefined && $scope.equation.match(".\=.")) {
              $scope.demo = 4; // c'est le numéro de paragraphe correspondant au texte de troll.
            }
            else {
              $scope.demo = 5;
            }

          }
          else {
            $scope.demo = indexEquation+1;
          }
          console.log('nouvelle démo a monter: ' + $scope.demo);
        };

      }]);
  </script>

  <style type="text/css">
    .btn-info{
      margin-right: 1em;
    }
  </style>
{% endblock %}
