{% extends "base.html.twig" %}
{% block main %}
<h1>Illustrez la life de vos persos originaux</h1>
Choisissez vos persos, les textes se mettront à jour automatiquement, et illustrez les situations comme vous voulez! *0*


<div ng-app='tk'>
    <div ng-controller='mainCtrl'>
        {% verbatim %}
        <div class="row">
                    <div class="col-xs-6">
                        <label for="p1">Perso 1</label>
                        <input id="p1" type="text" ng-model="kitsu" ng-init=""/>
                    </div>
                    <div class="col-xs-6">
                        <label for="p2">Perso 2</label>
                        <input id="p2" type="text" ng-model="riviere" />
                    </div>
                     <div class="col-xs-6">
                        <label for="p3">Perso 3</label>
                        <input id="p3" type="text" ng-model="debo" />
                    </div>
                     <div class="col-xs-6">
                        <label for="p4">Perso 4</label>
                        <input id="p4" type="text" ng-model="boulard" />
                    </div>
                     <div class="col-xs-6">
                        <label for="p5">Perso 5</label>
                        <input id="p5" type="text" ng-model="mikanou" />
                    </div>
                     <div class="col-xs-6">
                        <label for="p6">Perso 6</label>
                        <input id="p6" type="text" ng-model="aber" />
                    </div>
                    <div class="col-xs-6">
                        <label for="p6">Perso 6</label>
                        <input id="p6" type="text" ng-model="pansai" />
                    </div>
                     <div class="col-xs-6">
                        <label for="p7">Perso 7</label>
                        <input id="p7" type="text" ng-model="djo" />
                    </div>
                    <div class="col-xs-6">
                        <label for="p8">Perso 8</label>
                        <input id="p8" type="text" ng-model="lepoulpe" />
                    </div>
                    <div class="col-xs-6">
                        <label for="p9">Perso 9</label>
                        <input id="p9" type="text" ng-model="cendar" />
                    </div>
          </div>
        <ol>
        <li>
        <span class="binding">{{kitsu}}</span> invite <span class="binding">{{riviere}}</span> et <span class="binding">{{debo}}</span> à dinner chez elle/lui. Qu'est ce qu'il se passe?
        </li>
        <li>
        <span class="binding">{{boulard}}</span> essaie d'enmener <span class="binding">{{mikanou}}</span> dans un strip club.
        </li>
        <li>
        Tu dois dormir chez un des deux pour une nuit, qui choisis tu, <span class="binding">{{aber}}</span> ou <span class="binding">{{pansai}}</span> ?
        </li>
        <li>
<span class="binding">{{djo}}</span> et <span class="binding">{{lepoulpe}}</span> sortent ensemble, puis <span class="binding">{{cendar}}</span> arrive, quelle est leur réaction ?
        </li>
        <li>
<span class="binding">{{riviere}}</span> tombe amoureux/se de <span class="binding">{{pansai}}</span>, <span class="binding">{{debo}}</span> est jalouse.
        </li>
        <li>
<span class="binding">{{kistu}}</span> te saute dessus dans une sombre ruelle, qui vient te sauver? <span class="binding">{{cendar}}</span>, <span class="binding">{{djo}}</span> ou <span class="binding">{{lepoulpe}}</span> ?
        </li>
        <li>
            <span class="binding">{{aber}}</span> commence un spectak de cuisine. 50 minutes plus tard...
        </li>
        <li>
        <span class="binding">{{riviere}}</span> doit se marier avec <span class="binding">{{debo}}</span>, <span class="binding">{{kitsu}}</span> ou <span class="binding">{{boulard}}</span>. Qui choisit-elle/il?
        </li>
        <li>

        <span class="binding">{{lepoulpe}}</span> kidnappe <span class="binding">{{djo}}</span> et demande quelque chose de la part de <span class="binding">{{mikanou}}</span> pour le/la libérer, qu'est-ce que c'est ?
        </li>
        <li>
        tout le monde se ligue contre <span class="binding">{{riviere}}</span>. a-t-il/elle une chance de s'en sortir ?
        </li>
        <li>
        tous sont invités au mariage de <span class="binding">{{djo}}</span> et <span class="binding">{{cendar}}</span>, sauf <span class="binding">{{debo}}</span>, comment réagissent-ils ?
        </li>
        <li>
        pourquoi <span class="binding">{{pansai}}</span> a-t-il/elle peur du poulpe ?
        </li>
        <li>
        <span class="binding">{{aber}}</span> arrive en retard au mariage de <span class="binding">{{djo}}</span> et <span class="binding">{{cendar}}</span>. Pourquoi était il/elle en retard?
        </li>
        <li>
        <span class="binding">{{mikanou}}</span> et <span class="binding">{{boulard}}</span> reviennt bourrés et arrivent chez toi.
        </li>
        <li>
        <span class="binding">{{boulard}}</span> tue le meilleur pote de <span class="binding">{{djo}}</span>. que fait <span class="binding">{{djo}}</span> pour les retrouver ?
        </li>
        <li>
        <span class="binding">{{pansai}}</span> et <span class="binding">{{aber}}</span> sont en danger, un seul peut survivre. <span class="binding">{{pansai}}</span> s'auto sauve-t-il ou bien sauve-t-il <span class="binding">{{aber}}</span> ?
        </li>
        <li>
        <span class="binding">{{debo}}</span> et <span class="binding">{{riviere}}</span> partent camper, ces tanches ont oublié d'amener la bouffe. Que font elles ?
        </li>
        <li>
        <span class="binding">{{mikanou}}</span> vient d'avoir un accident de bagnole et est grièvement blessé(e). que fait <span class="binding">{{boulard}}</span> ?
        </li>
        <li>
        fini les conneries, taggue quelqu'un!
        </li>
        </ol>
</div>
</div>
<style>
.binding{
color : #005580;
}
</style>
<div class="well">
à vous de jouer! et faites passer le résultat de ce que vous avez fait dans les commentaires. Bon tagguage. ;)
</div>
       {% endverbatim %}
        {#<script type="text/javascript" src="{{ asset('bundles/tykaynportfolio/js/angular/lib/angular/angular.js') }}"></script>#}
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
        <script>
            angular.module("tk", ['tk.controllers']);
            angular.module("tk.controllers", []).controller('mainCtrl', ['$scope', function ($scope) {
                $scope.test = 20;
                $scope.kitsu = 'perso10';
                $scope.riviere = 'perso1';
                $scope.debo = 'perso2';
                $scope.boulard = 'perso3';
                $scope.cendar = 'perso4';
                $scope.aber = 'perso5';
                $scope.pansai = 'perso6';
                $scope.mikanou = 'perso7';
                $scope.djo = 'perso8';
                $scope.lepoulpe = 'perso9';

            }]);
        </script>
        et voici celui que j'ai
        <a href="http://tykayn.fr/?post/2009/04/03/Vovo-Fiction-%28encore-un-tag%29">fait en 2009 sur mon blog dessiné
        </a>
        <a href="tykayn.fr">tykayn.fr</a>
        . <img src="http://www.tykayn.fr/wp-content/uploads/i/2009/03-mars/oc_meme_tk_header.jpg" alt=""
                style="display:block; margin:0 auto;"> <img
                src="http://www.tykayn.fr/wp-content/uploads/i/2009/03-mars/OC_art_meme_remix_by_Misuteru_tk.jpg"
                alt=""
                style="display:block; margin:0 auto;">
        <style>
        </style>
        {% include('part/share.html.twig') %}

        {% endblock %}
