{% extends "base.html.twig" %}
            {% block main %}
                <div class="well">
                    <h1>Note</h1>
                    Votre bloc notes personnel utilisant localstorage.
                </div>

                {% verbatim %}
                <div ng-app='tk'>
                    <div ng-controller='noteCtrl'>
                        <div class="alert alert-info" ng-init="support()" ng-bind="support_res">
                        </div>

                        <button class="btn btn-warning" ng-click="resetLs()">Effacer tout</button>
        <textarea
                ng-change="upLs()"
                style="width: 100% !important"
                width=100%
                class="text-primary"
                name="noteTxt"
                id="noteTxt"
                cols="500"
                rows="70"
                ng-model="tk_note_content"
                ng-init="getLs()"
                placeholder="prenez donc des notes. des listes de courses, soyons fous!">
        </textarea>


                        <br/>

                    </div>
                </div>


                {% endverbatim %}
                {% include('part/links-interactive.html.twig') %}
                <script type="text/javascript"
                        src="{{ asset('bundles/tykaynportfolio/js/angular/lib/angular/angular.js') }}"></script>
                <script type="text/javascript"
                        src="{{ asset('bundles/tykaynportfolio/js/angular/lib/angular/localStorageModule.js') }}"></script>
                <script>
                    var myApp = angular.module("tk", ["LocalStorageModule"]);
                    myApp.controller('noteCtrl', ['$scope', 'localStorageService', function ($scope, localStorageService) {
                        $scope.test = 20;
                        $scope.tk_note_content = '';
                        var ls = localStorageService;
                        console.log(ls);
                        $scope.upLs = function () {
                            $scope.support_res = '...'
                            ls.add('tkNote', $scope.tk_note_content);

                            $scope.support_res = 'texte enregistré'
                            $scope.tk_note_content = ls.get('tkNote');
                        }

                        $scope.storageType = 'Local storage';

                        if (!localStorageService.isSupported()) {
                            $scope.storageType = 'Cookie';
                        }

                        $scope.getLs = function () {
                            var savedNote = ls.get('tkNote');
                            if (savedNote != null) {
                                $scope.tk_note_content = savedNote
                            }
                        }
                        $scope.resetLs = function () {
                            ls.remove('tkNote');
                            $scope.tk_note_content = '';
                        }
                        $scope.support = function () {
                            if (ls.isSupported()) {
                                $scope.support_res = 'Bravo, vous pouvez utiliser le LocalStorage, vous avez un navigateur moderne.';
                            }
                            else {
                                $scope.support_res = 'Bouh! Vous avez un navigateur datant de l\'âge sombre. Vous ne pourrez pas profiter du localStorage';
                            }

                        }

                    }])
                </script>


            {% endblock %}
