{% extends "base.html.twig" %}


{% block main %}

<h1><img src="{{ asset('img/portfolio/tpl/clair/rond.png') }}" /> Pickup lines</h1>

<br/>
<p> Dans les phrases de drague pour aborder quelqu'un, ce qui compte ce n'est pas ce que l'on dit, mais la façon dont on le dit. Donc autant dire n'importe quoi.</p>
<button id="phrase" >
    une autre au hasard!
</button>
<br/>
<div>
    <cite id="div">
    </cite>
</div>
<button id="stop">
    pause
</button>
<div id="past">
</div>
<br/>
Auteur: <a href="http://cipherbliss.com"><img class="icon" src="{{ asset('img/portfolio/tpl/clair/favicon.png') }}"/> Tykayn - cipherbliss.com</a><br/>
<sub>Venez causer de sexualité et de sociologie interpersonnelle sur</sub>
<a href="http://qzine.fr/forum">
    <img  class="icon" src="http://qzine.fr/favicon.png"/>Qzine.fr</a>
<style>
    h1{
{#      margin: 50px 0;#}
      border-bottom: 1px solid #ccc;
      color: #472508;
    }

    cite{
      padding: 20px 0 ;
      font-size: 20px;
      font-variant: normal;
      display : block;
      height: 100px;
      color: #a1a1a1;
    }

    cite:first-letter{
      text-transform:uppercase;
      font-size:25px;

    }

    div.ancienne_phrase{
      padding: 10px 0 ;
      display: block;
      border-top: 1px solid #ccc;
    }

    button {
      border-radius: 3px;
      width: 100%;
      height: 35px;
      background: #ccc;
      border: none;
      display: block;
      cursor: pointer;
    }
    button:hover{
      margin-top:2px;
      background: #ddd;
    }
    button:active {
      margin-top:2px;
      background: #aaa;
    }

   .principal a{
      color: #EA8888;
    }
    .principal a:hover{
      color: #000;
      background: #FFE0E0;
    }
   .principal p{
      color:#A56A6A;
      background: #FFE0E0;
      padding: 10px;
    }
    .icon{
      height:15px;
      margin: 0 10px;
    }
    h1 img{
      height: 1em;
      margin: 0 20px;
    }
  </style>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js" ></script>
<script type="text/javascript">

    show_phrase = true; /* définir si la pause fonctionne */
    compt_phrases = 0;

    jQuery(document).ready(function() {
        // déclaration des termes
        interjection = new Array("dites moi donc", "hey", "Holà", "Salut", "Bien le bonjour", "que j'aime tes fesses", "oh ben oooh!", "te voilà", "vous ici", "mes humbles salutations", "waaaaah", "oh", "heyoooo", "hey mais sérieux!", "COUCOU!", "Bonjour");
        surnom = new Array("beau cul", "mamwouazelle", "toi là avec les seins!", "chère enfant", "beauté", "bombASSe", "biatche", "monnn petit!", "sexy laydy", "joli bout de viande", "belle enfant", "princesse", "ô bouche de suceuse", "jeune fille", "belle plante", "fillette", " beauté fatale", "ouech grosse", "fille d'Eve", "jouvencelle", "mignonette", "beau châssis", "gourgandine");
        qualificatif = new Array("allégrement", "goulument", "bestialement", "amoureusement", "chaleureusement", "fougueusement", "sauvagement", "fermement");
        qualified = new Array("en rut", "bourré", "qui a ses règles", "en mode berserk", "essouflé", "un jour de pleine lune", "avec un accent Américain", "en latex", "qui vibre", "qui roule les R", "au regard de bourrin", "suant comme un petit goret", "sous exta");
        contexte = new Array("durant le yoga", "en pleine méditation", "quand Vénus rencontre Mars", "alors que fleurissent les cerisiers", "après un marathon", "à quatre pattes", "quand la pleine lune éclaire tes tesses", "avec deux battes de Baise Ball", "quand tu faisais la cuisine", "en pleine douche", "avec des boules de geisha", "en murmurant des noms de pokémon", "en habit de furry", "à la louche", "l'air de rien", "comme ça", "en pleine rave party", "en apesanteur", "à l'improviste", "sans culotte");
        comparatif = new Array("tel", "aussi bien que", "comme", "mieux que", "avec plus de véhémence que", "plus soigneusement que", "moins doucement que");
        compared = new Array("le ptit jésus", "robocop", "George Clooney", "ta soeur", "ta mère", "ton père", "Rumbo", "Chtulu", "les sept nains", "Gandalf", "le monstre du lock ness", "Bras d'Bite", "tes doigts");
        comparatif_qu = new Array("tel", "aussi bien qu'", "avec plus de véhémence qu'", "aussi langoureusement qu'");
        compared_qu = new Array("le ptit jésus", "un poulpe de hentai", "un yéti", "un BOEUF", "un char d'assaut", "un tank", "un vrai homme", "une chose");
        action = new Array("faire pleurer le séant", "défoncer la rondelle", "secouer fougueusement le cocotier", "chanter un peu d'Elmer Food Beat");
        organe = new Array("la porte du paradis", "le mont vénus", "les oreilles", "les poignées d'amour", "les doigts", "le porte jartelle", "ta jupe", "ton trou béant", "le wonder bra", "la motte", "la porte de derrière", "la X box", "la bonbonnière", "l'intelligence", "le flan", "le séant", "la conversation", "la rondelle", "la féline de ton entrejambe", "le berlingot", "le minou", "la glissière de ton froc", "les seins");
        organes = new Array("les lasagnes", "les gambettes", "les cuisses", "les aisseles", "les pieds", "tes steaks", "la pomme d'amour", "les escalopes", "les fesses", "les boobs", "tes boobs", "les cheveux", "les lèvres du bas", "les lèvres du haut", "les lasagnes", "les tâches de rousseur");
        suppl = new Array("Tu suces après t'être fait sodom?", "T'as vu?", "Y a moyen de moyenner ?", "Toi même tu sais.", "ça te plait ce que tu vois?", " j'ai très envie de te voir en maillot de bain ", "T'as pas un 07?", "...tu veux voir ma bite?", "je vais t'apprendre le langage des corps", "je te ferai escalader mon everest en moins de deux", "laisse moi t'apeller Angellaaaaaa", "j'suis chaud comme une baraque à frites", "jte brancherai bien mon plugin", "j'ai des sextoys à la maison", "pour la visite nocturne c'est quand tu veux", "mais en fait les cheveux gras ça te va super bien", "il fait bien chaud dans mon slip", "tu veux ou tu veux?", "c'est celui qui allume qui encule", "j'ai pas peur de baiser pendant les règles", "Tu peux inviter ta grande soeur aussi", "miaouuuuu", "tu es bien foutue comme un meuble ikéa", "tu es plus belle que rainbow dash!", "tu veux du sirop de corps d'homme?", "i just met you and this is crazy! but here's my number so call me maybe", "oppan gangnam style!", "oh je ne disais pas ça à toi mais à tes seins", "j'ai des cookies à la maison", "c'est comme ça que j'ai séduit ta mère", "sais tu que j'ai vu ta mère sur youporn hier?", "... non rien, en fait je m'entraine juste à aborder les inconnus", "ça ne va pas se sucer tout seul!", "regarde tout ce qu'on peut faire!", "tu aurais des capotes XXL ?", "Si tu veux sentir ma grande magnificience", "Un king kong size, ça te tente?", "ça te tente?", "N'aie pas peur, je serais doux, peut être...", "Tu aimes quand ça vibre?", "Pour noël, je veux ton huitre perlée.", "Je veux nager dans ta cyprine !", "Tout est démesuré chez moi, mon humour, ma teub...", "Tu aimes le maquillage? La bifle, c'est mieux que le blush pour te rosir les joues !", "Je te présente Jean Popole.", "J'aime le concombre, et toi?", "Hey, hey, jsuis chaud !!", "Je me suis perdu en cours de rute, tu m'amène chez toi??", "Y à un micro climat dans ta culotte, chaud, et humide ! Oulà c'est la mousson !", "Ça te dit de danser un mambo horizontal ?", "J'aimerais décrocher ta lune ! J'ai un gros télescope pour ça !", "Je suis généreux, jte laisserais jouir en premier !", "Je te refais 20 000 lieux sous les mers avec mon gros tentacule !", "Tu aimes le sport de glisse?", "Ma fiche dans ton slot ! Désactive le firewall, j'arrive ! ", "Mon antivirus, c'est durex !", "Jvais te livrer un gros flux de données bien compressées", "Serre les fesses, j'arrive à toute vitesse", "jvais te chevaucher la croupe façon haute école !", "Escalade mon gros tronc et tu atteindras des sommets !");
        virgule = new Array(",");
        que = new Array("que");
//pour infinitif
        intention = new Array("si tu aimes le chocolat je peux te", "avec un seul doigt je peux te", "si je t'offre des fleurs je peux te", "comme j'aimerais", "hoummmmm", "allez viens! je pourrai te", "il faut", "je sais comment", "ça me rend ému du slip quand je me vois te", "j'irai volontiers te", "faut tester si on peut te");
        action_infinitif = new Array("faire BOUM BOUM", "polir", "remouler", "faire HEEEE MACARENA", "papouiller", "palper", "négocier", "brouter", "tringler", "défoncer", "ravager", "redéfinir", "cartographier", "réagencer", "malaxer", "bénir", "liquéfier", "manger", "croquer", "pénétrer", "mesurer", "chalouper", "CULbuter", "cuisiner", "mettre à jour", "repeindre", "fourrer", "farcir", "refaire", "lécher", "boxer", "squeezer");
        intention_imp = new Array("Je te montre comme j'ai déjà ", "J'suis sûr qu'on ne t'a jamais ", "On t'a déjà", "T'es tu déjà");
        intention_t = new Array("ca te branche que je t'", "ça te rend émue du slip si je t'", "si je t'atrappe, je t'");
        action_t = new Array("agite", "enjambe", "implémente", "honore", "explore", "embroche", "emmène au vent", "éduqe", "astique", "englobe");
        action_inf = new Array("broute", "tringle", "défonce", "ravage", "redéfinisse", "honore", "explore", "réagence", "malaxe", "liquéfie", "mange", "croquer");
        action_imparfait = new Array("défoncé", "ravagé", "implémenté", "exploré", "fait pleurer", "liquéfié");
        intention_te = new Array("viens là que je te vende du rêve et que je te ", "il faut qu'on te", "il faut que je te", "ça ne te dérange pas que je te", "veux tu bien que je te", "ca te branche que je te", "je te", "ça me rendrait ému du slip si je te", "si je t'atrappe, je te");
        action_te = new Array("secoue", "tripote", "mate", "branle", "dougoudougoudou", "donne un ou deux orgasmes", "procure jouissance", "BENG BENG", "défonce", "ravage", "découvre", "fasse pleurer", "fasse l'amour", "poke", "farcis", "sodomise", "fuck", "m'gouloum gouloum", "pouf-bam-pastèque");
        types_phrase = new Array(
                [interjection, surnom, virgule, intention_t, action_t, qualificatif, organe],
                [interjection, surnom, virgule, intention_t, action_t, qualificatif, organe],
                [interjection, virgule, intention_imp, action_imparfait, qualificatif, organes, comparatif_qu, compared_qu, qualified, contexte],
                [surnom, virgule, suppl],
                [interjection, virgule, organes, virgule, suppl],
                [suppl],
                [comparatif, compared, virgule, intention_te, action_te, organes, virgule, suppl],
                [intention, action],
                [intention_imp, action_imparfait, organe, contexte],
                [intention, action_infinitif, organe, contexte]
                );
// déclaration des phrases
        rendu = ' yay ';
        function r(tableau) {
            var nombre = parseInt(Math.random() * tableau.length);
            return tableau[ nombre ];
            console.log(nombre + ' / ' + tableau.length)
        }
        phrase = r(types_phrase);
        function phraser(laphrase) {
            var renduphrase = '';
            for (termes in phrase) {
                renduphrase += r(termes) + ' ';
            }
            return renduphrase;
        }

        function nouvelle() {
            console.log('nouvelle phrase');
            if (show_phrase === true && compt_phrases < 15 ) {
                compt_phrases++;
                renduphrase = '';

                phrase = r(types_phrase);
                for (i in phrase) {
                    renduphrase += r(phrase[i]) + ' ';
                }
                rendu = renduphrase
                ancienne_phrase = $('#div').html();
                $('#div').html(rendu);
                $('#past').prepend('<div class="new_ancienne_phrase" style="display:none;">' + ancienne_phrase + '</div>');
                $('.new_ancienne_phrase').hide().removeClass('new_ancienne_phrase').addClass('ancienne_phrase').slideDown();
            }
            else if(compt_phrases > 14){
                show_phrase = false;
                clearInterval(niouzes);
            }
            else {
                $('#stop').text('relancer')

                console.log('phrase désactivée')
            }

        }
        nouvelle();
        niouzes = setInterval(function() {
            nouvelle()
        }, 6000);

        $('#phrase').click(function() {
            console.log('une autre!')
            show_phrase = true;
            nouvelle();
        });
                $('#stop').click(function() {
            show_phrase = !show_phrase;
            return show_phrase;
        });
    });

</script>
{% endblock %}