{% extends "base.html.twig" %}
            {% block main %}
                <div id="jeu">

                </div>

                {% verbatim %}
                <div ng-app='tk'>

                    <div ng-controller='jeuCtrl' ng-init="init()">
                    <h1>Randomisateur de noms d'organes et de pratiques CULturelles                    </h1>

                        <div class="col-lg-12">
                        <button class="btn btn-primary btn-lg pull-right" ng-click="init()">une autre!</button>
                            <h2 class="text-center"> {{ texte }}</h2>

                        </div>
                        <div class="row well text-center">
                            <div class="col-lg-12">
                            <h2> {{hasardNombre}}</h2>
                                <img ng-src="{% endverbatim %}{{ asset('img/pages/random-organes/') }}{% verbatim %}{{ image_random }}" alt="image {{ image_random }}"/>
                                <div>
                                {{pratique}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endverbatim %}

                {% include('part/links-interactive.html.twig') %}
                <script type="text/javascript"
                        src="{{ asset('js/angular.min.js') }}"></script>
                <script>
                    /**
                     * code principal
                     */
                    angular.module("tk", ['tk.controllers']);
                    angular.module("tk.controllers", [])
                            .controller('jeuCtrl', ['$scope', function ($scope) {
                                $scope.test = 20;

                                $clitoris = ["le petit chaperon rouge     ", "la bonbonnière", "le berlingot", "la timbale", "le bouton de rose", "tirlitoto", "le bouton magique", "le clito", "la touffe"]
                                $sexe_femme = ["la foufoune     ", "la moule", "la foufounette", "la moumoune", "la mounette", "la chatte", "le petit frisé", "la moule", "le big mac", "le minou", "le con    ", "une cramouille    ", "l‘abricot ", " le fri fri ", " la chouchoute ", " le fruit(dé) fendu"]
                                $vulve = ["les lasagnes", "la poilue", "la porte de jade"]
                                $vagin = ["la cheminée", "l‘antre", "le vagin", "le laboratoire"]
                                $poitrine = ["la conversation     ", "les Robert", "Miss meule d'or", "les meules", "les obus     ", "les nibars", "les lolos", "les tétés", "les nichons    ", "les pare - chocs    ", " les ballons", " les nénés ", "les gougouttes", "Roméo et Juliette "]

                                $penis = ["le mont chauve     ", "le loup", "la bite", "le cyclope", "le créateur", "le manche", "le zizi", "la biroute", "la bistouquette", "le bistouri", "la lame", "l‘outil ", " l‘engein ", " l‘intelligence ", " le cigare à moustache ", " Popol ", " la pine ", " petit péni '	", "trompette	", "Cobra	", "la culture	", "le pénis	", "le chibre ", " la verge ", " la hampe ", " le vit ", " la tour eiffel ", " le terrible engin ", " gaston lagaffe ", " popaul ", " le bâton de berger ", " le faiseur de femme ", " la quequette ", " zguége ", " biloute ", " le zob ", " la queue ", " le poireau ", " le zguége ", " le singe ", " le gourdin clouté"]
                                $testicules = ["les couilles", "le sac à malice", "les quouquouniettes", "les valseuses     ", "les boules", "la bourse     ", "les rondoudous     ", "les testicules     ", "les gosses", "les deux orphelines"]
                                $fluides = ["le miel     ", "la liqueur     ", "le nectar     ", "la mouille", "le foutre", "le jus "]
                                $anus = ["l étoile noire     ", "le petit trou     ", "le fion     ", "la rondelle     ", "l oeil "]

                                $poils = ["la toison     ", "le pelage", "Les pwals     ", "la fourure", "le gazon", "la touffe", "le yéti "]
                                $fesses = ["le joufflu     ", "les séantes     ", "les miches     ", "la pleine lune", "la lune     ", "le cul", "le prose     ", "le derche", "le popotin     ", "les fesses "]
                                $fellation = ["faire un pompier     ", "tailler une pipe     ", "Nettoyer l‘outil ", " faire une fellapipe ", " sucer ", " sucette ", " gourmandise ", " flute enchantée"]
                                $cunnilingus = ["faire une minette     ", "faire des léchouilles     ", "Broutter     ", "manger une tarte aux poils", "friandise"]
                                $fairelamour = ["tringler ", "prendre ", "niquer ", "partir en mission ", "baiser ", "sexer ", "troncher ", "culbuter ", "prendre ", "mettre ", "faire du catch dans la nuit ", "pistonner", "passer à confes", "ngolo ngolo", "                                faire la bête à 2 dos", "dis donc", "niquer là", "s'envoyer en l'air", "faire une partie de jambes en l'air", "faire le con"]

                                $sodomie = ["passer par derrière ", "emprunter le chemin boueux", "mazouter le pinguin", "avoir le vent en poupe ", "se faire redéfinir l anus ", "Le trou de balle ", "la boîte à caca ", "ouvrir les portes de sodome ", "Se faire pistonner le fion", "Faire une pénétration anale ", "se faire péter la rondelle ", "se faire titiller la prostate ", "passer par le chemin boueux ", "se faire rempoter le bambou ", "décalaminer le pot ", "se faire touiller la ganache ", "enculer", "enculerie"]

                                $regles = ["avoir piscine ", "le débarquement ", "la fin du monde ", "les ragnagna ", "La Déferlante ", "la rivière rouge ", "les mfaites pas chier", "les règles ", "pivoinette", "ours", "zone rouge"]

                                $masturbation_h = ["faire mousser", "s‘astiquer", "faire pleurer", "se branler", "sègue", "La pougnette", "5 contre 1", "jouer à la Sega", "secouer le poireau", "avoir rendez vous avec la veuve poignet", "faire dégorger le poireau"]

                                $masturbation_f = ["Se double cliquer la souris", "se toucher", "se caresser", "s‘astiquer", "se polir la moule", "les fouilles", "sègue de fille"]
                                $pratiques = ["clitoris", "penis", "fairelamour", "sexe_femme", "masturbation_h", "masturbation_f", "fellation", "cunnilingus", "poils", "fluides", "fesses", "sodomie", "vagin", "vulve", "anus", "regles", "testicules", "poitrine"]

                                $pratiquesObj = {
                                    "clitoris"      : $clitoris,
                                    "penis"         : $penis,
                                    "fairelamour"   : $fairelamour,
                                    "sexe_femme"    : $sexe_femme,
                                    "masturbation_h": $masturbation_h,
                                    "masturbation_f": $masturbation_f,
                                    "fellation"     : $fellation,
                                    "cunnilingus"   : $cunnilingus,
                                    "poils"         : $poils,
                                    "fluides"       : $fluides,
                                    "fesses"        : $fesses,
                                    "sodomie"       : $sodomie,
                                    "vagin"         : $vagin,
                                    "vulve"         : $vulve,
                                    "anus"          : $anus,
                                    "regles"        : $regles,
                                    "testicules"    : $testicules,
                                    "poitrine"      : $poitrine

                                }
                                $scope.init = function () {
                                    console.log('spartiiiiiiii');
                                    $scope.hasardage();
                                }
                                $scope.hasardage = function () {
                                    // prendre une pratique au hasard
                                    var $pratique = $pratiques[Math.floor(Math.random() * $pratiques.length)];
                                    $tableau = $pratiquesObj[$pratique];

                                    //sort une valeur au hasard du tableau
                                    $nombre = $tableau.length;
                                    var $hasard = $tableau[Math.floor(Math.random() * $tableau.length)]
                                    $scope.texte = $tableau[$hasard];
                                    $scope.hasardNombre = $hasard
                                    $scope.pratique = $pratique
                                    $scope.image_random = $pratique + '.jpg'
                                }
                            }])
                </script>


            {% endblock %}
