{% extends "base.html.twig" %}
            {% block main %}
                <div class="well" id="jeu">
                    <h1>Jeu de l'enseignant</h1>

                    <h2>

                    </h2>
                    Un jeu dont vous êtes le héros utilisant angularJS, inspiré par
                    <a href="http://www.nioutaik.fr/index.php/2013/03/13/642-le-cours-dont-vous-etes-le-heros">le cours
                        dont VOUS êtes le héros</a> de nioutaik.fr
                </div>

                {% verbatim %}
                <div ng-app='tk'>
                    <div ng-controller='jeuCtrl' ng-init="init()">
                        <div class="col-lg-12">
                            <h2 class="text-center">N°{{ event_num }}</h2>
                        </div>
                        <div class="row well">


                            <div class="col-lg-6">
                                <img ng-src="{{ event.img }}" alt="image de l'évènement {{ event_num }}"/>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    {{ event.txt }}
                                </div>
                                <div>
                                    <h2>Actions possibles</h2>
                                    <ul>
                                        <li ng-repeat="c in event.choix">
                                            <button class="btn btn-primary" ng-click="goTo(c.1)">{{ c.0 }}</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Chemin des actions</h2>
                            <button class="btn btn-info" ng-repeat="p in path" ng-click="goTo(p)">
                                {{ p }}
                            </button>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
                <div class="hidden" id="url_json">
                    {{ asset('json/teacher_game.json') }}
                </div>

                {% include('part/links-interactive.html.twig') %}
                <script type="text/javascript"
                        src="{{ asset('bundles/tykaynportfolio/js/angular/lib/angular/angular.js') }}"></script>
                <script>
                    /**
                     * créer les vues
                     * faire un JSON avec les données.
                     * @param {type} param1
                     * @param {type} param2
                     */
                    angular.module("tk", ['tk.controllers']);
                    angular.module("tk.controllers", []).controller('jeuCtrl', ['$scope', '$http', '$templateCache', function ($scope, $http, $templateCache) {
                        $scope.test = 20;
                        $scope.event_num = 0;

                        event = {
                            img: 'http://www.nioutaik.fr/images/heros/heros0.jpg',
                            txt: "Vous êtes un(e) jeune professeur de mathématiques nouvellement intégré au Lycée Osantiano, un établissement réputé difficile, plein d’élèves qui n’ont pas de respect qui change l’école dedans leur corps. Cela ne vous fait pas peur, votre truc, ce sont les sensations fortes et après avoir longuement hésité entre devenir dresseur de serpents sourds ou pilote de F1 acrobatique, vous vous êtes souvenu que l’éducation nationale, c’est un peu comme Bagdad : on envoie les jeunes au casse pipe dans les coins chauds pendant que les responsables glandent peinard, bref, la carrière de vos rêves. Votre premier cours sera l’instant de vérité, point de départ d’une carrière grandiose ou échec aux dimensions épiques ? A vous de décider !",
                            choix: [
                                ['Commencer', 1]
                            ]
                        }
                        ;
                        $scope.events = new Array();
                        $scope.init = function () {
                            console.log('spartiiiiiiii')
                            $http({method: 'GET', url: $('#url_json').html(), cache: $templateCache}).
                                    success(function (data, status) {
                                        $scope.status = status;
                                        $scope.events = data;
                                        console.log('succès')
                                        console.log(data)
                                    }).
                                    error(function (data, status) {
                                        $scope.data = data || "Request failed";
                                        $scope.status = status;
                                    });
                        }


                        $scope.event = event;
                        $scope.path = new Array();
                        /**
                         * aller à un autre évènement
                         * @param {type} num
                         * @returns {undefined}
                         */
                        $scope.goTo = function (num) {
                            $scope.path.push(num);
                            $(window).scrollTop($('#jeu').position().top);
                            $scope.event = $scope.events[num];
                            $scope.event_num = num;
                            $scope.allSeen()
                        }

                        /* savoir si on a vu tous les évènements */
                        $scope.allSeen = function () {
                            $scope.path
                        }

                    }])
                </script>


            {% endblock %}
