{% extends "base.html.twig" %}
{% block main %}

    {#{% if gal is defined %}
      <div class="galerie row-fluid">
        {% include 'TykaynPortfolioBundle:Pages:gal.html.twig' %}
      </div>
    {% endif %}#}
    <a class="btn btn-info pull-right" href="{{ path('view_page' , { page : 'CV'}) }}"><b class="fa fa-arrow-right"></b>
        My skills are on the CV page
    </a>
    <div class="row-fluid ">
        <div class="web webclients col-lg-6 col-md-6 col-sm-6">

            <h3>My clients</h3>
            <ul class="unstyled">
                <li>Cofely Ineo / Engie</li>
                <li>La Trotteuse</li>
                <li>Samsung / Cheil worldwide</li>
                <li>Ekistack</li>
                <li>Design & Human</li>
                <li>le Centre International des Etudes Pédagogiques</li>
                <li>Gutenberg Technology</li>

                <li>Le livre scolaire</li>
                <li>Vivarte group (André</li>
                <li>La Halle</li>
                <li>Minelli</li>
                <li>Caroll</li>
                <li>Pataugas</li>
                <li>DefiMode...)</li>
                <li>Uzik</li>
                <li>Planète Amazone</li>
                <li>Méluzine</li>
                <li>Ludovic Souliman</li>
                <li>Rcd Except</li>
                <li>Small Dots</li>
                <li>Concretio</li>
                <li>Vision FP</li>
                <li>Qzine</li>
                <li>Nekoko SARL</li>
                <li>First Atlantic Real Estate</li>
                <li>Lauwenmark.</li>
            </ul>
        </div>
        <div class="weblinks col-lg-6 col-md-6 col-sm-6">
            <div class="row">


                <h3>
                    <b class="fa fa-paper-plane"></b> websites i worked on</h3>
                <a href="http://www.samsung.com/fr/pure-experience/lifestyle/beautyfood/"> Samsung - Beautyfood</a>
                <a href="http://www.ciep.fr">TCF CIEP</a>
                <a href="http://www.raoni.com">Raoni.com</a>
                <a href="http://www.designandhuman.com">Design & Human</a>
                <a href="http://www.ludovicsouliman.com">Ludovic Souliman</a>
                <a href="http://www.andre.fr"> Andre</a>
                <a href="http:/www.lahalle.com/">la Halle</a>
                <a href="http:/www.caroll.com/">Caroll</a>
                <a href="http://sondages.qzine.fr">sondages Qzine</a>
                <!--<a href="http://cipherbliss.com/free-mobile"> Faux Free mobile</a>-->
                <a href="http://qzine.fr/boutique">Boutique Qzine</a>
                <a href="http://qzine.fr/portal"> Portail du serveur ailesse</a>
                <a href="http://todojsc.ailesse.info">Todojsc First atlantic</a>
                <a href="http://tykayn.fr">Tykayn blog</a>

            </div>
            <div class="row">
                <h3>
                    <b class="fa fa-check-square"></b> Demos</h3>
                <img class="col-lg-2 col-sm-2 img-responsive"
                        src="http://ninja-squad.com/public/img/angularjs-logo.png.pagespeed.ce.2SfPGmgT_b.png"
                        alt="angular JS demos"/>
                {% include 'Default/demos.html.twig' %}
                {% if apps is defined and apps is not empty %}
                    <h3>Applications</h3>
                    {% include 'TykaynPortfolioBundle:Apps:apps.html.twig' %}
                {% endif %}
            </div>
            <div class="row">
                {% include 'part/links.html.twig' %}
            </div>
        </div>

    </div>




{% endblock %}
