{% extends "base.html.twig" %}
{% block main %}
<div class="container">

    <div class="row">
        <h1 class="text-center">Yeoman Angular JeeJ.</h1>

    </div>


    <a class="btn btn-info" href="https://github.com/tykayn/generator-tk">
        <i class="fa fa-github"></i>
        hosted as "generator-tk" on github
    </a>
    <a class="btn btn-info" href="https://www.npmjs.com/package/generator-angular-jeej">
        <i class="fa fa-globe"></i>
        see it on npmjs.com
    </a>
    <a class="btn btn-info" href="http://tykayn.fr/index.php?post/2015/g%C3%A9n%C3%A9rateur-angular-jeej">
        <i class="fa fa-news"></i>
        j'ai écrit un billet de blog en Français à propos de ce générateur Yeoman.
    </a>
    <article class="markdown-body entry-content" itemprop="mainContentOfPage">
        <h1 class="text-center">
            <a id="user-content-generator-angular-jeej" class="anchor" href="#generator-angular-jeej"
                    aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            generator-angular-jeej
        </h1>

        <h2 class="text-center">Why would you use this generator ?</h2>
        Because it gives: Gulp, Angular, coffeescript, jquery, bootstrap, font awesome, commitement to open source.
        browser sync, karma, jasmine, jslint, uglify, coverall and more. with some tests examples, and a sassy way to
        use sass. <br> status: working by now and usable. See Todo's section.
        <p>
            <a href="https://nodei.co/npm/generator-angular-jeej/">
                <img src="https://camo.githubusercontent.com/4ff1b85bffbf021726b96a546a0ac91689edb2df/68747470733a2f2f6e6f6465692e636f2f6e706d2f67656e657261746f722d616e67756c61722d6a65656a2e706e673f646f776e6c6f6164733d7472756526646f776e6c6f616452616e6b3d747275652673746172733d74727565"
                        data-canonical-src="https://nodei.co/npm/generator-angular-jeej.png?downloads=true&amp;downloadRank=true&amp;stars=true"
                        style="max-width:100%;" alt="npm angular jeej">
            </a>
        </p>
        <img class="img"
                width="100%"
                src="http://blog.grayghostvisuals.com/xS6BUjV1g8vgRT/wp-content/uploads/2015/03/Yeoman.png"
                alt="yeoman">
        <div class="row">
            <div class="col-xs-4">
                <img height="100px" class="img" src="http://mgcrea.github.io/angular-7min/images/angularjs.png"
                        alt="yeoman">
            </div>
            <div class="col-xs-4">
                <img height="100px"
                        class="img"
                        src="https://humancoders-formations.s3.amazonaws.com/uploads/course/logo/48/formation-coffeescript.png"
                        alt="yeoman">
            </div>
            <div class="col-xs-4">
                <img height="100px" class=""
                        src="http://blog.xebia.fr/wp-content/uploads/2014/02/gulp-2x.png" alt="yeoman">
            </div>
        </div>
        <h2 class="text-center">
            <a id="user-content-getting-started" class="anchor" href="#getting-started" aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            Getting Started
        </h2>

        <p>you need yeoman from NPM. To install it in command line, run this:</p>

        <div class="highlight highlight-source-shell">
            <pre>$ npm i -g yo</pre>
        </div>

        <p>to run the generator, use yo.</p>

        <div class="highlight highlight-source-shell">
            <pre>$ yo angular-jeej</pre>
        </div>

        <p>You will be asked a name for your webapp. After all is set up, enjoy your new app. You just have to run the
            default gulp task to have your webapp live. Each time you will save a scss, coffee, or html, they will be
            compiled, concatened and rendered into the dist folder.</p>

        <div class="highlight highlight-source-shell">
            <pre>$ gulp</pre>
        </div>

        <p>if you did no error in these watched files, you will be able to reach your webapp (live reloading) on
            localhost.
            <a href="http://localhost:3002/">http://localhost:3002/</a>
        </p>

        <h3>
            <a id="user-content-sub-generators" class="anchor" href="#sub-generators" aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            sub Generators
        </h3>

        <p>You can run a command to build an angular controller:</p>

        <div class="highlight highlight-source-shell">
            <pre>$ yo angular-jeej:controller</pre>
        </div>

        <p>Or a service</p>

        <div class="highlight highlight-source-shell">
            <pre>$ yo angular-jeej:controller</pre>
        </div>

        <p>they will be created in the folder <strong>/src/coffee</strong></p>

        <h3>
            <a id="user-content-troubleshooting" class="anchor" href="#troubleshooting" aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            Troubleshooting
        </h3>

        <p>if you have issues while running the generator, like dependencies failues, update your generators.</p>

        <h3>
            <a id="user-content-todos" class="anchor" href="#todos" aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            Todo's
        </h3>

        <ul>
            <li>add breadcrumb module</li>
            <li>ui router to add to angluar</li>
            <li>command to build a ng route
                <ul>
                    <li>Write more tests</li>
                </ul>
            </li>
        </ul>

        <h2>
            <a id="user-content-made-with-the--yeoman-generator" class="anchor" href="#made-with-the--yeoman-generator"
                    aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            made with the
            <a href="http://yeoman.io">Yeoman</a>
            generator
        </h2>

        <p>by
            <a href="http://cipherbliss.com">Tykayn</a>
            -
            <a href="http://github.com/tykayn">Tykayn Github</a>
            If you'd like to get to know Yeoman better and meet some of his friends,
            <a href="http://gruntjs.com">Grunt</a>
            and
            <a href="http://bower.io">Bower</a>
            , check out the complete
            <a href="https://github.com/yeoman/yeoman/wiki/Getting-Started">Getting Started Guide</a>
            .
        </p>

        <h2>
            <a id="user-content-license" class="anchor" href="#license" aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>
            License
        </h2>

        <p>MIT</p>
    </article>


    {% include('part/share.html.twig') %}
    {% endblock %}
