{% extends 'base.html.twig' %}



{% block body %}
        <div class="accueil row">

            <div class="entry">


            <div class="description">
                <blockquote>

                Cabinet de développement web indépendant depuis 2014, hacking de blockchain grâce à des recherches en Interlligence Artificielle, déploiement de logiciel libre, sauvegarde de vie privée et éducation au pouvoir de la cryptomonnaie.
                </blockquote>
            </div>
        <iframe src="https://mamot.fr/@tykayn/100508658390904873/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400"></iframe><script src="https://mamot.fr/embed.js" async="async"></script>
            <div class="blog-news">

                <h2 class="entry-header">Dernières news du blog:</h2>
                    <div class="row">
                        <div class="col-xs-6">

                        <div id="latest-cipherbliss"></div>
                        </div>
                        <div class="col-xs-6">
                        <div id="latest-tykayn"></div>

                        </div>
                    </div>
            </div>
            <div class="what-we-do">
                <h2 class="entry-header">Ce que l'on fait</h2>
                <p>
                des choses en rapport avec le web. Principalement de l'ingénierie Front end impliquant du Javascript et du SCSS.
                <div class="coin-land">
                    Mais aussi
                    <a href="{{ path('view_page', {page: 'cryptocurrencies'}) }}">
                    de la levée de millions d'euros avec des bitcoins et de l'ethereum.
                    </a>
                </div>
                </p>
                <div class="privacy">
                    {% include 'Pages/privacy/listing.html.twig' %}
                </div>
                <div class="last-projects">
                <h3>Derniers projets en date</h3>
                <ul>
                    <li>
                    <h4>Caisse Bliss</h4>
                        <p>
                            <a href="https://gitlab.com/tykayn1/fanzine-log">
                                Un logiciel de caisse open source en ligne
                            </a>
                        </p>
                    </li>
                    <li>

                    <h4>Privacy calendar</h4>
                        <a href="https://gitlab.com/tykayn1/ical-generator">
                            un générateur de calendrier pour avoir une idée du nombre hallucinant d'infos que l'on laisse en ligne.
                        </a>
                        {% include 'Pages/privacy/listing.html.twig' %}
                    </li>
                    <li>

                    <h4>TimeTracker online</h4>
                        <p>
                            <a href="https://gitlab.com/tykayn1/time-tracker">
                            un projet open source pour vaincre la procrastination.
                            </a>
                            Je le finirai plus tard.
                        </p>
                    </li>
                    <li>
                        <h4>Mythbuster de la vie privée</h4>
                        voir sur le blog les articles concernant la vie privée,
                        l'hygiène numérique, pour se défaire du capitalisme de surveillance et du marketting de l'attention.
                    </li>
                    <li>
                        les listes c'est la vie.
                    </li>
                </ul>
                </div>
            </div>
                <div>
                    <div class="mobilite-electrique-tesla-zeromotorcycles">
                        <h2 class="entry-header">Ambassadeur de la mobilité électrique</h2>

                        Quand je ne développe pas de site web je promeus la mobilité durable avec Tesla et Zero motorcycles. Ce n'est pas la planète qui est en danger, c'est nous qui sommes dessus.
                        Profitez en pour gagner de nouveaux clients en installant gratuitement des bornes de recharge électrique à vos points de vente.
                    </div>
                </div>
                <div class="section">
                    <h2>Témoignages des clients</h2>
                    <blockquote>
                        <p>
                            Cipher Bliss nous a fait gagner douze milliards d'euros avec notre site web XKCD en développant des solutions libres en moins d'une année. Ils sont incroyablement efficaces, je recommande chaudement.
                        </p>
                        <cite>
                            - un stickman de Randall Monroe, auteur de XKCD
                        </cite>
                    </blockquote>
                    <blockquote>
                        <p>
                        C'est génial! je prends mes affaires
                        </p>
                        <cite>
                            - Link, habitant de la contrée d'Hayroule
                        </cite>
                    </blockquote>
                    <blockquote>
                        <p>
                            La pire chose avec la censure c'est ...
                        </p>
                        <cite>
                            - Edward Snowden,
                            <a href="https://en.wikipedia.org/wiki/Whistleblower">
                            soufleur de sifflet.
                            </a>
                        </cite>
                    </blockquote>
                    <blockquote>
                        <p>
                        Hodor
                        </p>
                        <cite>
                            - Hodor
                        </cite>
                    </blockquote>
                </div>

            <div class="contact-us">
                <h2 class="entry-header">Contactez-nous</h2>
                <p class="links">

                    <row class="row">
                        <div class="col-4">
                            email: contact@cipherbliss.com
                        </div>
                        <div class="col-4">
                            Mastodon: <a href="web+mastodon://follow?uri=tykayn@mamot.fr">
                                @tykayn@mamot.fr
                            </a>
                        </div>
                        <div class="col-4">
                            Telegram: @tykayn
                        </div>
                    </row>
                </p>
                <p>

                Vous avez un projet de refonte de site web, besoin d'un service en ligne pour simplifier la vie à votre équipe, d'outils graphiques et libres pour prendre des décisions?
                    <br>
                    Ma secrétaire sexy prendra rendez-vous pour un devis gratuit.
                </p>
                <p class="addresse">
                <h3>Siège social</h3>
                    <p class="infos-ouverture">
                        horaires contact téléphone: 8h - 18h
                    </p>
                    <address>Forges les bains</address>
                    <tel>0627130837</tel>
                    siret: 799 424 163 00027
                </p>
            </div>
            </div>
            </div>
{% endblock %}
{% block jsMore %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script>
        console.log('$', jQuery);
        var limit_display_articles = 3;
        var cipherHtml = '';
        var tkHtml = '';
        $.get('http://www.cipherbliss.com/wp-json/wp/v2/posts').then(function (rep) {
            var articles = rep;
            console.log('articles', articles);
            for (i = 0; i < limit_display_articles; i++) {
                cipherHtml += '<li><a href="' + articles[i].link + '">' + articles[i].title.rendered + '</a></li>';
            }
            $('#latest-cipherbliss').html('<ul>' + cipherHtml + '</ul>');

        });
        $.get('http://www.tykayn.fr/wp-json/wp/v2/posts').then(function (rep) {
            var articles = rep;
            console.log('articles', articles);
            for (i = 0; i < limit_display_articles; i++) {
                tkHtml += '<li><a href="' + articles[i].link + '">' + articles[i].title.rendered + '</a></li>';
            }
            $('#latest-tykayn').html('<ul>' + tkHtml + '</ul>');

        });
    </script>
{% endblock %}
