<div id="accueil_stuff" class="accueil_stuff">

    <div class="acc row-fluid">

        <div class="acc_txt col-xs-6">
            <article class="">
                <div class="jumbotron well" style=" background: url('{{ asset('bg.jpg') }}')">
                    {#<a href="{{ path('view_page' , { page : 'web'}) }}">#}
                    <img class="img-responsive"
                            {#src="{{  asset('img/commerce_localhost.jpg') }}" #}
                         src="http://www.tykayn.fr/wp-content/uploads/i/2015/11novembre/commerce_localhost.jpg"
                         alt="développez le commerce localhost - baptiste lemoine.">
                    {#I build responsive websites.#}
                    {#</a>#}
                </div>


                {% if news.content is defined %}
                    {% autoescape %}
                        {{ news.content | trans | escape }}
                    {% endautoescape %}
                {% endif %}
            </article>
        </div>
        <div class=" col-xs-6">


            {#<a class="acc_img fadeIn animated" href="{{ path('view_page' , {'page' : 'illustrations'}) }}">
                    <div class=" text-center">
                            <img class=" img-responsive" src="{{ asset('img/portfolio/deco/accueil.png') }}" title="accueil" alt="">
                    </div>
            </a>#}

            <div class="links">


                <div class="clearfix"></div>

                <div>
                    <a class="btn btn-primary btn-large btn-block fa-2x"
                       href="{{ path('view_page', {page: 'web'}) }}">
                        Check out my works
                        <i class="fa  fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="padded-v">
                    <a class="btn btn-primary btn-large btn-block fa-2x"
                       href="{{ path('view_page', {page: 'CV'}) }}">
                        My curriculum - will be available for hire in February 2018
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class="padded-v">
                    <a class="link btn btn-default btn-block fa-2x" href="mailto:contact@cipherbliss.com">
                        <i class="fa fa-paper-plane"></i>
                        Say hi! <br>
                        <i>contact
                            <i class="fa fa-gear"></i>
                            cipherbliss.com
                        </i>
                    </a>
                </div>
                <div class="row-fluid padded-v">
                    <div class="col-xs-12">
                        <h2>French Blogs</h2>
                        <div class="row">
                            <div class="col-xs-6">
                                <div id="cipherblissland">

                                    <a class="link " href="http://www.cipherbliss.com">
                                        <img width="30px"
                                             src="https://avatars3.githubusercontent.com/u/3931245?s=460&v=4"
                                             alt="tk avatar"> CipherBliss.com tech blog
                                    </a>
                                    <div id="latest-cipherbliss">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div id="tykaynland">

                                    <img src="https://www.tesla.com/tesla_theme/assets/img/referral/referral-product-models@2x.png?20171026"
                                         width="30px"
                                         alt="tesla img">
                                    <a class="link " href="http://tykayn.fr">
                                        Tykayn blog - Tesla model S adventures and drawings
                                    </a>
                                    <div id="latest-tykayn">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="well">
                            Utilisez mon lien de parrainage en faisant un devis ou en commandant une Tesla pour
                            économiser 7000€:
                            <a href="http://ts.la/baptiste1677">http://ts.la/baptiste1677</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h2>Social</h2>
                        <a class=" link" href="https://github.com/tykayn/">
                            <i class="fa fa-github"></i>
                            Github/Tykayn.
                        </a>
                        <a class="link" href="http://twitter.com/tykayn/">
                            <i class="fa fa-twitter"></i>
                            @Tykayn.
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <iframe src="https://www.worldcommunitygrid.org/getDynamicImage.do?memberName=tykayn&mnOn=true&stat=1&imageNum=1&rankOn=false&projectsOn=true&special=true"
                                frameborder="0" name="di" scrolling="no" width="405px" height="190px"></iframe>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">

            <div class="padded-v">
                <div class=" alert alert-info text-center">
                    slide on the timeline to see what i did.
                    <i class="fa fa-arrow-circle-down"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-default" href="http://www.cipherbliss.com/yeoman-angular-jeej">
                <img class="img-responsive"
                     width="50%"
                     src="http://blog.grayghostvisuals.com/xS6BUjV1g8vgRT/wp-content/uploads/2015/03/Yeoman.png"
                     alt=""> Custom Yeoman generator angular-jeej
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
</div>
</div>
<div>
    <div class="row-fluid">
        {#{% include ('part:timeline.html.twig') %}#}
    </div>
</div>