{% include 'part/page-list.html.twig' %}
<hr>

<a href="https://github.com/tykayn/opitimizecss">optimiseur CSS</a>
<a href="https://github.com/tykayn/crossed-words">mots croisés</a>
<a href="https://github.com/tykayn/card-deck">card deck</a>
