<div class="row-fluid">
    {% block postMain %}
    {% endblock %}
</div >
<footer id="footer" class="row">
    <div class="foot container">
        <div class="row">
            <div class="col-lg-12">
                Thème: Toivo
            Site: 
            <a href="{{ path('view_page' , {'page' : 'contact'} ) }}">
                Baptiste Lemoine
            </a> 2018. Made with symfony4, twitter bootstrap and some time.

            {% include 'part/links.html.twig' %}
            </div>
            
        </div>
        <div class="row top-margin">
            <div class="col-lg-6">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('dashboard') }}">Dashboard</a>
                    <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>
                {% else %}
                    <a href="{{ path('dashboard') }}" class="btn btn-info">Login</a>
                {% endif %}
            </div>
            {#<div class="col-lg-6 gsearch">#}
                {#&#123;&#35;<gcse:search></gcse:search>&#35;&#125;#}
            {#</div>#}

        </div>
</footer>
<a title="vous n'oseriez pas cliquer sur ces boobs, vous risquez d'être choqués par les images sur lesquelles vous allez tomber" href="{{ path('view_page' , {'page' : 'erotique'}) }}" class="hiddenlink"></a>