<title>{% trans %}CipherBliss.com graphiste illustrateur Web developpeur Portfolio{% endtrans %}</title>
{% block stylesheets %}
    <link rel="stylesheet" id="toivo-lite-fonts-css" href="https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CRaleway%3A400%2C600%2C500%2C700%2C800&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
{% endblock %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Lemoine Baptiste"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description"
        content="Le portfolio en ligne de Baptiste Lemoine. Développeur web freelance spécialisé front-end sur Paris."/>
<meta name="keywords"
        content="développeur web, frond end, paris,graphiste, île de france, illustrateur, dessinateur de BD, portfolio Baptiste Lemoine, portfolio tykayn, dessin érotique, dessin de nu, ESA saint luc, webdesign, php, css, xhtml, portfolio, book, illustrations, dessins, tykayn, tykay, baptiste lemoine, expériences, recherche, bac+3"/>
<meta name="reply-to" content="tykayn@gmail.com"/><!-- Adresse de contact -->
<meta name="author" content="tykayn / Baptiste Lemoine"/>
<!-- Description de la page -->
<meta name="description" content="Portfolio, dessins illustrations, CV de Tykayn"/>
<link rel="icon" type="image/png" href="{{ asset('img/portfolio/tpl/clair/rond.png') }}">

{% block oldnav %}
    <!--[if lte IE 7]><div><div class="noticeIE"><br/><br/> <h1>Mettez <a href="http://windows.microsoft.com/fr-FR/internet-explorer/products/ie/home">internet explorer</a> à jour.  </h1>
                                  <p>
    {% trans %}Votre navigateur internet date de plus de 5 ans,il est plus vulnérable aux failles de sécurité, vous risquez des attaques et des virus en utilisant d'anciennes versions et aussi de ne pas voir les sites comme ils ont été prévus de le faire car votre navigateur ne respecte pas les standards.Essayez un de ces autres navigateurs plus récents gratuitement !{% endtrans %}
<br/>
                      <a href="http://www.google.com/chrome?hl=fr"><img src="{{ asset('img/portfolio/deco/browsers/chrome.png') }}" alt="chrome"/></a>
                      <a href="http://www.getfirefox.net/"><img src="{{ asset('img/portfolio/deco/browsers/firefox.png') }}" alt="Firefox"/></a>
                      <a href="http://www.opera.com/browser/"><img src="{{ asset('img/portfolio/deco/browsers/opera.png') }}" alt="Opéra"/></a>
                      <a href="http://www.apple.com/safari/"><img src="{{ asset('img/portfolio/deco/browsers/safari.png') }}" alt="Safari"/></a><br/>
                      
                      <a href="http://www.google.com/chrome?hl=fr">Chrome</a>
                      <a href="http://www.getfirefox.net/">Firefox</a>
                      <a href="http://www.opera.com/browser/">Opéra</a>
                      <a href="http://www.apple.com/safari/">Safari</a>
                      <br/><br/><br/></p></div>
                      <!--<script>-->
    <!--$(document).ready(function () {-->
    <!--$(".float_right , .share , .langues").stop(true, true).animate( { top: "+=400" }, 1000 );-->
    <!--});-->
    <!--</script>-->
    <![endif]-->



    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//91.121.143.127/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '6']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->



{% endblock %}
