<!DOCTYPE html>
<html>
{#{% include('head')%}#}
<head>
    {% block head %}
    {% endblock %}
</head>
<body
        {% if page is defined %}
            class="{{ page }}"
        {% endif %}
>
<header class="row-fluid">
    {% if menu is defined %}
        {% include 'TykaynPortfolioBundle:Default:menu.html.twig' %}
    {% endif %}
</header>
{% block preMain %}
{% endblock %}

{% if page is defined and page == 'CV' %}

{% endif %}

<div class="tout container row-fluid">
    {% block oldnav %}
    {% endblock %}
    <section>
        <div class="principal">

            {% block main %}
                {{ include('Default/accueil.html.twig') }}
            {% endblock %}
        </div>
    </section>
</div>


{#{% include 'Default:footer.html.twig' %}#}

</body>


{% block jsMore %}
{% endblock %}


</html>
