<nav id="menu-primary">
<h2 class="screen-reader-text">Menu principal</h2>
<div class="wrap">
	<div class="menu-navigation-container">
		<ul id="menu-primary-items" class="menu-items">
			<li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-703"><a href="https://portfolio.cipherbliss.com">Accueil</a></li>
			<li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-703"><a href="https://www.cipherbliss.com">Blog</a></li>
			<li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-703"><a href={{ path('view_page', {page: 'cryptomonnaies'}) }} >CryptoMonnaies</a></li>
			<li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-703"><a href={{ path('view_page', {page: 'privacy-tools'}) }} >Vie privée</a></li>
			<li id="menu-item-768" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-768"><a href="https://www.cipherbliss.com/feed/">Flux RSS</a></li>
			<li id="menu-item-704" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-704">
				<a id="contact"  href="{{ path('view_page' , { 'page' : 'contact'}) }}">
                    {% trans %}Contact{% endtrans %}
				</a>
			</li>
			<li>{% if is_granted('ROLE_ADMIN') %}

					<a id="illustrations" class=" {{ menu.illustrations }}"
					   href="{{ path('view_page' , { 'page' : 'illustrations'}) }}">
                        {% trans %}Illustrations{% endtrans %}
					</a>
                {% endif %}</li>
			<li>
				<a id="web"  href="{{ path('view_page' , { 'page' : 'web'}) }}">
					<i class="fa-map-o fa"></i>
                    {% trans %}Works{% endtrans %}
				</a></li>
			<li>
				<a id="cv" href="{{ path('view_page' , { 'page' : 'CV'}) }}">
                    {% trans %}CV{% endtrans %}
				</a></li>
			<li>
				<a id="ressources"  href="{{ path('view_page' , { 'page' : 'liens'}) }}">
                    {% trans %}Ressources{% endtrans %}
				</a>
			</li>

		</ul>
	</div>
</div><!-- .wrap -->

</nav>
