<!--
<div class="well">
    <h1>à faire:</h1>
    mettre le SIRET dans la partie contact.
    <br />
    
    <hr />
</div>

<div class="well">
    <h1>fait:</h1>
aspect:<br />
    x    centrer le menu du haut.<br />
    des trucs<br />
    x _ responsive menu caché et dépliable avec la classe .mobile<br />
    sécurité:<br />
    x _ accès au formulaire de nouveau post d'accueil.  <br />
    x _ accès anonyme.  <br />
</div>
-->
