body{
  font-family: Lato, "Helvetica Neue",Arial, sans-serif;

}
#content{
  min-height: 85vh;
  padding-top: 2rem;
}
#main_footer{
  min-height: 5em;
  padding:2em;
  background: #3f729b;
  color: white;
}
.ccc-widget
{
  width: 400px;
  display: inline-block;
  float:left;
}
.resume-cryptomonnaies{
  margin: 0 auto;
  display: block;
  width: 600px;
}
.graphs{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.cryptocurrencies{
  margin-bottom: 5em;
}

.well{
  background: #ccc;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
  .site-info &{
    background: transparent;
  }
  a{
    color : #222;
    border-bottom: 1px solid blue;
    &:hover{
      color: #3f729b;
    }
  }
}