/*
Theme Name: Toivo Lite
Theme URI: https://foxland.fi/downloads/toivo/
Author: Sami Keijonen
Author URI: https://foxland.fi
Description: Toivo Lite is perfect fit for business, personal or blog sites. It has beautiful Front Page template where you can show your important content, testimonials and Callout links. Toivo Lite is an accessible, translation-ready theme which supports plenty of features like Right to Left languages and Schema.org microdata.
Version: 1.2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: toivo-lite
Domain Path: /languages/
Tags: one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-background, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, news, portfolio

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Toivo is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Normalize
2.0 - Typography
3.0 - Elements
	3.1 - Blockquotes, paragraphs, code, lists, tables
    3.2 - Genericons
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
		5.2.1 - Primary menu
		5.2.2 - Top and Social menu
	5.3 - Comment and post navigation
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
13.0 - Layouts
	13.1 - Max-width
	13.2 - Paddings
	13.3 - Media queries
	13.4 - Sidebar layouts
14.0 - Comments
15.0 - Plugins
    15.1 - Jetpack CSS
16.0 - Right to left styles
17.0 - Child theme friendly zone
	16.1 - Font Family
	16.2 - Colors
	16.3 - Backgrounds
	16.4 - Borders
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Normalize
--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* box-sizing: content-box; */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
}

@media screen and (min-width: 1000px) {

    body,
    button,
    input,
    select,
    textarea {
        font-size: 18px;
        font-size: 1.125rem;
    }

}

@media screen and (min-width: 1400px) {

    body,
    button,
    input,
    select,
    textarea {
        font-size: 20px;
        font-size: 1.25rem;
    }

}

/* === 2.1 Headers === */

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
    clear: both;
    font-weight: 700;
    line-height: 1.3333333;
    margin: 0 0 1.5em 0;
}

h1,
.site-title {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 17px;
}

@media screen and (min-width: 600px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .site-title {
        line-height: 1.2;
    }

    h1,
    .site-title {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

}

.site-header,
.sidebar-subsidiary,
.sidebar-subsidiary > .wrap > .wrap-inside {
    position: relative;
}

.site-header {
    text-align: center;
}

.custom-header-image .site-header > .wrap::before,
.sidebar-subsidiary > .wrap::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.site-branding {
    padding: 30px 0;
}

.custom-header-image .site-branding {
    position: relative;
}

@media screen and (min-width: 1000px) {

    .custom-header-image .site-branding {
        padding: 60px 0;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .has-site-logo.custom-header-image .site-branding,
    .wp-custom-logo.custom-header-image .site-branding {
        margin-top: 0;
    }

}

.site-title {
    margin: 0;
    padding-bottom: 14px;
    text-transform: uppercase;
}

.site-title a,
a.toivo-button {
    display: inline-block;
}

.site-title a {
    letter-spacing: 2px;
    padding: 8px 14px;
}

.site-description {
    font-size: 20px;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    text-transform: none;
    padding: 0 0 16px 0;
    margin: 0;
}

p {
    margin: 0 0 1.5em 0;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background-size: 56px 56px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
    word-wrap: normal;
}

code,
kbd,
tt,
var {
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    cursor: help;
}

mark,
ins {
    text-decoration: none;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

/* === 3.1 Blockquotes, paragraphs, code, lists, tables === */

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

blockquote {
    font-size: 1.125em;
    font-style: italic;
    margin: 0 0 1em;
    padding: 1% 3%;
}

blockquote cite {
    font-size: 0.88888888888em;
}

blockquote blockquote {
    font-size: 1em;
    padding: 0.5% 2%;
}

blockquote p {
    margin: 0.666666666em 0;
}

hr {
    border: 0;
    height: 2px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 1.5em;
    padding: 0;
}

ul {
    list-style: circle;
}

ol {
    list-style: decimal;
}

.sidebar ul,
.error-404.not-found ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul ul,
.error-404.not-found ul ul {
    margin-left: 1em;
}

.sidebar ul li,
.error-404.not-found ul li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.sidebar ul ul li:first-child,
.error-404.not-found ul ul li:first-child {
    margin-top: 10px;
}

.sidebar li:last-child,
.error-404.not-found li:last-child {
    padding-bottom: 0;
}

li > ul,
li > ol {
    margin-bottom: 0;
    padding-left: 1em;
    margin-left: 1em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

.callout-image img {
    display: block;
    width: 100%;
}

figure {
    margin: 0;
}

/* Tables. */

table {
    margin: 0 0 1.5em;
    width: 100%;
}

th,
td {
    padding: 6px 2%;
}

caption,
th,
td {
    text-align: left;
}

caption {
    margin: 1em 0;
}

th {
    font-weight: bold;
}

/* wp-calendar <table> */

#wp-calendar th,
#wp-calendar td {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 4px 1%;
    text-align: center;
}

#wp-calendar tr:hover td,
#wp-calendar td.pad,
#wp-calendar #prev,
#wp-calendar #next {
    background: transparent;
}

#wp-calendar #prev {
    text-align: left;
}

#wp-calendar #next {
    text-align: right;
}

/* === 3.2 Genericons === */

a[href^="mailto:"]::before,
a[href^="tel:"]::before,
.genericon,
.nav-toggle:before,
button#top-nav-toggle:before,
button#social-nav-toggle:before,
.dropdown-toggle:after,
.featured-post:before,
.byline .entry-author a::before,
.entry-date a::before,
.comments-link a::before,
.post-edit-link::before,
.entry-permalink a::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.pagination .prev::before,
.pagination .next::before,
.chat-author cite::before,
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before,
.comment-reply-link::before,
.comment-reply-login::before,
.loop-nav a[rel="prev"]::before,
.loop-nav a[rel="next"]::after,
#menu-social li a::before,
.widget li::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 16px/1 Genericons;
    vertical-align: text-bottom;
}

.entry-date a,
.byline .entry-author a,
.entry-permalink a,
.comments-link a,
.comment-published,
.comment-reply-link,
.comment-edit-link,
.comment-author {
    display: inline-block;
    margin-right: 8px;
}

a[href^="mailto:"]::before,
a[href^="tel:"]::before,
.entry-date a::before,
.byline .entry-author a::before,
.comment-published::before,
.comment-author::before,
.comment-edit-link::before,
.comments-link a::before,
.comment-reply-link::before,
.entry-permalink a::before,
.entry-terms::before {
    content: '\f307';
    padding-right: 4px;
    position: relative;
    bottom: 0;
}

a[href^="mailto:"]::before {
    content: '\f410';
}

a[href^="tel:"]::before {
    content: '\f437';
    bottom: 3px;
}

.byline .entry-author a::before,
.comment-author::before {
    content: '\f304';
}

.entry-permalink a::before {
    content: '\f107';
}

.comments-link a::before {
    content: '\f300';
}

.comment-reply-link::before {
    content: '\f412';
}

.comment-edit-link::before {
    content: '\f411';
}

.entry-terms::before {
    content: '\f301';
}

.entry-terms.category::before {
    content: '\f301';
}

.entry-terms.post_tag::before {
    content: '\f302';
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry a.portfolio-item-link {
    border: none;
    line-height: 1;
    padding: .8em 1em;
    margin-top: 1em;
    transition: all 0.25s ease-in-out;
}

.entry a.portfolio-item-link,
a.toivo-button {
    display: inline-block;
    margin-top: 1em;
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    transition: all 0.25s ease-in-out;
}

textarea {
    vertical-align: top; /* Improves readability and alignment in all browsers */
}

fieldset {
    margin: 0 0 1.5em 0;
    padding: 3%;
}

legend {
    font-weight: bold;
    margin: 0 0 1.5em 0;
    padding: 1em 1.25em;
    white-space: normal;
}

label {
    font-weight: bold;
}

label .search-field {
    font-weight: normal;
}

input {
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    display: block;
    padding: 20px;
    padding: 1.25rem;
    margin-bottom: 1.5em;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    width: 100%;
}

textarea {
    min-height: 160px;
}

/* Form fields, general styles */

input:focus,
textarea:focus {
    outline: 0;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/

/* === 5.1 Links === */

a,
.post-thumbnail img,
#menu-social li a::before {
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a:hover,
a:focus,
a:active,
.loop-description a {
    text-decoration: underline;
}

a.more-link:hover,
a.more-link:focus,
a.more-link:active,
a.toivo-button:hover,
a.toivo-button:focus,
a.toivo-button:active {
    text-decoration: none;
}

a.more-link {
    display: inline-block;
}

a.more-link,
input[type="button"],
input[type="reset"],
input[type="submit"],
body #infinite-handle span {
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1.25em 1.5em;
    text-transform: uppercase;
}

body #infinite-handle span button {
    letter-spacing: 2px;
    text-transform: uppercase;
}

a.toivo-button {
    font-weight: 700;
    letter-spacing: 2px;
    padding: 2.5% 4%;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

/* === 5.2.1 Primary menu === */

.main-navigation ul {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li a,
button#nav-toggle {
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation ul.sub-menu li a,
.main-navigation .menu-item-description.top-depth {
    text-transform: none;
}

@media screen and (max-width: 999px) {

    .main-navigation ul {
        width: 100%;
        display: block;
    }

    .main-navigation li {
        width: 100%;
        display: block;
        position: relative;
    }

    button#nav-toggle {
        border: none;
        position: relative;
        margin: 0;
        z-index: 100;
    }

    .main-navigation li a,
    button#nav-toggle {
        display: block;
        padding: 10px 4%;
        width: 100%;
    }

    button#nav-toggle {
        border-bottom: none;
    }

    #menu-primary ul ul li a {
        padding-left: 9%;
    }

    #menu-primary ul ul ul li a {
        padding-left: 11%;
    }

    #menu-primary ul ul ul ul li a {
        padding-left: 13%;
    }

    .js .main-navigation,
    .js .toivo-theme .main-navigation.multiple-level-nav .sub-menu {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        visibility: hidden;
        zoom: 1;
    }

    .js .toivo-theme .main-navigation,
    .js .toivo-theme .main-navigation.multiple-level-nav .sub-menu {
        -webkit-transition: 5s;
        -moz-transition: 5s;
        -ms-transition: 5s;
        -o-transition: 5s;
        transition: 5s;
    }

    .main-navigation.opened,
    .toivo-theme .main-navigation.multiple-level-nav .sub-menu.toggled {
        max-height: 9999px;
        position: relative;
        visibility: visible;
    }

    html.js .toivo-theme .main-navigation.opened,
    .toivo-theme .main-navigation.multiple-level-nav .sub-menu.toggled {
        max-height: 9999px;
    }

    /* Enable active class to let the navigation expand over the calculated max height. */
    .main-navigation.opened.dropdown-active {
        max-height: 9999px !important;
    }

    .disable-pointer-events {
        pointer-events: none !important;
    }

    #nav-toggle {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    button#nav-toggle:before {
        -webkit-font-smoothing: antialiased;
        content: "\f419";
        display: inline-block;
        font: normal 32px/1 Genericons;
        margin: 0 6px 0 0;
        vertical-align: middle;
        width: 32px;
        height: 32px;
    }

    button#nav-toggle.active:before {
        content: "\f405";
    }

    .dropdown-toggle {
        content: "";
        height: auto;
        padding: 0;
        position: absolute;
        margin: 0;
        text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
        top: -1px;
        right: 4%;
    }

    .dropdown-toggle:after {
        content: "\f431";
        font-size: 24px;
        padding: 11px;
        position: relative;
        top: 0;
        left: 1px;
    }

    .dropdown-toggle.toggled:after {
        content: "\f432";
    }

}

@media screen and (min-width: 1000px) {

    .js .main-navigation {
        position: relative;
    }

    .js .main-navigation.closed {
        max-height: none;
    }

    #nav-toggle,
    .menu-item-description-mark,
    .dropdown-toggle {
        display: none;
    }

    #menu-primary .wrap {
        padding: 0 4%;
    }

    #menu-primary ul {
        margin-bottom: 0;
        text-align: center;
    }

    #menu-primary li {
        border: 0;
        display: inline-block;
        height: 65px;
        line-height: 65px;
        position: relative;
    }

    #menu-primary a {
        display: inline-block;
        padding: 0 24px;
        white-space: nowrap;
    }

    #menu-primary ul ul {
        float: left;
        margin: 0;
        position: absolute;
        top: 85px;
        left: -999em;
        z-index: 99999;
        transition-property: opacity, visibility;
        transition-duration: .25s, 0s;
        transition-delay: 0.25s, .25s;
        transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }

    #menu-primary li li {
        border: 0;
        display: block;
        height: auto;
        line-height: 1.0909090909;
    }

    #menu-primary ul ul ul {
        left: -999em;
        top: 20px;
    }

    #menu-primary ul ul a {
        padding: 18px 12px;
        white-space: normal;
        width: 200px;
    }

    #menu-primary ul li:hover > ul,
    #menu-primary ul li.focus > ul {
        top: 65px;
        left: 50%;
        margin-left: -100px;
        opacity: 1;
        visibility: visible;
    }

    #menu-primary ul ul li:hover > ul,
    #menu-primary ul ul li.focus > ul {
        top: 0;
        left: 100%;
        margin-left: 0;
        opacity: 1;
        visibility: visible;
    }

    #menu-primary .menu-item-has-children > a,
    #menu-primary .page_item_has_children > a {
        padding-right: 26px;
    }

    #menu-primary .menu-item-has-children > a:after,
    #menu-primary .page_item_has_children > a:after {
        -webkit-font-smoothing: antialiased;
        content: "\f502";
        display: inline-block;
        font: normal 8px/1 Genericons;
        position: absolute;
        right: 12px;
        top: 30px;
        vertical-align: text-bottom;
    }

    #menu-primary li .menu-item-has-children > a,
    #menu-primary li .page_item_has_children > a {
        padding-right: 20px;
        width: 200px;
    }

    #menu-primary .menu-item-has-children li.menu-item-has-children > a:after,
    #menu-primary .menu-item-has-children li.page_item_has_children > a:after,
    #menu-primary .page_item_has_children li.menu-item-has-children > a:after,
    #menu-primary .page_item_has_children li.page_item_has_children > a:after {
        content: "\f501";
        right: 8px;
        top: 20px;
    }

    #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:after,
    #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }

    #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:before {
        border-color: rgba(221, 221, 221, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        margin-left: -11px;
    }

    .main-navigation .menu-item-description {
        display: block;
    }

    .main-navigation .menu-item-description.top-depth {
        position: absolute;
        bottom: 0px;
        left: -999em;
        padding: 14px 18px;
        width: 200px;
        line-height: 1.0909090909;
        white-space: normal;
        border-radius: 4px;
        transition-property: opacity, visibility;
        transition-duration: .15s, 0s;
        transition-delay: 0.15s, .15s;
        visibility: hidden;
        opacity: 0;
    }

    /* CSS arrow for top depth description. */
    .main-navigation .menu-item-description.top-depth:after,
    .main-navigation .menu-item-description.top-depth:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .main-navigation .menu-item-description.top-depth:after {
        border-width: 10px;
        margin-left: -10px;
    }

    .main-navigation .menu-item-description.top-depth:before {
        border-width: 11px;
        margin-left: -11px;
    }

    #menu-primary ul li:hover .menu-item-description.top-depth,
    #menu-primary ul li.focus .menu-item-description.top-depth {
        left: 50%;
        bottom: 101px;
        margin-left: -100px;
        opacity: 1;
        visibility: visible;
    }

}

/* === 5.2.2 Top and Social menu === */

#top-header {
    position: relative;
}

.top-menus-disabled #top-header {
    height: 86px;
}

.top-navigation ul {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-navigation li a {
    text-decoration: none;
    text-transform: uppercase;
}

.social-navigation ul {
    margin: 0;
}

@media screen and (max-width: 1199px) {

    .top-navigation ul,
    .social-navigation ul {
        width: 100%;
        display: block;
        text-align: center;
    }

    .top-navigation li {
        width: 100%;
        display: block;
    }

    button#top-nav-toggle,
    button#social-nav-toggle {
        border: none;
        display: block;
        height: 80px;
        width: 80px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        z-index: 100;
    }

    button#top-nav-toggle:before,
    button#social-nav-toggle:before {
        content: '\f419';
        font-size: 32px;
        line-height: 80px;
    }

    button#social-nav-toggle:before {
        content: '\f505';
    }

    button#top-nav-toggle.active:before,
    button#social-nav-toggle.active:before {
        content: '\f405';
    }

    .top-navigation li a {
        display: block;
        padding: 10px 4%;
        width: 100%;
    }

    button#top-nav-toggle {
        float: left;
    }

    button#social-nav-toggle {
        float: right;
    }

    button#top-nav-toggle,
    button#social-nav-toggle {
        border-bottom: none;
    }

    .js .top-navigation,
    .js .social-navigation {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        visibility: hidden;
        zoom: 1;
    }

    .top-navigation.opened,
    .social-navigation.opened {
        clear: both;
        max-height: 9999px;
        visibility: visible;
    }

    .social-navigation ul {
        padding: 40px 4%;
    }

    .has-site-logo .top-navigation ul,
    .has-site-logo .social-navigation ul,
    .wp-custom-logo .top-navigation ul,
    .wp-custom-logo .social-navigation ul {
        padding-bottom: 80px;
    }

    .has-site-logo .social-navigation ul,
    .wp-custom-logo .social-navigation ul {
        padding-bottom: 80px;
        padding-top: 40px;
    }

    .disable-pointer-events {
        pointer-events: none !important;
    }

    #top-nav-toggle {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

}

@media screen and (min-width: 1200px) {

    .js .top-navigation {
        position: relative;
    }

    .js .top-navigation.closed {
        max-height: none;
    }

    #top-nav-toggle,
    #social-nav-toggle {
        display: none;
    }

    .top-navigation,
    .social-navigation {
        display: block;
        width: 45%;
    }

    .top-navigation {
        float: left;
        padding-left: 4%;
    }

    .social-navigation {
        float: right;
        padding-right: 4%;
        text-align: right;
    }

    .top-navigation ul,
    .social-navigation ul {
        margin-bottom: 0;
    }

    .top-navigation li,
    .social-navigation li {
        border: 0;
        display: inline-block;
        height: 80px;
        line-height: 80px;
        position: relative;
    }

    .social-navigation li {
        height: 73px;
        line-height: 73px;
        padding-top: 18px;
    }

    .top-navigation a {
        display: inline-block;
        padding: 0 12px;
        white-space: nowrap;
    }

}

#menu-social ul {
    list-style: none;
}

#menu-social ul li {
    display: inline-block;
    margin: 0 5px;
}

#menu-social li a::before {
    position: absolute;
    font: 32px/1 'Genericons';
    display: inline-block;
    text-decoration: none;
    top: 6px;
    left: 6px;
}

/* Social icons. */
#menu-social li a {
    border-radius: 100%;
    display: block;
    padding: 0;
    position: relative;
    width: 46px;
    height: 46px;
}

#menu-social li a[href*="codepen.io"]::before,
#menu-social li a[href*="digg.com"]::before,
#menu-social li a[href*="dribbble.com"]::before,
#menu-social li a[href*="facebook.com"]::before,
#menu-social li a[href*="flickr.com"]::before,
#menu-social li a[href*="plus.google.com"]::before,
#menu-social li a[href*="github.com"]::before,
#menu-social li a[href*="instagram.com"]::before,
#menu-social li a[href*="linkedin.com"]::before,
#menu-social li a[href*="pinterest.com"]::before,
#menu-social li a[href*="polldaddy.com"]::before,
#menu-social li a[href*="getpocket.com"]::before,
#menu-social li a[href*="reddit.com"]::before,
#menu-social li a[href*="skype.com"]::before,
#menu-social li a[href*="skype:"]::before,
#menu-social li a[href*="soundcloud.com"]::before,
#menu-social li a[href*="spotify.com"]::before,
#menu-social li a[href*="stumbleupon.com"]::before,
#menu-social li a[href*="tumblr.com"]::before,
#menu-social li a[href*="twitter.com"]::before,
#menu-social li a[href*="vimeo.com"]::before,
#menu-social li a[href*="wordpress.org"]::before,
#menu-social li a[href*="wordpress.com"]::before,
#menu-social li a[href*="youtube.com"]::before {
    display: inline-block;
    content: '\f409';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

#menu-social li a[href*="codepen.io"]::before {
    content: '\f216';
}

#menu-social li a[href*="digg.com"]::before {
    content: '\f221';
}

#menu-social li a[href*="dri9f9f9fle.com"]::before {
    content: '\f201';
}

#menu-social li a[href*="facebook.com"]::before {
    content: '\f204';
}

#menu-social li a[href*="flickr.com"]::before {
    content: '\f211';
}

#menu-social li a[href*="plus.google.com"]::before {
    content: '\f206';
}

#menu-social li a[href*="github.com"]::before {
    content: '\f200';
}

#menu-social li a[href*="instagram.com"]::before {
    content: '\f215';
}

#menu-social li a[href*="linkedin.com"]::before {
    content: '\f208';
}

#menu-social li a[href*="pinterest.com"]::before {
    content: '\f210';
}

#menu-social li a[href*="polldaddy.com"]::before {
    content: '\f217';
}

#menu-social li a[href*="getpocket.com"]::before {
    content: '\f224';
}

#menu-social li a[href*="reddit.com"]::before {
    content: '\f222';
}

#menu-social li a[href*="skype.com"]::before,
#menu-social li a[href*="skype:"]::before {
    content: '\f220';
}

#menu-social li a[href*="soundcloud.com"]::before {
    content: '\f426';
}

#menu-social li a[href*="spotify.com"]::before {
    content: '\f515';
}

#menu-social li a[href*="stumbleupon.com"]::before {
    content: '\f223';
}

#menu-social li a[href*="tumblr.com"]::before {
    content: '\f214';
}

#menu-social li a[href*="twitter.com"]::before {
    content: '\f202';
}

#menu-social li a[href*="vimeo.com"]::before {
    content: '\f212';
}

#menu-social li a[href*="wordpress.org"]::before,
#menu-social li a[href*="wordpress.com"]::before {
    content: '\f205';
}

#menu-social li a[href*="youtube.com"]::before {
    content: '\f213';
}

#menu-social li a:hover,
#menu-social li a:focus,
#menu-social li a:active {
    text-decoration: none;
}

#menu-social li a[href*="digg.com"]:hover::before,
#menu-social li a[href*="digg.com"]:focus::before,
#menu-social li a[href*="digg.com"]:active::before {
    color: #fff;
}

#menu-social li a[href*="dri9f9f9fle.com"]:hover::before,
#menu-social li a[href*="dri9f9f9fle.com"]:focus::before,
#menu-social li a[href*="dri9f9f9fle.com"]:active::before {
    color: #ea4c89;
}

#menu-social li a[href*="facebook.com"]:hover::before,
#menu-social li a[href*="facebook.com"]:focus::before,
#menu-social li a[href*="facebook.com"]:active::before {
    color: #3b5998;
}

#menu-social li a[href*="flickr.com"]:hover::before,
#menu-social li a[href*="flickr.com"]:focus::before,
#menu-social li a[href*="flickr.com"]:active::before {
    color: #ff0084;
}

#menu-social li a[href*="plus.google.com"]:hover::before,
#menu-social li a[href*="plus.google.com"]:focus::before,
#menu-social li a[href*="plus.google.com"]:active::before {
    color: #dd4b39;
}

#menu-social li a[href*="github.com"]:hover::before,
#menu-social li a[href*="github.com"]:focus::before,
#menu-social li a[href*="github.com"]:active::before {
    color: #4183c4;
}

#menu-social li a[href*="instagram.com"]:hover::before,
#menu-social li a[href*="instagram.com"]:focus::before,
#menu-social li a[href*="instagram.com"]:active::before {
    color: #3f729b;
}

#menu-social li a[href*="linkedin.com"]:hover::before,
#menu-social li a[href*="linkedin.com"]:focus::before,
#menu-social li a[href*="linkedin.com"]:active::before {
    color: #0e76a8;
}

#menu-social li a[href*="pinterest.com"]:hover::before,
#menu-social li a[href*="pinterest.com"]:focus::before,
#menu-social li a[href*="pinterest.com"]:active::before {
    color: #c8232c;
}

#menu-social li a[href*="polldaddy.com"]:hover::before,
#menu-social li a[href*="polldaddy.com"]:focus::before,
#menu-social li a[href*="polldaddy.com"]:active::before {
    color: #bc0b0b;
}

#menu-social li a[href*="getpocket.com"]:hover::before,
#menu-social li a[href*="getpocket.com"]:focus::before,
#menu-social li a[href*="getpocket.com"]:active::before {
    color: #ee4056;
}

#menu-social li a[href*="reddit.com"]:hover::before,
#menu-social li a[href*="reddit.com"]:focus::before,
#menu-social li a[href*="reddit.com"]:active::before {
    color: #336699;
}

#menu-social li a[href*="skype.com"]:hover::before,
#menu-social li a[href*="skype.com"]:focus::before,
#menu-social li a[href*="skype.com"]:active::before,
#menu-social li a[href*="skype:"]:hover::before,
#menu-social li a[href*="skype:"]:focus::before,
#menu-social li a[href*="skype:"]:active::before {
    color: #00aff0;
}

#menu-social li a[href*="soundcloud.com"]:hover::before,
#menu-social li a[href*="soundcloud.com"]:focus::before,
#menu-social li a[href*="soundcloud.com"]:active::before {
    color: #ff5000;
}

#menu-social li a[href*="spotify.com"]:hover::before,
#menu-social li a[href*="spotify.com"]:focus::before,
#menu-social li a[href*="spotify.com"]:active::before {
    color: #1ed760;
}

#menu-social li a[href*="stumbleupon.com"]:hover::before,
#menu-social li a[href*="stumbleupon.com"]:focus::before,
#menu-social li a[href*="stumbleupon.com"]:active::before {
    color: #ff2618;
}

#menu-social li a[href*="tumblr.com"]:hover::before,
#menu-social li a[href*="tumblr.com"]:focus::before,
#menu-social li a[href*="tumblr.com"]:active::before {
    color: #34526f;
}

#menu-social li a[href*="twitter.com"]:hover::before,
#menu-social li a[href*="twitter.com"]:focus::before,
#menu-social li a[href*="twitter.com"]:active::before {
    color: #33ccff;
}

#menu-social li a[href*="vimeo.com"]:hover::before,
#menu-social li a[href*="vimeo.com"]:focus::before,
#menu-social li a[href*="vimeo.com"]:active::before {
    color: #1ab7ea;
}

#menu-social li a[href*="wordpress.org"]:hover::before,
#menu-social li a[href*="wordpress.org"]:focus::before,
#menu-social li a[href*="wordpress.org"]:active::before,
#menu-social li a[href*="wordpress.com"]:hover::before,
#menu-social li a[href*="wordpress.com"]:focus::before,
#menu-social li a[href*="wordpress.com"]:active::before {
    color: #21759b;
}

#menu-social li a[href*="youtube.com"]:hover::before,
#menu-social li a[href*="youtube.com"]:focus::before,
#menu-social li a[href*="youtube.com"]:active::before {
    color: #c4302b;
}

/* === 5.3 Comment and post navigation === */

.site-main .pagination,
.site-main .post-navigation {
    margin-bottom: 5%;
    overflow: hidden;
}

.site-main .pagination {
    margin-bottom: 0;
}

.post-navigation .nav-next {
    text-align: right;
}

.comments-title,
.comments-title-no,
.comment-navigation {
    text-align: center;

}

.comments-title,
.comment-navigation-top {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.comment-navigation-bottom {
    padding-top: 30px;
    margin-bottom: 30px;
}

.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
    display: inline-block;
}

.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
    content: "\2217";
    margin: 0 0.7em;
}

.post-navigation .meta-nav {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
}

.post-navigation a {
    display: block;
    padding: 5% 6%;
}

.post-navigation a:hover,
.post-navigation a:active,
.post-navigation a:focus {
    text-decoration: none;
}

.pagination .nav-links {
    min-height: 3.2em;
    position: relative;
    text-align: center;
}

.pagination .page-numbers {
    line-height: 80px;
    padding: 0 0.6667em;
}

.pagination .page-numbers.dots {
    padding: 0;
}

.pagination .page-numbers.current {
    text-transform: uppercase;
}

.pagination .current {
    display: inline-block;
    font-weight: 700;
}

.pagination .prev,
.pagination .next {
    display: inline-block;
    height: 80px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 80px;
}

.pagination .prev::before,
.pagination .next::before {
    font-size: 48px;
    height: 80px;
    line-height: 80px;
    position: relative;
    width: 80px;
}

.pagination .prev {
    left: 0;
}

.pagination .prev::before {
    content: "\f430";
    left: -2px;
}

.pagination .next::before {
    content: "\f429";
    left: 3px;
}

.pagination .next {
    right: 0;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin: 0 1.5em 1.5em 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 0 0 1.5em 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry:before,
.entry:after,
.entry-content:before,
.entry-content:after,
.entry-header-summary:before,
.entry-header-summary:after,
.comment-content:before,
.comment-content:after,
.top-header:before,
.top-header:after,
.top-header-buttons:before,
.top-header-buttons:after,
.site-header:before,
.site-header:after,
.site-branding:before,
.site-branding:after,
#site-navigation .wrap:before,
#site-navigation .wrap:after,
.top-navigation:before,
.top-navigation:after,
.social-navigation:before,
.social-navigation:after,
#content .wrap:before,
#content .wrap:after,
.site-content:before,
.site-content:after,
.entry-summary:before,
.entry-summary:after,
#sidebar-subsidiary:before,
#sidebar-subsidiary:after,
#sidebar-front-page:before,
#sidebar-front-page:after,
#sidebar-front-page .wrap:before,
#sidebar-front-page .wrap:after,
#testimonial-area:before,
#testimonial-area:after,
.site-footer:before,
.site-footer:after {
    content: '';
    display: table;
}

.clear:after,
.entry:after,
.entry-content:after,
.entry-header-summary:after,
.comment-content:after,
.top-header:after,
.top-header-buttons:after,
.site-header:after,
.site-branding:after,
#site-navigation .wrap:after,
.top-navigation:after,
.social-navigation:after,
#content .wrap:after,
.site-content:after,
.entry-summary:after,
#sidebar-subsidiary:after,
#sidebar-front-page:after,
#sidebar-front-page .wrap:after,
#testimonial-area:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/

.widget {
    padding-bottom: 2em;
}

.widget-title,
.widgettitle {
    display: inline-block;
    font-size: 22px;
}

/* Make sure select elements fit in widgets */
.widget select {
    max-width: 100%;
}

/* Search widget */
body .search-submit {
    margin-bottom: 30px;
    margin-top: 0;
}

.search-form {
    position: relative;
    margin-bottom: 30px;
}

.search-field {
    display: block;
    padding: 20px 140px 20px 20px;
    width: 100%;
    height: 80px;
}

.search-submit {
    display: block;
    font-weight: bold;
    height: 78px;
    width: 120px;
    text-align: center;
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 0;
}

.widget ul > li::before {
    content: '\f418';
    font-size: 16px;
    margin-bottom: 1px;
    margin-right: 6px;
    vertical-align: middle;
}

.widget.widget_categories ul > li::before {
    content: '\f301';
    margin-bottom: 4px;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/

/* === 10.1 Posts and pages === */

.entry-header {
    text-align: center;
}

.entry-inner,
#comments,
.layout-1c #sidebar-primary {
    padding: 5% 6%;
    margin-bottom: 5%;
}

.no-content .toivo-callout-top .entry-inner,
.toivo-callout-bottom .entry-inner {
    padding-left: 0;
    padding-right: 0;
}

.entry {
    margin-bottom: 5%;
}

.toivo-callout .entry-inner {
    margin-bottom: 0;
}

@media screen and (max-width: 999px) {

    #sidebar-primary {
        padding: 5% 6%;
        margin: 0 0 5%;
    }

}

.page-content,
.entry-content,
.entry-summary {
    margin-top: 1.5em;
}

.home .format-status .entry-inner,
.blog .format-status .entry-inner,
.home .format-aside .entry-inner,
.blog .format-aside .entry-inner {
    padding-bottom: 0;
}

.format-audio .entry-media {
    padding-top: 35px;
    padding-bottom: 35px;
}

.format-audio .entry-media .jetpack-video-wrapper {
    margin-top: -35px;
    margin-bottom: -35px;
}

.entry-content .jetpack-video-wrapper {
    margin-bottom: 1.5em;
}

.format-audio .entry-media .mejs-container {
    margin-bottom: 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.page-links a {
    display: inline-block;
    margin-bottom: 4px;
    padding: 0.5em 1em;
}

.entry-header .entry-title,
.front-page-area > .entry-title {
    margin-top: 0;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.front-page-area > .entry-title {
    margin-bottom: 3%;
    text-align: center;
}

.entry-meta,
.comment-meta {
    margin-bottom: 1em;
    font-size: 0.75em;
    text-transform: uppercase;
}

/* Breadcrumbs. */
.breadcrumb-trail {
    font-size: 0.75em;
    text-transform: uppercase;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.breadcrumbs .trail-items {
    list-style: none;
}

.breadcrumbs .trail-items li {
    position: relative;
    padding-right: 16px;
}

.breadcrumb-trail {
    text-align: center;
}

.trail-items li::after {
    font-size: 85%;
    content: "\002F";
    position: absolute;
    bottom: 1px;
    right: 6px;
}

.trail-items li:last-of-type::after {
    display: none;
}

.entry-header .entry-title:after,
.front-page-area > .entry-title:after {
    content: "";
    display: block;
    width: 96px;
    height: 4px;
    margin: 5% auto;
}

.front-page-area > .entry-title:after {
    margin-top: 3%;
    margin-bottom: 3%;
}

.page-template-front-page .entry-header .entry-title {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 0;
}

.page-template-default .entry-header .entry-title,
.single .entry-header .entry-title {
    margin-top: 0;
}

/* Callout in front page. */
.toivo-callout {
    font-size: 1.5em;
    padding: 3%;
    text-align: center;
}

.single-attachment .entry-title {
    text-align: center;
}

.thumbnail {
    margin: 0 0 1em 0;
}

.post-thumbnail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.post-thumbnail img:hover,
a.post-thumbnail img:focus,
a.post-thumbnail img:active {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.post-thumbnail {
    text-align: center;
}

.featured-area,
.child-pages-area {
    padding: 6% 5%;
}

/* === 10.2 Asides === */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

.format-status .avatar {
    border-radius: 50%;
}

.format-status .entry-content {
    margin-top: 18px;
}

.mejs-container {
    margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .pagination, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object,
video {
    max-width: 100%;
}

/* === 12.1 Captions === */

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}

.wp-caption-text {
    margin: 6px 0 1em 0;
    text-align: center;
}

/* === 12.2 Galleries === */

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
13.0 Layouts
--------------------------------------------------------------*/

/* === 13.1 Max-width === */

.site-header .wrap,
#sidebar-subsidiary .wrap,
#sidebar-front-page .wrap,
#testimonial-area > .testimonial-wrapper,
#colophon .site-info,
.layout-1c .breadcrumb-trail .wrap,
.entry-header,
.entry-content,
.entry-summary,
.entry-footer,
.layout-1c .entry,
.layout-1c #sidebar-primary > .wrap,
.layout-1c .pagination,
.layout-1c .post-navigation,
.layout-1c #comments,
.layout-1c #sidebar-primary,
body #infinite-handle,
.no-content .toivo-callout-top > .entry-inner,
.toivo-callout-bottom > .entry-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
}

.entry-content,
.entry-summary,
.entry-footer,
.layout-1c #sidebar-primary > .wrap {
    max-width: 700px;
}

/* === 13.2 Paddings. === */

.site-header > .wrap,
#colophon #menu-social,
#colophon .site-info {
    padding: 0 4%;
}

#colophon .site-info {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

#content > .wrap {
    padding-bottom: 5%;
}

.home #content > .wrap {
    padding-top: 4%;
}

.breadcrumb-trail {
    padding: 2.5% 5%;
}

@media screen and (min-width: 600px) {

    .breadcrumb-trail {
        padding-top: 1.75%;
        padding-bottom: 1.75%;
    }

}

@media screen and (min-width: 1000px) {

    .breadcrumb-trail {
        padding-top: 1.25%;
        padding-bottom: 1.25%;
    }

    .layout-2c-l .breadcrumb-trail,
    .layout-2c-r .breadcrumb-trail {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

}

.page-template-front-page #content > .wrap,
.page-template-child-pages #content > .wrap,
.page-template-blog-page #content > .wrap {
    padding-bottom: 0;
}

.page-template-front-page.no-content #content > .wrap {
    padding-top: 0;
}

.page-template-front-page .featured-area .featured-area-grid:last-child .entry,
.page-template-child-pages .child-pages-area .child-pages-grid:last-child .entry,
.page-template-blog-page .child-pages-area .child-pages-grid:last-child .entry {
    margin-bottom: 0;
}

#page {
    position: relative;
}

/* === 13.3 Media queries === */

@media screen and (min-width: 1000px) {

    .layout-2c-l .site-content > .wrap,
    .layout-2c-r .site-content > .wrap {
        padding-left: 4%;
        padding-right: 4%;
    }

    /* Two column layout. */
    .layout-2c-l .content-area,
    .layout-default .content-area,
    .layout-2c-r .content-area {
        float: left;
        padding-right: 3%;
        width: 66.6666666666666666%;
    }

    .layout-2c-l #sidebar-primary,
    .layout-2c-r #sidebar-primary {
        float: left;
        padding-left: 3%;
        width: 33.3333333333333333%;
    }

    .layout-2c-r .content-area {
        float: right;
        padding-left: 3%;
        padding-right: 0;
    }

    .layout-2c-r #sidebar-primary {
        float: right;
        padding-left: 0;
        padding-right: 3%;
    }

}

/* === 13.4 Sidebar layouts === */

#sidebar-subsidiary,
#sidebar-front-page,
#testimonial-area {
    padding: 6% 5%;
}

.post-type-archive-jetpack-testimonial #testimonial-area {
    padding-top: 0;
    padding-bottom: 5%;
}

.post-type-archive-jetpack-testimonial .testimonial-area > .entry-content {
    text-align: center;
}

#testimonial-area .entry-testimonial .entry-wrapper,
.format-status .entry-content > .entry-wrapper,
.format-status .entry-footer,
.jetpack-testimonial .entry-content > .entry-wrapper {
    padding-left: 35px;
    padding-top: 4px;
}

/* Minimum width of 800 pixels. */
@media screen and (min-width: 800px) {

    .comment-content .comment-content-wrapper {
        padding-left: 35px;
        padding-top: 4px;
    }

    /* Grids like sidebars area. */
    #sidebar-subsidiary .wrap .wrap-inside,
    #sidebar-front-page .wrap .wrap-inside,
    #testimonial-area .testimonial-wrapper {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #sidebar-subsidiary .widget,
    #sidebar-front-page .widget,
    #testimonial-area .entry-testimonial {
        -webkit-box-flex: none;
        -moz-box-flex: none;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }

    .ie9 #sidebar-subsidiary .widget,
    .ie9 #sidebar-front-page .widget,
    .ie9 #testimonial-area .entry-testimonial {
        float: left;
    }

    #sidebar-subsidiary .widget:nth-child(n+3),
    #sidebar-front-page .widget:nth-child(n+3),
    #testimonial-area .entry-testimonial:nth-child(n+3) {
        padding-top: 2em;
    }

    #sidebar-subsidiary .widget:nth-child(2n+1),
    #sidebar-front-page .widget:nth-child(2n+1),
    #testimonial-area .entry-testimonial:nth-child(2n+1) {
        padding-right: 3%;
    }

    #sidebar-subsidiary .widget:nth-child(2n),
    #sidebar-front-page .widget:nth-child(2n),
    #testimonial-area .entry-testimonial:nth-child(2n) {
        padding-left: 3%;
    }

    .ie9 #sidebar-subsidiary .widget:nth-child(2n+3),
    .ie9 #sidebar-front-page .widget:nth-child(2n+3),
    .ie9 #testimonial-area .entry-testimonial:nth-child(2n+3) {
        clear: both;
    }

}

/*--------------------------------------------------------------
14.0 Comments
--------------------------------------------------------------*/

.comment-form input[type="submit"] {
    font-size: 0.85em;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.comment-content a {
    word-wrap: break-word;
}

#respond {
    padding-top: 1.5em;
    margin-top: 1.5em;
}

ol.comment-list,
ol.comment-list ol.children {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list > li {
    margin-bottom: 6%;
    padding-bottom: 6%;
}

.comment-list > li:last-child {
    padding-bottom: 0;
}

ol.comment-list ol.children ul {
    margin-bottom: 0;
}

ol.comment-list ol.children {
    margin-left: 1%;
}

/* === Individual comments */

li.comment .comment-wrap,
li.ping .comment-wrap {
    padding-bottom: 1em;
    padding-top: 1em;
}

.comment-list li.bypostauthor {
    padding: 3%;
}

ol.comment-list ul,
ol.comment-list ol,
ol.comment-list dl {
    margin-bottom: 1em;
}

ol.comment-list ul ul,
ol.comment-list ol ol,
ol.comment-list dl dl {
    margin-bottom: 0;
}

/* Avatars and images. */

.site-logo,
.custom-logo,
.avatar,
.entry-testimonial img,
img.attachment-toivo-testimonial {
    border-radius: 50%;
}

.site-logo,
.custom-logo,
.site-header .avatar {
    margin-top: 1em;
    max-width: 150px;
    max-height: 150px;
    position: relative;
}

.format-status .avatar,
.entry-testimonial img,
img.attachment-toivo-testimonial {
    float: left;
    margin: 0 1em .2em 0;
    max-width: 70px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

@media screen and (min-width: 360px) {

    .site-logo,
    .custom-logo,
    .site-header .avatar {
        margin-top: -75px;
    }

}

.comment-list .avatar {
    float: left;
    margin: 0 1em 0.2em 0;
    width: 70px;
    height: 70px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

/* Meta. */
.comment-meta abbr {
    border-bottom: none;
}

/* Reply link. */
#cancel-comment-reply-link {
    font-weight: bold;
}

.comment-content {
    clear: both;
    display: block;
}

.parent .comment-reply-link {
    margin-bottom: 20px;
}

@media screen and (min-width: 608px) {

    ol.comment-list ol.children {
        margin-left: 2%;
    }

    .has-avatar.comment .comment-author {
        margin-top: 16px;
    }

}

@media screen and (min-width: 1056px) {

    ol.comment-list ol.children {
        margin-left: 3%;
    }

}

/*--------------------------------------------------------------
15.0 Plugins
--------------------------------------------------------------*/

/* === 15.1 Jetpack CSS === */

body #infinite-handle {
    text-align: center;
}

body #infinite-handle span {
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    display: inline-block;
    line-height: 1;
    transition: all 0.25s ease-in-out;
}

.layout-2c-l #infinite-handle span,
.layout-2c-r #infinite-handle span,
.layout-2c-l .infinite-loader,
.layout-2c-r .infinite-loader {
    margin-bottom: 5%;
}

@media screen and (min-width: 1000px) {

    .layout-2c-l #infinite-handle span,
    .layout-2c-r #infinite-handle span,
    .layout-2c-l .infinite-loader,
    .layout-2c-r .infinite-loader {
        margin-bottom: 0;
    }

    .layout-2c-l #infinite-handle,
    .layout-2c-r #infinite-handle {
        padding-top: 2%;
    }

}

body .infinite-loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

body .infinite-loader .spinner {
    display: block;
    left: 50% !important;
}

body div.sharedaddy h3.sd-title,
body div#jp-relatedposts h3.jp-relatedposts-headline,
body div#jp-relatedposts h3.jp-relatedposts-headline em {
    font-size: 20px;
    font-weight: normal;
}

body .contact-form input[type=email],
body .contact-form input[type=text],
body #subscribe-email input {
    width: 100%;
    max-width: 100%;
}

body #subscribe-email input {
    padding: 20px;
    padding: 1.25rem;
}

body .contact-form textarea {
    width: 100%;
}

/*--------------------------------------------------------------
16.0 Right to left styles
--------------------------------------------------------------*/

/* rtl:ignore */
body.rtl {
    direction: rtl;
    unicode-bidi: embed;
}

/* rtl:ignore */
.rtl .format-status .avatar,
.rtl .entry-testimonial img,
.rtl img.attachment-toivo-testimonial {
    -webkit-shape-outside: circle(70px);
    shape-outside: circle(70px);
}

/* rtl:ignore */
.rtl .comment-list .avatar {
    -webkit-shape-outside: circle(70px);
    shape-outside: circle(70px);
}

.rtl ul,
.rtl ol {
    margin: 0 1.5em 1.5em 0;
}

.rtl li > ul,
.rtl li > ol {
    padding-right: 1em;
    margin-right: 1em;
}

.rtl .sidebar ul ul,
.rtl .error-404.not-found ul ul {
    margin-right: 1em;
}

.rtl caption,
.rtl th,
.rtl td {
    text-align: right;
}

.rtl #wp-calendar #prev {
    text-align: right;
}

.rtl #wp-calendar #next {
    text-align: left;
}

.rtl .entry-date a,
.rtl .byline .entry-author a,
.rtl .entry-permalink a,
.rtl .comments-link a,
.rtl .comment-published,
.rtl .comment-reply-link,
.rtl .comment-edit-link,
.rtl .comment-author {
    margin-right: 0;
    margin-left: 8px;
}

.rtl a[href^="mailto:"]::before,
.rtl a[href^="tel:"]::before,
.rtl .entry-date a::before,
.rtl .byline .entry-author a::before,
.rtl .comment-published::before,
.rtl .comment-author::before,
.rtl .comment-edit-link::before,
.rtl .comments-link a::before,
.rtl .comment-reply-link::before,
.rtl .entry-permalink a::before,
.rtl .entry-terms::before {
    padding-right: 0;
    padding-left: 4px;
}

.rtl .menu ul,
.rtl .menu li > ul,
.rtl .menu li > ol {
    margin: 0;
}

.rtl .menu li > ul,
.rtl .menu li > ol {
    padding: 0;
}

@media screen and (max-width: 999px) {

    .rtl #menu-primary ul ul li a {
        padding-right: 9%;
        padding-left: 0;
    }

    .rtl #menu-primary ul ul ul li a {
        padding-right: 11%;
        padding-left: 0;
    }

    .rtl #menu-primary ul ul ul ul li a {
        padding-right: 13%;
        padding-left: 0;
    }

    .rtl button#nav-toggle:before {
        margin: 0 0 0 6px;
    }

}

@media screen and (min-width: 1000px) {

    .rtl #menu-primary ul ul {
        float: right;
        right: -999em;
        left: auto;
    }

    .rtl #menu-primary ul ul ul {
        right: -999em;
        left: auto;
    }

    .rtl #menu-primary ul li:hover > ul,
    .rtl #menu-primary ul li.focus > ul {
        right: 50%;
        left: auto;
        margin-right: -100px;
        margin-left: 0;
    }

    .rtl #menu-primary ul ul li:hover > ul,
    .rtl #menu-primary ul ul li.focus > ul {
        right: 100%;
        margin-right: 0;
    }

    .rtl #menu-primary .menu-item-has-children > a,
    .rtl #menu-primary .page_item_has_children > a {
        padding-left: 26px;
    }

    .rtl #menu-primary .menu-item-has-children > a:after,
    .rtl #menu-primary .page_item_has_children > a:after {
        left: 12px;
        right: auto;
    }

    .rtl #menu-primary li .menu-item-has-children > a,
    .rtl #menu-primary li .page_item_has_children > a {
        padding-left: 20px;
    }

    .rtl #menu-primary .menu-item-has-children li.menu-item-has-children > a:after,
    .rtl #menu-primary .menu-item-has-children li.page_item_has_children > a:after,
    .rtl #menu-primary .page_item_has_children li.menu-item-has-children > a:after,
    .rtl #menu-primary .page_item_has_children li.page_item_has_children > a:after {
        content: "\f503";
        left: 8px;
        right: auto;
    }

    .rtl #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:after,
    .rtl #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:before {
        right: 50%;
        left: auto;
    }

    .rtl #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:after {
        margin-right: -10px;
        margin-left: 0;
    }

    .rtl #menu-primary ul#menu-primary-items > li.menu-item-has-children > ul > li:first-child:before {
        margin-right: -11px;
        margin-left: 0;
    }

    .rtl .main-navigation .menu-item-description.top-depth {
        right: -999em;
        left: auto;
    }

    /* CSS arrow for top depth description. */
    .rtl .main-navigation .menu-item-description.top-depth:after,
    .rtl .main-navigation .menu-item-description.top-depth:before {
        right: 50%;
        left: auto;
    }

    .rtl .main-navigation .menu-item-description.top-depth:after {
        margin-right: -10px;
        margin-left: 0;
    }

    .rtl .main-navigation .menu-item-description.top-depth:before {
        margin-right: -11px;
        margin-left: 0;
    }

    .rtl #menu-primary ul li:hover .menu-item-description.top-depth,
    .rtl #menu-primary ul li.focus .menu-item-description.top-depth {
        right: 50%;
        left: auto;
        margin-right: -100px;
        margin-left: 0;
    }

}

@media screen and (max-width: 1199px) {

    .rtl button#top-nav-toggle {
        float: right;
    }

    .rtl button#social-nav-toggle {
        float: left;
    }

}

@media screen and (min-width: 1200px) {

    .rtl .top-navigation {
        float: right;
        padding-right: 4%;
        padding-left: 0;
    }

    .rtl .social-navigation {
        float: left;
        padding-left: 4%;
        padding-right: 0;
        text-align: left;
    }

    .rtl .top-navigation ul {
        margin: 0;
    }

}

.rtl .pagination .prev {
    right: 0;
    left: auto;
}

.rtl .pagination .prev::before {
    content: '\f429';
    right: -2px;
    left: auto;
}

.rtl .pagination .next::before {
    content: '\f430';
    right: 3px;
    left: auto;
}

.rtl .pagination .next {
    left: 0;
    right: auto;
}

.rtl .post-navigation .nav-next {
    text-align: left;
}

.rtl .screen-reader-text:hover,
.rtl .screen-reader-text:active,
.rtl .screen-reader-text:focus {
    right: 5px;
    left: auto;
}

.rtl .alignleft {
    float: right;
    margin: 0 0 1.5em 1.5em;
}

.rtl .alignright {
    float: left;
    margin: 0 1.5em 1.5em 0;
}

.rtl .search-field {
    padding: 20px 20px 20px 140px;
}

.rtl .widget ul > li::before {
    margin-left: 6px;
    margin-right: 0;
}

.rtl .breadcrumbs .trail-items li {
    padding-left: 16px;
    padding-right: 0;
}

.rtl .trail-items li::after {
    content: "\005C";
    left: 6px;
    right: auto;
}

.rtl #testimonial-area .entry-testimonial .entry-wrapper,
.rtl .format-status .entry-content > .entry-wrapper,
.rtl .format-status .entry-footer,
.rtl .jetpack-testimonial .entry-content > .entry-wrapper {
    padding-right: 35px;
    padding-left: 0;
}

@media screen and (min-width: 800px) {

    .rtl .comment-content .comment-content-wrapper {
        padding-right: 35px;
        padding-left: 0;
    }

    .ie9 .rtl #sidebar-subsidiary .widget,
    .ie9 .rtl #sidebar-front-page .widget,
    .ie9 .rtl #testimonial-area .entry-testimonial {
        float: right;
    }

    .rtl #sidebar-subsidiary .widget:nth-child(2n+1),
    .rtl #sidebar-front-page .widget:nth-child(2n+1),
    .rtl #testimonial-area .entry-testimonial:nth-child(2n+1) {
        padding-left: 3%;
        padding-right: 0;
    }

    .rtl #sidebar-subsidiary .widget:nth-child(2n),
    .rtl #sidebar-front-page .widget:nth-child(2n),
    .rtl #testimonial-area .entry-testimonial:nth-child(2n) {
        padding-right: 3%;
        padding-left: 0;
    }

}

.rtl ol.comment-list ol.children {
    margin-right: 1%;
    margin-left: 0;
}

.rtl .format-status .avatar,
.rtl .entry-testimonial img,
.rtl img.attachment-toivo-testimonial {
    float: right;
    margin: 0 0 .2em 1em;
}

/* rtl:ignore */
.rtl .format-status .avatar,
.rtl .entry-testimonial img,
.rtl img.attachment-toivo-testimonial {
    -webkit-shape-outside: circle(70px);
    shape-outside: circle(70px);
}

.rtl .comment-list .avatar {
    float: right;
    margin: 0 0 0.2em 1em;
}

/* rtl:ignore */
.rtl .comment-list .avatar {
    -webkit-shape-outside: circle(70px);
    shape-outside: circle(70px);
}

@media screen and (min-width: 608px) {

    .rtl ol.comment-list ol.children {
        margin-right: 2%;
        margin-left: 0;
    }

}

@media screen and (min-width: 1056px) {

    .rtl ol.comment-list ol.children {
        margin-right: 3%;
        margin-left: 0;
    }

}

.rtl blockquote {
    border-right-width: 4px;
    border-right-style: solid;
    border-left: none;
}

@media screen and (min-width: 800px) {

    .rtl #sidebar-subsidiary .widget:nth-child(2n+1),
    .rtl #sidebar-front-page .widget:nth-child(2n+1),
    .rtl #sidebar-page-template .widget:nth-child(2n+1),
    .rtl #testimonial-area .entry-testimonial:nth-child(2n+1) {
        border-left-width: 1px;
        border-left-style: dashed;
        border-right: none;
    }

}

/*--------------------------------------------------------------
17.0 Child theme friendly zone
--------------------------------------------------------------*/

/*
 * At this point there are fonts, colors, background and borders used in a theme.
 * You can overwrite them in your child theme 'style.css' if you need custom design.
 */

/* === 16.1 Font Family === */

body,
button,
input,
select,
textarea {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

.site-title,
a.more-link,
a.toivo-button,
input[type="button"],
input[type="reset"],
input[type="submit"],
body #infinite-handle span button,
.comment-form input[type="submit"] {
    font-family: 'Raleway', sans-serif;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* === 16.2 Colors === */

/* Here is a list of used colors to help you out.
 *
 * Body color:                              #444
 * Dark color for text and hover:           #303030
 * Lighter color for text:                  #555 and #777
 *
 * Link color:                              #9b1c51
 * Lighter link color:                      #3b5667
 * Link hover color:                        #525e66
 * Color for text with above backgrounds:   #fff
 *
 * Backgroud colors:                        #aebec8, #f7f6f1 and #f7f7f7
 * Borders:                                 #ddd and #bbb
 */

body,
button,
input,
select,
textarea {
    color: #444;
}

.wp-caption-text,
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
input {
    color: #555;
}

::-webkit-input-placeholder {
    color: #555;
}

:-moz-placeholder {
    color: #555;
    opacity: 1;
}

::-moz-placeholder {
    color: #555;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #555;
}

a,
a:visited,
#top-header {
    color: #9b1c51;
}

a:hover,
a:focus,
a:active,
button#top-nav-toggle,
button#social-nav-toggle {
    color: #525e66;
}

.entry-header,
.entry-header a,
.entry-footer a,
.post-navigation .meta-nav,
.comment-meta,
.comment-meta a,
.comment-meta a:visited,
.comment-meta a:active,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.breadcrumb-trail .trail-end,
.trail-items li::after {
    color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6,
.entry-title,
.entry-title a,
a.more-link,
.sidebar .genericon,
.sidebar .genericon::before,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
body button#top-nav-toggle:hover,
body button#top-nav-toggle:active,
body button#top-nav-toggle:focus,
body button#social-nav-toggle:hover,
body button#social-nav-toggle:active,
body button#social-nav-toggle:focus {
    color: #303030;
}

.breadcrumb-trail a,
.breadcrumb-trail a:visited,
.widget a,
.widget a:visited {
    color: #3b5667;
}

.breadcrumb-trail a:hover,
.breadcrumb-trail a:focus,
.breadcrumb-trail a:active,
.widget a:hover,
.widget a:focus,
.widget a:active,
#sidebar-subsidiary,
#sidebar-subsidiary .widget-title,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry a.portfolio-item-link,
body #infinite-handle span,
.site-info a,
.site-info a:visited,
.site-info a:hover,
.site-info a:focus,
.site-info a:active {
    color: #303030;
}

.toivo-callout,
.toivo-callout .entry-title,
a.toivo-button,
.pagination .prev,
.pagination .next,
button#top-nav-toggle:before,
button#social-nav-toggle:before {
    color: #fff;
}

body .search-submit {
    color: #303030;
}

body .search-submit:hover,
body .search-submit:focus,
body .search-submit:active {
    color: #fff;
    border-color: #303030;
}

/* == Menu colors and backgrounds == */

#menu-primary li:hover > a,
#menu-primary li.focus > a,
button#nav-toggle:hover,
button#nav-toggle:focus,
button#nav-toggle.focus,
#menu-primary li.current-menu-item,
#menu-primary li.current-menu-item > a,
#menu-primary ul ul a:hover,
#menu-primary ul ul li.focus > a {
    background-color: #f7f6f1;
    color: #303030;
}

#menu-primary .menu-item-description {
    color: #777;
}

@media screen and (max-width: 999px) {

    .main-navigation li a,
    button#nav-toggle {
        background: #fff;
        border-bottom: 1px solid #ddd;
        color: #9b1c51;
    }

    button#nav-toggle.active {
        border-bottom: 1px solid #ddd;
    }

    .dropdown-toggle {
        background-color: transparent;
        border: none;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        color: #777;
    }

    .dropdown-toggle:hover,
    .dropdown-toggle:active,
    .dropdown-toggle:focus {
        background-color: #525e66;
    }

    .dropdown-toggle:focus {
        outline: 0;
    }

}

@media screen and (min-width: 1000px) {

    #menu-primary a {
        color: #9b1c51;
    }

    #menu-primary ul ul {
        background-color: #fff;
        border: 1px solid #ddd;
    }

    #menu-primary ul ul a {
        border-bottom: 1px solid #ddd;
    }

    #menu-primary .menu-item-description.top-depth {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

    .main-navigation .menu-item-description.top-depth:after {
        border-top-color: rgba(0, 0, 0, 0.7);
    }

}

/* Top and social menu. */

.top-navigation li:hover a,
.top-navigation li:focus a,
.top-navigation li:active a,
.top-navigation li.focus a,
.top-navigation li.current-menu-item a {
    color: #303030;
}

#menu-social li a::before {
    color: #bbb;
}

@media screen and (max-width: 1199px) {

    .top-navigation li a,
    .social-navigation {
        border-bottom: 1px solid #ddd;
    }

    .top-navigation li:first-child a,
    .social-navigation.opened {
        border-top: 1px solid #ddd;
    }

    .top-navigation.opened + .social-navigation.opened {
        border-top: none;
    }

}

@media screen and (min-width: 1200px) {

    .top-navigation li:hover a,
    .top-navigation li:focus a,
    .top-navigation li:active a,
    .top-navigation li.focus a,
    .top-navigation li.current-menu-item a {
        border-bottom: 6px solid #bbb;
    }

}

/* === 16.3 Backgrounds === */

/* Set default background color just in case. */
body {
    background: #fafafa;
}

.site-header,
body .mejs-container,
body .mejs-embed,
body .mejs-embed body,
body .mejs-container .mejs-controls {
    background-color: rgba(59, 86, 103, 0.90);
}

.custom-header-image .site-header {
    background-color: transparent;
}

.custom-header-image .site-header > .wrap::before {
    background-color: rgba(59, 86, 103, 0.70);
}

pre {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .5)), color-stop(.5, transparent), to(transparent));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
}

mark,
ins {
    background: #fff9c0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry a.portfolio-item-link,
body #infinite-handle span {
    background: transparent;
}

button#top-nav-toggle,
button#social-nav-toggle,
.pagination .prev,
.pagination .next,
.entry-header .entry-title:after,
.front-page-area > .entry-title:after {
    background: #525e66;
}

body .search-submit,
tbody tr:nth-child(2n+1) > td,
tbody tr:nth-child(2n+1) > th {
    background: #fafafa;
}

a.more-link:hover,
a.more-link:focus,
a.more-link:active,
button:hover,
button#top-nav-toggle:hover,
button#social-nav-toggle:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.entry a.portfolio-item-link:hover,
button:focus,
button#top-nav-toggle:focus,
button#social-nav-toggle:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.entry a.portfolio-item-link:focus,
button:active,
button#top-nav-toggle:active,
button#social-nav-toggle:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.entry a.portfolio-item-link:active,
body #infinite-handle span:hover,
body #infinite-handle span:focus,
body #infinite-handle span:active,
.pagination .prev:hover,
.pagination .next:hover,
.pagination .prev:focus,
.pagination .next:focus,
.pagination .prev:active,
.pagination .next:active {
    background: #303030;
    color: #fff;
}

a.toivo-button:hover,
a.toivo-button:focus,
a.toivo-button:active {
    background: #fff;
    color: #3b5667;
}

#top-header,
hr,
#menu-portfolio ul li a,
li.bypostauthor,
.sticky.entry,
.page-links a,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
body .gform_confirmation_wrapper,
.toivo-callout .toivo-callout-title.entry-title:after {
    background: #f7f6f1;
}

#menu-primary,
.entry,
#comments,
.layout-1c #sidebar-primary,
#sidebar-subsidiary,
#sidebar-front-page,
.post-navigation,
.pagination {
    background-color: #fff;
}

@media screen and (max-width: 999px) {

    #sidebar-primary {
        background: #fff;
    }

}

.site-footer,
.format-audio .entry-media,
.featured-area,
.child-pages-area {
    background: #aebec8;
}

.page-template-blog-page .format-audio .entry-media {
    background: #ddd;
}

.toivo-callout {
    background: #3b5667;
}

body .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #bbb;
}

/* === 16.4 Borders === */

abbr,
acronym {
    border-bottom: 1px dotted #555;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    border: 1px solid #ddd;
}

input[type="number"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
    border-color: #9b1c51;
}

blockquote {
    border-left-width: 4px;
    border-left-style: solid;
    border-color: #ddd;
}

fieldset,
legend,
#menu-social li a,
body .search-field {
    border: 1px solid #ddd;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.more-link,
body #infinite-handle span {
    border: 2px solid #303030;
}

body .search-submit {
    border-left: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.entry,
.site-header,
#menu-primary,
.layout-1c #sidebar-primary,
.post-navigation .nav-previous,
#comments,
.sidebar ul li,
.error-404.not-found ul li,
.post-navigation,
.comments-title,
.comment-navigation-top,
.pagination {
    border-bottom: 1px solid #ddd;
}

#menu-primary.opened {
    border-bottom: none;
}

.sidebar ul ul li:first-child,
.error-404.not-found ul ul li:first-child {
    border-top: 1px solid #ddd;
}

.sidebar ul li:last-child,
.error-404.not-found ul li:last-child {
    border-bottom: none;
}

.comment-navigation-bottom,
#respond {
    border-top: 1px solid #ddd;
}

#top-header {
    border-bottom: 6px solid #fff;
}

.site-logo,
.custom-logo,
.site-header .avatar {
    border: 6px solid #fff;
}

.site-title a,
a.toivo-button {
    border: 4px solid #fff;
}

@media screen and (max-width: 999px) {

    .layout-2c-l #sidebar-primary,
    .layout-2c-r #sidebar-primary {
        border-bottom: 1px solid #ddd;
    }

    .pagination .nav-previous {
        border-bottom: 1px solid #ddd;
    }

}

.comment-list > li {
    border-bottom: 2px solid #ddd;
}

.comment-list > li:last-child {
    border-bottom: none;
}

.widget-title,
.widgettitle {
    border-bottom: 2px solid #9b1c51;
}

@media screen and (min-width: 800px) {

    #sidebar-subsidiary .widget:nth-child(2n+1),
    #sidebar-front-page .widget:nth-child(2n+1),
    #sidebar-page-template .widget:nth-child(2n+1),
    #testimonial-area .entry-testimonial:nth-child(2n+1) {
        border-right-width: 1px;
        border-right-style: dashed;
        border-color: #ddd;
    }

    #sidebar-subsidiary .widget:nth-child(n+3),
    #sidebar-front-page .widget:nth-child(n+3),
    #sidebar-page-template .widget:nth-child(n+3),
    #testimonial-area .entry-testimonial:nth-child(n+3) {
        border-top: 1px dashed #ddd;
    }

}
