body{
    font-family: $fonts;
    color: $noir;
}



h1,h2,h3{
    color: $bleu ;
}

.cv{
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: $fonts;
        color: $bleu !important ;
    }
}