{% extends "TykaynPortfolioBundle:Default:index.html.twig" %}
{% block main %}
    <section
            class="container"
            ng-app="tkTest"
            ng-controller="TestController"
            >
        <h1>Cadavre exquis avec AngularJS.</h1>


        <div class="row">
            <div class="col-lg-8 col-lg-8">
                <div id="phrases">
                    {% verbatim %}
                    <div>
                        <h2>Dernières phrases</h2>

                        <div >
                            <div ng-repeat="p in test">
                            <span class="badge badge-default">
                                {{ p }}
                            </span>

                            </div>
                            <hr/>
                            <div ng-repeat="p in phrases">
                        <span class="badge badge-default">
                                {{ p }}
                            </span>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>


                <div>

                    {% set oldphraseID = null %}
                    {% for part in phrasesO %}

                        {% set newphraseID = part.phrase.id %}
                        {% if newphraseID != oldphraseID %}
                            {#              si la phrase est différente, retour a la ligne.#}
                            <br/>
                        {% else %}
                        {% endif %}
                        {% if part.phrase is defined and part.phrase is not empty %}
                            {#{{  part.phrase.id }} : partie{{  part.position }} ) #}
                            <span data-author="{{ part.pseudo }}">{{ part.content }} </span>

                        {% else %}
                        {% endif %}
                        {% set oldphraseID = part.phrase.id %}
                    {% endfor %}

                </div>
                <hr/>
                {#<pre>{% raw %}{{ formData |json}}{% endraw %} </pre>#}
            </div>
            <div class="col-lg-4 col-md-4">
                <span class="help-block alert alert-warning" ng-show="errors">{% raw %}{{ errors }}{% endraw %}</span>
                <span class="help-block alert alert-warning"
                        ng-show="successMessage">{% raw %}{{ successMessage }}{% endraw %}</span>
                {% if msg is defined and msg is not empty %}
                    <div class="alert alert-info">
                        {{ msg }}
                    </div>

                {% endif %}

                {#<pre>{% raw %}{{ processForm  }}{% endraw %} </pre>#}
                <div class="well">
                    <form
                            name="formData"
                            method=POST
                            action="#"
                            {#ng-model="formData"#}
                            ng-submit="processForm()"
                            >
                        {{ form_widget(form) }}
                        {#<input type="text" name="type" value="sujet" ng-model="type" placeholder="type">#}
                        {#<input type="text" name="content" value="essai de contenu" ng-model="content" placeholder="contenu">#}
                        {#<input type="text" name="pseudo" value="tktest" ng-model="pseudo" placeholder="pseudo">#}
                        <a class="btn btn-primary" ng-click="processForm()">envoyer</a>

                    </form>
                    <button class="btn btn-primary" ng-click="logtest(); console.log('ooooh')">logtest</button>
                    <button class="btn btn-primary" ng-click="content= 'woualaaaaa'; pseudo='tk'; type = 'sujet'">changer</button>
                </div>
                <div class="alert-info alert">
                    <strong>{{ info }}</strong>

                    <h3>example:</h3>

                    <i>{{ example }}</i>
                </div>

                <div class="jumbotron">
                    <h2>
                        Contribuez au cadavre exquis!
                    </h2>

                </div>


            </div>
            <pre>errors: {% raw %}{{ errors }}{% endraw %} </pre>
            <pre>successMessage : {% raw %}{{ successMessage }}{% endraw %} </pre>

        </div>
    </section>


    {#{% include('part/links-interactive.html.twig') %}#}
{% endblock %}

{% block jsMore %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>

    <script type="text/javascript">

        angular.module('tkTest', [])
                .controller('TestController', ['$scope', '$http', function ($scope, $http) {
                    $scope.phrases = ['a', 'b', 'c'];
//                    $scope.formData = {};
                    $scope.errors = [];

                    console.log('$http', $http);

                    // process the form
                    $scope.logtest = function () {
                        console.log('log test ok');
                    };
                    $scope.processForm = function () {
//                        var lesParams = $.param($scope.formData);
//                        console.log('$.param($scope.formData)' ,$.param($scope.formData) );
                        if(!$scope.formData["tykayn_portfoliobundle_cadexqphrasepart[content]"]["$viewValue"]){
                            return;
                        }
                        var lesParams = {
                            'content' : $scope.formData["tykayn_portfoliobundle_cadexqphrasepart[content]"]["$viewValue"],
                            'pseudo' : $scope.formData["tykayn_portfoliobundle_cadexqphrasepart[pseudo]"]["$viewValue"],
                            'type' : $scope.formData["tykayn_portfoliobundle_cadexqphrasepart[type]"]["$viewValue"]
                        };
                        console.log('processing submit', lesParams);
                        $http({
                            method : 'POST',
                            url    : '{{ url('ng_cadexq_save_ng') }}',
                            data   : lesParams  // pass in data as strings
                        }).then(function (rep) {
                            console.log(rep);
                            if (!rep.success) {
                                // if not successful, bind errors to error variables
                                $scope.errors = rep.errors;
                            } else {
                                // if successful, bind success message to message
                                $scope.successMessage = rep.data.message;
                                // changer le type de bout de phrase demandé
                                $scope.formData["tykayn_portfoliobundle_cadexqphrasepart[type]"]["$viewValue"] = 'nouveauType';
                            }
                        }, function (rep) {
                            console.log('nope! ', rep.data);
                        })
                        ;
                    };
                    console.log('$scope.processForm', $scope.processForm);
                }]);
        console.log('hop angular ok')


    </script>
{% endblock %}