<div class="gmap">
    <iframe width="540" height="540" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=Le%20Kremlin-Bic%C3%A8tre%2C%20France&destination=Le%20Kremlin-Bic%C3%A8tre%2C%20France&key=AIzaSyAsnKfOmDYdTjO6v_epdgWkD3QnOtW4CVU"></iframe>
</div>