<div class="interactive-links">
    <div class="row">
        Share this page!
        {% include('part/share.html.twig') %}
    </div>
    <div class="row">
        <h2>
            Interactive pages like this one
        </h2>
        {% include 'part/page-list.html.twig' %}
    </div>
</div>
