<a href="{{ path('view_page' , { page : 'teacher-game'}) }}">teacher-game</a>
<a href="{{ path('view_page' , { page : 'circles'}) }}">css circles</a>
<a href="{{ path('view_page' , { page : 'free_DL'}) }}">Free DL</a>
<a href="{{ path('view_page' , { page : 'salaire'}) }}">salaire</a>
<a href="{{ path('view_page' , { page : '24hbd'}) }}">24hBD</a>
<a href="{{ path('view_page' , { page : 'dettes'}) }}">dettes</a>
<a href="{{ path('view_page' , { page : 'note'}) }}">block note</a>
<a href="{{ path('view_page' , { page : 'math-resolver'}) }}">math resolver</a>
<a href="{{ path('view_page' , { page : 'devin'}) }}">prédicateur</a>
<a href="{{ path('view_page' , { page : 'dates-de-vie'}) }}">dates de vie</a>
<a href="{{ path('view_page' , { page : 'impots'}) }}">impots</a>
{#<a href="{{ path('ng_cadexq' ) }}">cadavre exquis</a>#}
<a href="{{ path('view_page' , { page : 'calcul-retard-de-paiement'}) }}">calcul retard de paiement</a>
