<div class="timeline">
    <h2 class="title">My Timeline</h2>

    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1IUOJZabmQEMzzSBSfHYG8Wa8-qeAAtygxGnc4--FiFk&font=Fjalla-Average&lang=fr&start_at_end=true&initial_zoom=5&height=500'
            width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
</div>
