<h1>Portfolio\Medias list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Info</th>
            <th>Link</th>
            <th>Dl_link</th>
            <th>Github</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('crud_medias__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.info }}</td>
            <td>{{ entity.link }}</td>
            <td>{{ entity.dllink }}</td>
            <td>{{ entity.github }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('crud_medias__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('crud_medias__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('crud_medias__new') }}">
            Create a new entry
        </a>
    </li>
</ul>
