<h1>Portfolio\Medias</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Info</th>
            <td>{{ entity.info }}</td>
        </tr>
        <tr>
            <th>Link</th>
            <td>{{ entity.link }}</td>
        </tr>
        <tr>
            <th>Dl_link</th>
            <td>{{ entity.dllink }}</td>
        </tr>
        <tr>
            <th>Github</th>
            <td>{{ entity.github }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('crud_medias_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('crud_medias__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('crud_medias__delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
