{% extends "TykaynPortfolioBundle:Default:index.html.twig" %}
            {% block main %}
                <div id="jeu">
                    <h1>Jeu angular</h1>
                </div>

                {% verbatim %}
                <div ng-app='tk'>
                    <div ng-controller='jeuCtrl' ng-init="init()">
                        <div class="col-lg-12">
                            <h2 class="text-center">N°{{ event_num }}</h2>
                        </div>
                        <div class="row well">
                            <div class="col-lg-6">
                                <img ng-src="{% endverbatim %}{{ asset('pages/random-organes/') }}{% verbatim %}{{ test }}" alt="image {{ test }}"/>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    {{ test }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endverbatim %}

                {% include('part/links-interactive.html.twig') %}
                <script type="text/javascript"
                        src="{{ asset('js/angular.min.js') }}"></script>
                <script>
                    /**
                     * code principal
                     */
                    angular.module("tk", ['tk.controllers']);
                    angular.module("tk.controllers", [])
                            .controller('jeuCtrl', ['$scope', function ($scope) {
                                $scope.test = 20;
                                $scope.init = function () {
                                    console.log('spartiiiiiiii');
                                }
                            }])
                </script>


            {% endblock %}
