<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cipher Bliss - Portfolio - B. Lemoine - ingénieur site web freelance{% endblock %}</title>

    {% include 'Default/head.html.twig' %}
    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</head>
    <body>
    <header id="masthead" class="site-header">
        {% block masterhead %}

            <div class="site-branding">
                <h1 id="site-title" class="site-title" itemprop="headline">
                    <a href="https://portfolio.cipherbliss.com/" rel="home">Cipher Bliss. Portfolio</a>
                </h1>
                <div id="site-description" class="site-description" itemprop="description">Code, nouvelles technologies et entrepreneurariat par B. Lemoine</div>
            </div><!-- .site-branding -->

        {% endblock masterhead %}
        {% block main_menu %}
            {% include 'Default/nav.html.twig' %}
        {% endblock %}
        {% block sub_menu %}

            {% include 'Default/menu.html.twig' %}
        {% endblock %}
    </header>
    <div id="content">
        <main id="main">
            {% block bigBody %}
            <div class="layout-1c">
                <div class="entry">
                    <div class="entry-content">
                    {% block body %}{% endblock %}
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </main>
    </div>
    <footer id="main_footer">
        <div class="site-info">
            {% block footer %}{% endblock %}
            {% include 'part/share.html.twig' %}
            {% include 'part/links.html.twig' %}
        </div>
        <!-- .site-info -->
    </footer>
    </body>

</html>
