{% if apps is defined %}

    {% block apps %}

        {% if style is defined and style == 'vertical' %}
        {% for appli in apps %}
            {% if appli.display != 0 %}
            <div class="app row-fluid well">
                <div class=" span7">
                    <a  href="{{path('apps', { 'name' : appli.link }) }}">
                        <h3>
                            <img class="logo icon" src="{{ asset('img/portfolio/medias/apps/')}}{{ appli.link }}/icon.png" alt="logo" />
                            {{ appli.name | trans }}
                        </h3>
                    {{ appli.info | trans | replace({"\'" : "'"})  }}
                    </a>
                        {% if appli.github %}
                        <a href="{{ appli.github }}" class="">
                            <img src="https://raw.github.com/github/media/master/octocats/blacktocat-32.png" alt="lien github" />
                        </a>
                        <br/>
                        {% endif %}
                </div>
            

                
    <div class="demo span2">
        <a href="{{path('apps', { 'name' : appli.link }) }}">
            <img src="{{ asset('img/portfolio/medias/apps/') }}{{ appli.link }}/preview.jpg" alt="apperçu de l'application {{ appli.name }}" />
        </a>
    </div>
        <div class="dl_bloc span2">
                            <a href="{{ asset('img/portfolio/medias/apps/')}}{{ appli.link }}/{{ appli.dllink }}">
                                <img width="30px" class="logo icon" src="{{ asset('img/portfolio/deco/')}}dl.png" alt="Télécharger" />
                                <br/>
                                {{ appli.dllink }}
                            </a>
        </div>
</div>


{% endif %}

            {% endfor %}
        {% else %}
            {% for appli in apps %}
                {% if appli.display != 0 %}
                    <a href="{{path('apps', { 'name' : appli.link }) }}">
                        <div class="well">
                            <img class="logo icon" src="{{ asset('img/portfolio/medias/apps/') }}{{ appli.link }}/icon.png" alt="logo {{ appli.name }}">
                            <br/>
                    {{ appli.name | trans }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endif %}