{% extends "TykaynPortfolioBundle:Default:index.html.twig" %}
{% block main %}
    <div class="contenu spoil_app"  onload="prettyPrint();">
	<h1 class="well">Boites de spoil</h1>
	Avec ce petit javascript utilisant jQuery vous allez pouvoir réaliser des espaces de contenus cachés (ou spoil).
	<div class="spoil">
	Cliquez moi pour montrer ou cacher du texte en plus
	<div> bravo! voici du texte en plus</div>
	</div>

	<div class="spoil">
	un spoil sur la bible
		<div> Jésus meurt</div>
	</div>
	<div class="spoil">
	<h2 class="well">Comment mettre en place ce système?</h2>
		<div> 
		
	Pour mettre en place ce système il suffit de suivre cette écriture dans une page HTML et d'insérer le javascript qui suit.
        Ce qui suit donnera l'exemple avec le spoil précédent:
	<textarea  class="input-xxlarge" >
	<div class="spoil">
	un spoil sur la bible
		<div> Jésus meurt</div>
	</div>
	</textarea><br/>
	Comme vous pouvez le voir il suffit de deux divisions de page imbriquées et que la première comporte une classe "spoil".
		Javascript pour ce code
		<textarea class="input-xxlarge" >
	$(document).ready(function(){
            $(".spoil div").hide().before("<span class='spoil_button btn btn-success '>(voir la suite)</span>");
            text_to_hide = "(cacher)";
            text_to_show = "(voir la suite)";
            
            $(".spoil_button").on('click' , function(){


                self = $(this);
                self.parent().children("div").toggle("fast");
                spoiltexte = self.children(".spoil_button").text();
                if(spoiltexte == text_to_show){
                    self.children(".spoil_button").text(text_to_hide);}
                else{
                    self.children(".spoil_button").text(text_to_show);
                }

            });
	});
		</textarea></div>
	</div>
	<div class="spoil prettyprint">On ne peut afficher que du texte?
		<div> on peut aussi afficher des images, des vidéos, et tout ce qu'on veut d'ailleurs.<br/>
		
                <iframe width="420" height="315" src="//www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
                <br/>
                <img src="{{ asset('img/portfolio/medias/apps/random-picture/img/icon_random_picture_pink.png') }}" alt="dé bleu"/>
		<img src="{{ asset('img/portfolio/medias/apps/random-picture/img/icon_random_picture_green.png') }}" alt="dé vert"/>
		<img src="{{ asset('img/portfolio/medias/apps/random-picture/img/icon_random_picture_orange.png') }}" alt="dé orange"/>
		</div>
	</div>
	<div class="spoil prettyprint">
	Pourquoi pas faire un Menu
		<div> paye ton choix.
			<ul>
			<li><a href="http://cipherbliss.com">mon portfolio</a></li>
			<li><a href="http://tykayn.fr">mon blog d'art</a></li>
			<li><a href="mailto:contact@cipherbliss.com">mon email</a></li>
			</ul>
			</div>
	</div>
		<div class="spoil prettyprint">
		Spoil-ception
			<div>
				<div class="spoil">
					oh encore une boite!
					<div class="spoil"> 
					<blockquote>we must go deeper!</blockquote>
						<div>
						<img src="http://rlv.zcache.com/impossibru_sticker-p217268160122202756zvfp8_400.jpg" alt="impossiburu!"/>
						</div>
					</div>
				</div>
			</div>
		</div>
<br/>
		<div class="well">
		Mes autres applis:
                <hr/>
			<div>
                                
				    {% include 'TykaynPortfolioBundle:Apps:apps.html.twig'%}
			</div>
		</div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js" type="text/javascript"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript">
	$(document).ready(function(){
            $(".spoil div").hide().addClass('spoiler_revealation').before("<span class='spoil_button btn btn-success '>(voir la suite)</span>");
            text_to_hide = "(cacher)";
            text_to_show = "(voir la suite)";
            
            $(".spoil_button").on('click' , function(){


                self = $(this);
                self.parent().children(".spoiler_revealation").toggle("fast").css('visibility','visible');
                spoiltexte = self.children(".spoil_button").text();
                if(spoiltexte == text_to_show){
                    self.children(".spoil_button").text(text_to_hide);}
                else{
                    self.children(".spoil_button").text(text_to_show);
                }

            });
	});
	</script>
        
<link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" type="text/css">

{% endblock %}