{% extends "TykaynPortfolioBundle:Default:index.html.twig" %}

            {% block stylesheets %}
            {% stylesheets
                'css/bootstrap.min.css'
                'css/bootstrap.css'
                '@TykaynPortfolioBundle/Resources/public/css/tk_portfolio.css'
                '@TykaynPortfolioBundle/Resources/public/css/help-timeline.css'
                '@TykaynPortfolioBundle/Resources/public/css/timeline.css'
                
                filter='cssrewrite, yui_css' %}
<link rel="stylesheet" href="{{ asset_url }}" />

            {% endstylesheets %}
            {% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ asset('css/timeline.css') }}" />
<link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" type="text/css">
<br/><br/>
<div class="menu row-fluid">
    <img src="{{ asset('img/portfolio/medias/apps/timeline/icon.png') }}" alt="icone"/>
    <a class="span2" href="#dl"> Télécharger</a>
    <a class="span2"  href="#exemple"> Exemple</a>
    <a class="span2"  href="#tableau"> Le tableau d'évènements</a>
    <a class="span2"  href="#options"> Les options</a>
    <a class="span2"  href="#autres_methodes"> Les autres méthodes</a>
    <a class="span2" href="#test"> Testez !</a>
</div>
<h1 id="dl">Timeline TK</h1>
<!-- <a href="function_timeline.zip"><img alt="télécharger l'application random picture" src="http://cipherbliss.com/decoration/dl.png"/>Télécharger la classe php</a><br/>-->






<div class="span12">
    <a class="btn btn-primary pull-left" href="function_timeline.zip">
    <img alt="télécharger l'application random picture" src="{{ asset('img/portfolio/deco/dl.png' ) }}"/>
                    Télécharger la classe php</a>
<div class="span5">
            Bienvenue dans la page d'aide de la Timeline TK.<br/>
            Code disponible et à jour sur <a href="http://github.com/tykayn" title="page github de tykayn">http://github.com/tykayn</a><br/>
            Pour utiliser cette classe il suffit de lui donner en paramètre un tableau php et de mettre en place le css et le js.
            Si le jour actuel est présent dans la frise il est noté par une barre orange de la taille d'une journée.
</div>

</div>
                            
                    
            <h2 id="exemple">Exemple</h2>
            Code php:
            <code class="prettyprint linenums lang-php">

                <br/>include('function.timeline.php');
                <br/><br/>$tableau = array(
                <br/>	"01/01/2007,30/12/2007" => "2007",
                <br/>	date('d/m/Y') => "today ",
                <br/>	"01/01/2008,30/12/2008" => "2008",
                <br/>	"12/08/10" => "plus tard "
                <br/>		);
                <br/>		
                <br/>	$t = new timeline();
                <br/>	echo $t->frise($tableau, "asc",940);
                <br/>	echo $t->css();

            </code>
            n'oubliez pas de faire les echo() <br/>
            Ce qui donne ceci:

            <span class="demo">
        {{ timeline.3 | raw}}
                </span>


                <h2 id="tableau">Le tableau d'évènements</h2>
                votre tableau de dates , un array() en PHP, lié à des descriptions peut être écrit de deux façons:
                <ul>
                    <li>évènement ponctuel.<br/>
                        "JJ/MM/AAAA" => "description"<br/>
                        "JJ/MM/AAAA" => "description"
                    </li>
                    <li>Durée entre deux dates.<br/>
                        "JJ/MM/AAAA,JJ/MM/AAAA" => "description"<br/>
                        "AAAA-MM-JJ,AAAA-MM-JJ" => "description"
                    </li>
                </ul>
                Les descriptions peuvent contenir du texte, des images, des liens, ce que vous voulez.
                Par défaut les bulles d'évènement mesurent 200pixels de large.
                <h2 id="options">Les options</h2>
                
                <strong>frise</strong>($array, $order="asc", $taille_frise=1000, $op=0)
                <ul>
                    <li>$taille_frise : Largeur de la frise en pixels, un nombre entier.  Par défaut: 800.</li>
                    <li>$order : Ordre des dates, <i>asc</i> ou <i>desc</i>. Par défaut: asc .</li>
                </ul>
                <h2 id="autres_methodes">Les autres méthodes</h2>
                Pour ces méthodes, les dates doivent être des chaînes de caractère et s'écrire dans le format "JJ/MM/AAAA".
                <ul>
                    <li><strong>ecart</strong>( $date ) <br/>dit il y a combien de temps s'est passé ou va se passer la date entrée.</li>
                    <li><strong>entre_deux</strong>( $date_start , $date_end ) <br/>donne le nombre de jours entre deux dates.</li>
                    <li><strong>datejour</strong>( $date ) <br/>donne le nombre jour de la semaine (en Français) de la date.</li>
                </ul>
                <h3> Exemples</h3>
    <span class="demo">
        {% autoescape %}{{ timeline.1 | raw}}{% endautoescape %}
        </span>
        <span class="demo">
        {% autoescape %}{{ timeline.2 | raw}}{% endautoescape %}
        </span>
                Après avoir instancié votre objet de timeline
                <code class="prettyprint linenums lang-php"> $t = new timeline();</code><br/>

                Vous pouvez utiliser ses fonctions.

                <code class="prettyprint linenums lang-php">echo 'Aujourd\'hui : '.$t->datejour(date('Y-m-d'));</code><br/>
                {{ timeline.6 | raw}}
                <br/>
                <code class="prettyprint linenums lang-php">echo 'Le jour de ma naissance était un '.$t->datejour('1987-09-16');</code><br/>

                {{ timeline.4 | raw}}
                <br/>
                <code class="prettyprint linenums lang-php">echo 'Ce portfolio a été créé le 15/08/2009, c\'est à dire ' .<br/> $t->ecart('2009-08-15').<br/>' et c\'était un '.<br/>$t->datejour('2009-08-15');</code><br/><br/>
                {{ timeline.5 | raw}}
                    
                Et voici une frise pour visualiser ces données:
                {{ timeline.2 | raw}}
                Ce qui a été fait comme ceci:
                <code class="prettyprint linenums lang-php">
                    $tableau2 = array(<br/>
                    "16/09/1987" => "ma naissance <img src='http://lh6.ggpht.com/_tvmQfLNuqJc/TLQ7H69-5EI/AAAAAAAANrQ/iFSGpVxwyHA/tykayn.jpg' alt='avatar'/> ",<br/>
                    "15/08/2009,".date('d/m/Y') => "vie du portfolio",<br/>
                    date('d/m/Y') => "aujourd'hui"<br/>
                    );<br/>
                    echo $t->frise($tableau2, "asc",600);
                </code>
                <br/>
                Et voilà, bonnes frises à vous.<br/>
            <!--    <h2 id="test">Testez avec vos propres valeurs</h2>

                <fieldset>
                    <legend>Remplissez les champs suivants</legend>
                    <form method='get' action='test.php'>
                        <input type=date name="un" placeholder='date' required value=""/>
                        <input type=text name="un_t" placeholder='description'value=""/><br/>

                        <input type=date name="deux" placeholder='date' required value=""/>
                        <input type=text name="deux_t" placeholder='description' value=""/><br/>

                        <input type=date name="trois" placeholder='date' required value=""/>
                        <input type=text name="trois_t" placeholder='description' value=""/><br/>

                        <input class="btn btn-primary" type=submit value="envoyer la purée">
                        <input type=hidden name="friseform" value="yay" />
                    </form>
                </fieldset>
            -->

                Si vous avez des améliorations de ce script à me proposer, contribuez sur <a href="https://github.com/tykayn">mon github</a><br/><br/>
                <a class="btn btn-primary" href="function_timeline.zip">
                    <img alt="télécharger l'application random picture" src="{{ asset('img/portfolio/deco/dl.png' ) }}"/>
                    Télécharger la classe php</a>
                <br/>

                <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

{% endblock %}

{% block js %}
    {% javascripts
        'js/prettify.js'
        'http://code.jquery.com/jquery.js'
        'js/bootstrap.js'
        'js/modernizr.js'
        '@TykaynPortfolioBundle/Resources/public/js/portfolio.js'
        '@TykaynPortfolioBundle/Resources/public/js/timeline.js'

                     %}
                <script src="{{ asset_url }}"></script>

                <script>
                    $(document).ready(function() {

                        boxes = $('.timelinebloc:not(.marqueur)');
                        line_height = $('.timelinebloc:first-child').outerHeight();
                        // line_height = 50 ;
                        int = 0;
                        box_w = 150;

                        /**** hauteur des boites de frise selon le nombre d'évènements ****/

                        //ajuster la hauteur de la frise
                        $('.timeline-tk').each(function(index) {
                            lignes = $(this).data('events') * 1 - 1;
                            console.log('frise ' + index + 'lignes : ' + lignes)
                            $(this).css('height', (lignes + 1) * line_height);
                        })
                        //déplacer les blocs selon leur numéro de ligne
                        $('.timelinebloc').each(function(index) {
                            nb = $(this).data('nb') * 1;
                            console.log('bloc ' + index + 'lignes : ' + nb)
                            $(this).css('margin-top', nb * line_height);
                        })

                        console.log('inclusion ok');



                        if (prettyPrint !== undefined) {
                            $('code, textarea').addClass('prettyprint linenums');
                            $('.prettyprint').prettyPrint();
                        }
                    });
                    </script>
    {% endjavascripts %}


{% endblock %}